@use "uniform/core" as *;
@use "uniform/config" as *;
@use "sass:map";
@use "sass:list";

$keyword: align-content;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-content);

$variants: (
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around
);

$pseudos: ();

$config: (
  align-content: (
    keyword: $keyword,
    responsive: $responsive,
    responsive-pseudos: $responsive-pseudos,
    properties: $properties,
    default-variants: $variants,
    default-pseudos: $pseudos
  )
);

$default-config: map.deep-merge($default-config, $config);