@use "uniform/core" as *;
@use "uniform/config" as *;
@use "sass:map";
@use "sass:list";

$keyword: align-content;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-content);

$variants: (
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around
);

$pseudos: ();

$config: (
  align-content: (
    keyword: $keyword,
    responsive: $responsive,
    responsive-pseudos: $responsive-pseudos,
    properties: $properties,
    variants: $variants,
    pseudos: $pseudos
  )
);

$default-config: map.merge($default-config, $config);

// (
//   "weights": (
//     "lightest": 100,
//     "light": 300,
//     "medium": 500,
//     "bold": 700
//   )
// )
