@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: padding-right;
$keyword: pr;
$responsive: true;
$responsive-pseudos: false;

$properties: (padding-right);

$variants: (
	staging.merge(
		staging.positive-sizes()
	)
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);