@use "uniform/config" as *;
@use "sass:map";

$keyword: pb;
$responsive: true;
$responsive-pseudos: false;

$properties: (padding-bottom);

$variants: (
	merge(
		positive-sizes()
	)
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (first, last);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
