@use "uniform/core";
@use "sass:map";

$name: padding-bottom;
$keyword: pb;
$responsive: true;
$responsive-pseudos: false;

$properties: (padding-bottom);

$variants: (
	core.merge(
		core.positive-sizes()
	)
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);