@use "uniform/core";
@use "sass:map";

$name: padding-left;
$keyword: pl;
$responsive: true;
$responsive-pseudos: false;

$properties: (padding-left);
$custom-properties: ();

$variants: (
	core.merge(
    core.positive-sizes(24),
    (
      0: 0,
    )
	)
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);