@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: pt;
$responsive: true;
$responsive-pseudos: false;

$properties: (padding-top);

$core-variants: (
	merge(
		positive-sizes()
	)
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: (first, last);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
