:root {
	--body-text-color: #434446;
	--font-sans: 'Manrope', sans-serif;
	--font-mono: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;

	--body-font-weight: 400;
	--font-light: 300;
	--font-regular: 400;
	--font-semibold: 500;
	--font-bold: 600;
	--font-extrabold: 800;
	--table-shadow: 0 7px 30px #19193b1c;
}