@use "uniform" as * with (
  $config: (    
		debugger: false,
		dark-mode: true,
		gradients: (
			flare: conic-gradient(from 240deg at 51.63% 52.16%, #1800ff 0deg, rgb(0 150 255) 20deg, rgb(255 12 140) 100deg, rgb(255 193 149) 167deg, rgb(255 98 53) 208deg, #691eff 290deg)
		),
    utility: (
      background-color: (
      	pseudos: (active, hover, focus, group-hover, empty, dark)
      ),
      background-darken: (
        pseudos: (active, dark)
      ),
      opacity: (
        pseudos: (focus, disabled, group-hover, dark)
      ),
      border-color: (
      	pseudos: (focus-within, dark)
      ),
      color: (
        pseudos: (hover, group-hover, group-focus, dark)
      )
    ),
    exclude: (
      
    ),
    include: (
      
    )
  )
);

@use "_roots" as *;
@use "_comparison-slider" as *;
@use "vendors/prism" as *;


.gallery {
  display: flex;
  position: relative;
	overflow: hidden;
}

.gallery__images {
  display: flex;
	animation: slideshow 60s linear infinite;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.docs-sidebar:before {
  position: absolute;
  right: 0;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #65ace0 10%, #3880b5 30%, #0a496c 75%, #101d36 100%);
}

.toc {
	font-size: font-size(sm);
	font-weight: font-weight(semibold);
	line-height: leading(tight);
	a {
		color: fill(gray-200);
		&:hover {
			color: fill(black);
		}
	}
	& > ol {
		ol {
			display: none;
		}
		& > li {
			margin-bottom: size(10);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.home-highlight {
	pre[class*=language-] {
		background: transparent;
	}
}

.markdown-glossary {
	& > table td {
		font-size: font-size(sm);
		&:first-child {
			color: fill(cyan, brighten-4, darken-2);
		}
		&:last-child {
			color: fill(silver-900);
		}
	}
}



.markdown {
	& > h1, 
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		a {
			display: none;
			font-weight: 500;
			color: var(--secondary-a500);
		}
		&:hover {
			a {
				display: inline;
			}
		}
	}

	& > pre {
		border-radius: var(--radius-md);
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	// & > p a {
	// 	color: fill(secondary-a);
	// }
}