@use "uniform" as * with (
  $config: (
    colors: (
      custom: red,
      custom-hsl: (
        hue: 225, saturation: 100%, lightness: 40%
      )
    ),
    utilities: (
      // leading-trim: (
      //   keyword: leading,
      //   responsive: true,
      //   properties: (leading-trim),
      //   variants: (
      //     trimmer: trim
      //   )
      // ),
      // background-color: (
      // 	pseudos: (active, focus, group-hover)
      // ),
      // border-color: (
      // 	pseudos: (focus-within)
      // ),
      // color: (
      //   responsive: true,
      //   pseudos: (focus)
      // ),
    ),
    excludes: (

    )
  )
);

@forward "uniform";

