@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: min-h;
$responsive: true;
$responsive-pseudos: false;

$properties: (min-height);

$core-variants: (
  merge(
    positive-sizes(),
    (
      100p: 100%,
      100vh: 100vh,
      50p: 50%,
      50vh: 50vh,
      
      px: 1px,
      2px: 2px,
      3px: 3px,

      '100px': 100px,
      '200px': 200px,
      '300px': 300px,
      '400px': 400px,
      '500px': 500px,
      '600px': 600px,
      '700px': 700px,
      '800px': 800px,
      '900px': 900px,
    )
  )
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
