<div class="w-100p max-w-448 mx-auto flex-1 bg-cool-gray bg-shade-700 shadow-md radius-xl overflow-hidden">
  <div class="flex align-items-center p-24 color-white text-xl bold">
    <ion-icon name="resize" class="text-3xl mr-10"></ion-icon> Sizing
  </div>
  <div class="bg-black radius-xl color-white p-32">
    <ul class="gutter-y-10">
      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-1</code>
        <div class="w-100p h-1 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">1px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-2</code>
        <div class="w-100p h-2 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">2px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-3</code>
        <div class="w-100p h-3 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">3px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-4</code>
        <div class="w-100p h-4 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">4px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-5</code>
        <div class="w-100p h-5 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">5px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-6</code>
        <div class="w-100p h-6 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">6px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-7</code>
        <div class="w-100p h-7 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">7px</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm mr-20">.h-8</code>
        <div class="w-100p h-8 bg-primary b2g-opacity-40"></div>
        <code class="flex-none text-xs radius-sm ml-20">8px</code>
      </li>
      
    </ul>
  </div>
</div>