<div class="w-100p max-w-448 mx-auto flex-1 bg-cool-gray bg-shade-700 shadow-md radius-xl overflow-hidden">
  <div class="flex align-items-center p-24 color-white text-xl bold">
    <ion-icon name="text" class="text-3xl mr-10"></ion-icon> Typography
  </div>
  <div class="bg-black radius-xl color-white p-32">
    <ul>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.ultralight</code>
        <div class="w-100p color-primary ultralight text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">100</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.extralight</code>
        <div class="w-100p color-primary extralight text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">200</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.light</code>
        <div class="w-100p color-primary light text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">300</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.regular</code>
        <div class="w-100p color-primary regular text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">400</code>
      </li>

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.medium</code>
        <div class="w-100p color-primary medium text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">500</code>
      </li>   

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.semibold</code>
        <div class="w-100p color-primary semibold text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">600</code>
      </li>   

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.bold</code>
        <div class="w-100p color-primary bold text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">700</code>
      </li>   

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.extrabold</code>
        <div class="w-100p color-primary extrabold text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">800</code>
      </li> 

      <li class="flex align-items-center">
        <code class="flex-none text-xs radius-sm w-96 mr-20">.ultrabold</code>
        <div class="w-100p color-primary ultrabold text-xl">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm ml-20">900</code>
      </li>      
    </ul>
  </div>
</div>