@use "uniform/core" as *;

/*
CUSTOM PROPERTIES

--label-font-size
--label-font-weight
--label-color
--label-tracking
--label-text-transform
--label-required-color



--input-height
--input-padding
--input-bg
--input-border
--input-radius
--input-shadow
--input-transition
--input-hover-border
--input-hover-shadow
--input-focus-border
--input-focus-shadow



--input-disabled-bg
--input-disabled-color
--input-success-border
--input-focus-success-shadow
--input-warning-border
--input-focus-warning-shadow
--input-danger-border
--input-focus-danger-shadow



--input-xs-height
--input-xs-padding
--input-xs-font-size
--input-sm-height
--input-sm-padding
--input-sm-font-size
--input-md-height
--input-md-padding
--input-md-font-size
--input-lg-height
--input-lg-padding
--input-lg-font-size
--input-xl-height
--input-xl-padding
--input-xl-font-size



--checkbox-size
--checkbox-margin
--checkbox-radius
--checkbox-border
--checkbox-bg
--checkbox-transition
--checkbox-hover-border
--checkbox-checked-bg
--checkbox-checked-border
--checkbox-disabled-bg
--checkbox-disabled-color



--radio-size
--radio-margin
--radio-radius
--radio-border
--radio-bg
--radio-transition
--radio-hover-border
--radio-checked-bg
--radio-checked-border
--radio-disabled-bg
--radio-disabled-color



--toggle-width
--toggle-height
--toggle-bg
--toggle-transition
--toggle-radius
--toggle-hover-bg
--toggle-checked-bg
--toggle-checked-translate
--toggle-disabled-bg



--select-height
--select-padding
--select-bg
--select-border
--select-radius
--select-shadow
--select-font-size
--select-transition
--select-hover-border
--select-hover-shadow
--select-focus-border
--select-focus-shadow
--select-disabled-bg
--select-disabled-color
--select-angle-color
--select-hover-angle-color
--select-hover-focus-color
--select-success-border
--select-focus-success-shadow
--select-warning-border
--select-focus-warning-shadow
--select-danger-border
--select-focus-danger-shadow

--select-xs-height
--select-xs-padding
--select-xs-font-size

--select-sm-height
--select-sm-padding
--select-sm-font-size

--select-md-height
--select-md-padding
--select-md-font-size

--select-lg-height
--select-lg-padding
--select-lg-font-size

--select-xl-height
--select-xl-padding
--select-xl-font-size



--textarea-padding
--textarea-bg
--textarea-border
--textarea-radius
--textarea-shadow
--textarea-transition

--textarea-hover-border
--textarea-hover-shadow
--textarea-focus-border
--textarea-focus-shadow
--textarea-disabled-bg
--textarea-disabled-color
--textarea-success-border
--textarea-focus-success-shadow
--textarea-warning-border
--textarea-focus-warning-shadow
--textarea-danger-border
--textarea-focus-danger-shadow
*/

@if $include-form-module == true and $headless == false {

  /******************************
  LABEL
  ******************************/

  .label {
    display: inline-block;
    font-size: var(--label-font-size, font-size(xs));
    font-weight: var(--label-font-weight, 600);
    color: var(--label-color, black);
    letter-spacing: var(--label-tracking, 0);
    text-transform: var(--label-text-transform, none);
    &.is-required {
      &:after {
        content: '*';
        position: relative;
        display: inline-block;
        top: -2px;
        left: 2px;
        color: var(--label-required-color, fill(red));
      }
    }
  }


  /******************************
  INPUT
  ******************************/

  .input {
    appearance: none;
    outline: 0;
    position: relative;
    width: 100%;
    height: var(--input-height, size(40));
    padding: var(--input-padding, size(0, 16));
    background: var(--input-bg, white);
    border: var(--input-border, 1px solid fill(silver-300));
    border-radius: var(--input-radius, radius(xs));
    box-shadow: var(--input-shadow, none);
    transition: var(--input-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--input-hover-border, 1px solid fill(silver-500));
      box-shadow: var(--input-hover-shadow, none);
    }
    &:focus {
      border: var(--input-focus-border, 1px solid fill(silver-500));
      box-shadow: var(--input-focus-shadow, shadow(focus));
    }
    &:disabled {
      background: var(--input-disabled-bg, fill(silver-300));
      color: var(--input-disabled-color, fill(gray-400));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--input-success-border, 1px solid fill(lime, brighten-2));
      &:focus {
        box-shadow: var(--input-focus-success-shadow, shadow(focus-success));
      }
    }
    &.is-warning {
      border: var(--input-warning-border, 1px solid fill(yellow, brighten-8));
      &:focus {
        box-shadow: var(--input-focus-warning-shadow, shadow(focus-warning));
      }
    }
    &.is-danger {
      border: var(--input-danger-border, 1px solid fill(red, brighten-4, lighten-1));
      &:focus {
        box-shadow: var(--input-focus-danger-shadow, shadow(focus-danger));
      }
    }
  }

  // SIZES	
  .input-xs {
    height: var(--input-xs-height, size(24));
    padding: var(--input-xs-padding, size(0, 8));
    font-size: var(--input-xs-font-size, font-size(xs));
  }
  .input-sm {
    height: var(--input-sm-height, size(36));
    padding: var(--input-sm-padding, size(0, 12));
    font-size: var(--input-sm-font-size, font-size(sm));
  }
  .input-md {
    height: var(--input-md-height, size(40));
    padding: var(--input-md-padding, size(0, 16));
    font-size: var(--input-md-font-size, font-size(base));
  }
  .input-lg {
    height: var(--input-lg-height, size(48));
    padding: var(--input-lg-padding, size(0, 18));
    font-size: var(--input-lg-font-size, font-size(base));
  }
  .input-xl {
    height: var(--input-xl-height, size(56));
    padding: var(--input-xl-padding, size(0, 20));
    font-size: var(--input-xl-font-size, font-size(base));
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}input-xs {
        height: var(--input-xs-height, size(24));
        padding: var(--input-xs-padding, size(0, 8));
        font-size: var(--input-xs-font-size, font-size(xs));
      }
      .#{$screen}#{$screen-delimiter}input-sm {
        height: var(--input-sm-height, size(36));
        padding: var(--input-sm-padding, size(0, 12));
        font-size: var(--input-sm-font-size, font-size(sm));
      }
      .#{$screen}#{$screen-delimiter}input-md {
        height: var(--input-md-height, size(40));
        padding: var(--input-md-padding, size(0, 16));
        font-size: var(--input-md-font-size, font-size(base));
      }
      .#{$screen}#{$screen-delimiter}input-lg {
        height: var(--input-lg-height, size(48));
        padding: var(--input-lg-padding, size(0, 18));
        font-size: var(--input-lg-font-size, font-size(base));
      }
      .#{$screen}#{$screen-delimiter}input-xl {
        height: var(--input-xl-height, size(56));
        padding: var(--input-xl-padding, size(0, 20));
        font-size: var(--input-xl-font-size, font-size(base));
      }
    }
  }


  /******************************
  CHECKBOX
  ******************************/

  .checkbox {
    appearance: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    outline: 0;

    &:checked {
      background: url(data:image/svg+xml;utf8,%3Csvg%20width=%2210%22%20height=%229%22%20viewBox=%220%200%2010%208%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22%23FFFFFF%22%3E%3Cpath%20d=%22M3.46975%205.70757L1.88358%204.1225C1.65832%203.8974%201.29423%203.8974%201.06897%204.1225C0.843675%204.34765%200.843675%204.7116%201.06897%204.93674L3.0648%206.93117C3.29006%207.15628%203.65414%207.15628%203.8794%206.93117L8.93103%201.88306C9.15633%201.65792%209.15633%201.29397%208.93103%201.06883C8.70578%200.843736%208.34172%200.843724%208.11646%201.06879C8.11645%201.0688%208.11643%201.06882%208.11642%201.06883L3.46975%205.70757Z%22%20stroke-width=%220.2%22%20/%3E%3C/svg%3E) 1px 2px no-repeat rgb(94, 106, 210);
    }

    &:hover {
      .checkbox__checkmark {
        border: var(--checkbox-hover-border, 1px solid fill(silver-800));
      }
    }

    input {
      display: none;

      &:checked ~ .checkbox__checkmark {
        background: var(--checkbox-checked-bg, fill(primary-500));
        border: var(--checkbox-checked-border, 1px solid fill(primary-500));
        &:after {
          display: block;
        }
      }
      &:disabled ~ .checkbox__checkmark {
        background: var(--checkbox-disabled-bg, fill(silver-300));
        border-color: var(--checkbox-disabled-bg, fill(silver-500));
        &:after {
          border-color: var(--checkbox-disabled-color, fill(gray-400));
        }
      }
      &:focus ~ .checkbox__checkmark {
        box-shadow: var(--checkbox-focus-shadow, shadow(focus));
      }
    }
  }
  .checkbox__checkmark {
    flex: none;
    position: relative;
    width: var(--checkbox-size, size(18));
    height: var(--checkbox-size, size(18));
    margin-right: var(--checkbox-margin, size(8));
    background: var(--checkbox-bg, white);
    border: var(--checkbox-border, 1px solid fill(silver-500));
    border-radius: var(--checkbox-radius, radius(xs));
    transition: var(--checkbox-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    &:after {
      content: '';
      display: none;
      position: absolute;
      left: 5px;
      top: 1px;
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }


  /******************************
  RADIO
  ******************************/

  .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .radio__checkmark {
        border: var(--radio-hover-border, 1px solid fill(silver-800));
      }
    }

    input {
      display: none;
      &:checked ~ .radio__checkmark {
        background: var(--radio-checked-bg, fill(primary-500));
        border: var(--radio-checked-border, 1px solid fill(primary-500));
        &:after {
          display: block;
          background: white;
        }
      }
      &:disabled {
        & ~ .radio__checkmark {
          background: var(--radio-disabled-bg, fill(silver-300));
          border-color: var(--radio-disabled-bg, fill(silver-500));
          &:after {
            border-color: var(--radio-disabled-color, fill(gray-400));
            background: var(--radio-disabled-color, fill(gray-400));
          }
        }
      }
    }
  }

  .radio__checkmark {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--radio-size, size(18));
    height: var(--radio-size, size(18));
    margin-right: var(--radio-margin, size(8));
    border-radius: var(--radio-radius, 9999px);
    border: var(--radio-border, 1px solid fill(silver-500));
    background: var(--radio-bg, white);
    transition: var(--radio-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    &:after {
      content: '';
      display: none;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: var(--radio-radius, 9999px);
    }
  }


  /******************************
  TOGGLE
  ******************************/

  .toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .toggle__switch {
        background: var(--toggle-hover-bg, fill(silver-700));
      }
    }

    input {
      display: none;
      &:checked + .toggle__switch {
        background: var(--toggle-checked-bg, fill(green, brighten-2));
      }
      &:checked + .toggle__switch:before {
        transform: translateX(var(--toggle-checked-translate, size(20)));
      }
      &:disabled + .toggle__switch {
        background: var(--toggle-disabled-bg, fill(gray-100));
      }
    }
  }
  .toggle__switch {
    position: relative;
    width: var(--toggle-width, size(40));
    height: var(--toggle-height, size(20));
    background: var(--toggle-bg, fill(silver-500));
    transition: var(--toggle-transition, background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms);
    border-radius: var(--toggle-radius, 9999px);

    &:before {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 3px;
      width: 14px;
      height: 14px;
      background: white;
      border-radius: 9999px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      transition: background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms;
    }
  }


  /******************************
  SELECT
  ******************************/
  
  .select {
    position: relative;
    width: 100%;

    select {
      width: 100%;
      height: var(--select-height, size(40));
      padding: var(--select-padding, size(0, 16));
      background: var(--select-bg, white);
      border: var(--select-border, 1px solid fill(silver-300));
      border-radius: var(--select-radius, radius(xs));
      box-shadow: var(--select-shadow, none);
      outline: 0;
      appearance: none;
      font-size: var(--select-font-size, font-size(md));
      line-height: 1.5;
      transition: var(--select-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);
      cursor: pointer;

      // PSEUDOS
      &:hover {
        border: var(--select-hover-border, 1px solid fill(silver-500));
        box-shadow: var(--select-hover-shadow, none);
      }
      &:focus {
        border: var(--select-focus-border, 1px solid fill(silver-500));
        box-shadow: var(--select-focus-shadow, shadow(focus));
      }
      &:disabled {
        background: var(--select-disabled-bg, fill(silver-300));
        color: var(--select-disabled-color, fill(gray-400));
        pointer-events: none;
      }
    }

    &:hover {
      &:after {
        border-color: var(--select-hover-angle-color, black);
      }
    }
    &:focus {
      &:after {
        border-color: var(--select-hover-focus-color, black);
      }
    }

    // ANGLE
    &:after {
      position: absolute;
      top: calc(50% - 6px);
      right: size(14);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: solid var(--select-angle-color, fill(gray-300));
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: 100ms;
    }

    // STATES
    &.is-success select {
      border: var(--select-success-border, 1px solid fill(lime, brighten-2));
      &:focus {
        box-shadow: var(--select-focus-success-shadow, shadow(focus-success));
      }
    }
    &.is-warning select {
      border: var(--select-warning-border, 1px solid fill(yellow, brighten-8));
      &:focus {
        box-shadow: var(--select-focus-warning-shadow, shadow(focus-warning));
      }
    }
    &.is-danger select {
      border: var(--select-danger-border, 1px solid fill(red, brighten-4, lighten-1));
      &:focus {
        box-shadow: var(--select-focus-danger-shadow, shadow(focus-danger));
      }
    }
  }

  

  // SIZES
  .select-xs {
    select {
      height: var(--select-xs-height, size(24));
      padding: var(--select-xs-padding, size(0, 8));
      font-size: var(--select-xs-font-size, font-size(xs));
    }
    &:after {
      right: size(14);
    }
  }
  .select-sm {
    select {
      height: var(--select-sm-height, size(36));
      padding: var(--select-sm-padding, size(0, 12));
      font-size: var(--select-sm-font-size, font-size(sm));
    }
    &:after {
      right: size(14);
    }
  }
  .select-md {
    select {
      height: var(--select-md-height, size(40));
      padding: var(--select-md-padding, size(0, 16));
      font-size: var(--select-md-font-size, font-size(base));
    }
    &:after {
      right: size(16);
    }
  }
  .select-lg {
    select {
      height: var(--select-lg-height, size(48));
      padding: var(--select-lg-padding, size(0, 18));
      font-size: var(--select-lg-font-size, font-size(base));
    }
    &:after {
      right: size(18);
    }
  }
  .select-xl {
    select {
      height: var(--select-xl-height, size(56));
      padding: var(--select-xl-padding, size(0, 20));
      font-size: var(--select-xl-font-size, font-size(base));
    }
    &:after {
      right: size(20);
    }
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}select-xs {
        select {
          height: var(--select-xs-height, size(24));
          padding: var(--select-xs-padding, size(0, 8));
          font-size: var(--select-xs-font-size, font-size(xs));
        }
        &:after {
          right: size(14);
        }
      }
      .#{$screen}#{$screen-delimiter}select-sm {
        select {
          height: var(--select-sm-height, size(36));
          padding: var(--select-sm-padding, size(0, 12));
          font-size: var(--select-sm-font-size, font-size(sm));
        }
        &:after {
          right: size(14);
        }
      }
      .#{$screen}#{$screen-delimiter}select-md {
        select {
          height: var(--select-md-height, size(40));
          padding: var(--select-md-padding, size(0, 16));
          font-size: var(--select-md-font-size, font-size(base));
        }
        &:after {
          right: size(16);
        }
      }
      .#{$screen}#{$screen-delimiter}select-lg {
        select {
          height: var(--select-lg-height, size(48));
          padding: var(--select-lg-padding, size(0, 18));
          font-size: var(--select-lg-font-size, font-size(base));
        }
        &:after {
          right: size(18);
        }
      }
      .#{$screen}#{$screen-delimiter}select-xl {
        select {
          height: var(--select-xl-height, size(56));
          padding: var(--select-xl-padding, size(0, 20));
          font-size: var(--select-xl-font-size, font-size(base));
        }
        &:after {
          right: size(20);
        }
      }

      
    }
  }


  /******************************
  TEXTAREA
  ******************************/

  .textarea {
    position: relative;
    width: 100%;
    padding: var(--textarea-padding, size(16));
    background: var(--textarea-bg, white);
    border: var(--textarea-border, 1px solid fill(silver-300));
    border-radius: var(--textarea-radius, radius(xs));
    box-shadow: var(--textarea-shadow, none);
    outline: 0;
    appearance: none;
    transition: var(--textarea-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--textarea-hover-border, 1px solid fill(silver-500));
      box-shadow: var(--textarea-hover-shadow, none);
    }
    &:focus {
      border: var(--textarea-focus-border, 1px solid fill(silver-500));
      box-shadow: var(--textarea-focus-shadow, shadow(focus));
    }
    &:disabled {
      background: var(--textarea-disabled-bg, fill(silver-300));
      color: var(--textarea-disabled-color, fill(gray-400));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--textarea-success-border, 1px solid fill(lime, brighten-2));
      &:focus {
        box-shadow: var(--textarea-focus-success-shadow, shadow(focus-success));
      }
    }
    &.is-warning {
      border: var(--textarea-warning-border, 1px solid fill(yellow, brighten-8));
      &:focus {
        box-shadow: var(--textarea-focus-warning-shadow, shadow(focus-warning));
      }
    }
    &.is-danger {
      border: var(--textarea-danger-border, 1px solid fill(red, brighten-4, lighten-1));
      &:focus {
        box-shadow: var(--textarea-focus-danger-shadow, shadow(focus-danger));
      }
    }
  }


  /******************************
  SLIDER
  ******************************/

  .slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    outline: 0;
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background: #fff;
      cursor: pointer;
      border-radius: 9999px;
    }
    &::-moz-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background: #fff;
      cursor: pointer;
      border-radius: 9999px;
    }
  }
}
