@use "uniform/core" as *;

/*
CUSTOM PROPERTIES

--label-font-size
--label-font-weight
--label-color
--label-tracking
--label-text-transform
--label-required-color



--input-height
--input-padding
--input-bg
--input-border
--input-radius
--input-shadow
--input-transition
--input-hover-border
--input-hover-shadow
--input-focus-border
--input-focus-shadow



--input-disabled-bg
--input-disabled-color
--input-success-border
--input-focus-success-shadow
--input-warning-border
--input-focus-warning-shadow
--input-danger-border
--input-focus-danger-shadow



--input-xs-height
--input-xs-padding
--input-xs-font-size
--input-sm-height
--input-sm-padding
--input-sm-font-size
--input-md-height
--input-md-padding
--input-md-font-size
--input-lg-height
--input-lg-padding
--input-lg-font-size
--input-xl-height
--input-xl-padding
--input-xl-font-size



--checkbox-size
--checkbox-margin
--checkbox-radius
--checkbox-border
--checkbox-bg
--checkbox-transition
--checkbox-hover-border
--checkbox-checked-bg
--checkbox-checked-border
--checkbox-disabled-bg
--checkbox-disabled-color



--radio-size
--radio-margin
--radio-radius
--radio-border
--radio-bg
--radio-transition
--radio-hover-border
--radio-checked-bg
--radio-checked-border
--radio-disabled-bg
--radio-disabled-color



--toggle-width
--toggle-height
--toggle-bg
--toggle-transition
--toggle-radius
--toggle-hover-bg
--toggle-checked-bg
--toggle-checked-translate
--toggle-disabled-bg



--select-height
--select-padding
--select-bg
--select-border
--select-radius
--select-shadow
--select-font-size
--select-transition
--select-hover-border
--select-hover-shadow
--select-focus-border
--select-focus-shadow
--select-disabled-bg
--select-disabled-color
--select-angle-color
--select-hover-angle-color
--select-hover-focus-color
--select-success-border
--select-focus-success-shadow
--select-warning-border
--select-focus-warning-shadow
--select-danger-border
--select-focus-danger-shadow

--select-xs-height
--select-xs-padding
--select-xs-font-size

--select-sm-height
--select-sm-padding
--select-sm-font-size

--select-md-height
--select-md-padding
--select-md-font-size

--select-lg-height
--select-lg-padding
--select-lg-font-size

--select-xl-height
--select-xl-padding
--select-xl-font-size



--textarea-padding
--textarea-bg
--textarea-border
--textarea-radius
--textarea-shadow
--textarea-transition

--textarea-hover-border
--textarea-hover-shadow
--textarea-focus-border
--textarea-focus-shadow
--textarea-disabled-bg
--textarea-disabled-color
--textarea-success-border
--textarea-focus-success-shadow
--textarea-warning-border
--textarea-focus-warning-shadow
--textarea-danger-border
--textarea-focus-danger-shadow
*/

@if $include-form-module == true and $headless == false {

  /******************************
  LABEL
  ******************************/

  .label {
    display: inline-block;
    font-size: var(--label-font-size, var(--font-xs));
    font-weight: var(--label-font-weight, 600);
    color: var(--label-color, black);
    letter-spacing: var(--label-tracking, 0);
    text-transform: var(--label-text-transform, none);
    &.is-required {
      &:after {
        content: '*';
        position: relative;
        display: inline-block;
        top: -2px;
        left: 2px;
        color: var(--label-required-color, var(--red-500));
      }
    }
  }


  /******************************
  INPUT
  ******************************/

  .input {
    appearance: none;
    outline: 0;
    position: relative;
    width: 100%;
    height: var(--input-height, var(--size-10));
    padding: var(--input-padding, var(--size-0) var(--size-3));
    background: var(--input-bg, white);
    border: var(--input-border, 1px solid var(--silver-300));
    border-radius: var(--input-radius, var(--radius-xs));
    box-shadow: var(--input-shadow, none);
    transition: var(--input-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--input-hover-border, 1px solid var(--silver-500));
      box-shadow: var(--input-hover-shadow, none);
    }
    &:focus {
      border: var(--input-focus-border, 1px solid var(--indigo-500));
      box-shadow: var(--input-focus-shadow, var(--shadow-focus));
    }
    &:disabled {
      background: var(--input-disabled-bg, var(--silver-300));
      color: var(--input-disabled-color, var(--gray-400));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--input-success-border, 1px solid var(--green-500));
      &:focus {
        box-shadow: var(--input-focus-success-shadow, var(--shadow-success));
      }
    }
    &.is-warning {
      border: var(--input-warning-border, 1px solid var(--yellow-500));
      &:focus {
        box-shadow: var(--input-focus-warning-shadow, var(--shadow-warning));
      }
    }
    &.is-danger {
      border: var(--input-danger-border, 1px solid var(--red-500));
      &:focus {
        box-shadow: var(--input-focus-danger-shadow, var(--shadow-danger));
      }
    }
  }

  // SIZES	
  .input-xs {
    height: var(--input-xs-height, var(--size-8));
    padding: var(--input-xs-padding, var(--size-0) var(--size-3));
    font-size: var(--input-xs-font-size, var(--font-xs));
  }
  .input-sm {
    height: var(--input-sm-height, var(--size-9));
    padding: var(--input-sm-padding, var(--size-0) var(--size-3));
    font-size: var(--input-sm-font-size, var(--font-sm));
  }
  .input-md {
    height: var(--input-md-height, var(--size-10));
    padding: var(--input-md-padding, var(--size-0) var(--size-4));
    font-size: var(--input-md-font-size, var(--font-md));
  }
  .input-lg {
    height: var(--input-lg-height, var(--size-11));
    padding: var(--input-lg-padding, var(--size-0) var(--size-4));
    font-size: var(--input-lg-font-size, var(--font-md));
  }
  .input-xl {
    height: var(--input-xl-height, var(--size-12));
    padding: var(--input-xl-padding, var(--size-0) var(--size-4));
    font-size: var(--input-xl-font-size, var(--font-md));
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}input-xs {
        height: var(--input-xs-height, var(--size-8));
        padding: var(--input-xs-padding, var(--size-0) var(--size-3));
        font-size: var(--input-xs-font-size, var(--font-xs));
      }
      .#{$screen}#{$screen-delimiter}input-sm {
        height: var(--input-sm-height, var(--size-9));
        padding: var(--input-sm-padding, var(--size-0) var(--size-3));
        font-size: var(--input-sm-font-size, var(--font-sm));
      }
      .#{$screen}#{$screen-delimiter}input-md {
        height: var(--input-md-height, var(--size-10));
        padding: var(--input-md-padding, var(--size-0) var(--size-4));
        font-size: var(--input-md-font-size, var(--font-md));
      }
      .#{$screen}#{$screen-delimiter}input-lg {
        height: var(--input-lg-height, var(--size-11));
        padding: var(--input-lg-padding, var(--size-0) var(--size-4));
        font-size: var(--input-lg-font-size, var(--font-md));
      }
      .#{$screen}#{$screen-delimiter}input-xl {
        height: var(--input-xl-height, var(--size-12));
        padding: var(--input-xl-padding, var(--size-0) var(--size-4));
        font-size: var(--input-xl-font-size, var(--font-md));
      }
    }
  }


  /******************************
  CHECKBOX
  ******************************/

  .checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .checkbox#{$child-delimiter}checkmark {
        border: var(--checkbox-hover-border, 1px solid var(--silver-800));
      }
    }

    input {
      display: none;
      &:checked ~ .checkbox#{$child-delimiter}checkmark {
        background: var(--checkbox-checked-bg, var(--indigo-500));
        border: var(--checkbox-checked-border, 1px solid var(--indigo-500));
        &:after {
          display: block;
        }
      }
      &:disabled ~ .checkbox#{$child-delimiter}checkmark {
        background: var(--checkbox-disabled-bg, var(--silver-300));
        border-color: var(--checkbox-disabled-bg, var(--silver-500));
        &:after {
          border-color: var(--checkbox-disabled-color, var(--gray-400));
        }
      }
      &:focus ~ .checkbox#{$child-delimiter}checkmark {
        box-shadow: var(--checkbox-focus-shadow, var(--shadow-focus));
      }
    }
  }
  .checkbox#{$child-delimiter}checkmark {
    flex: none;
    position: relative;
    width: var(--checkbox-size, var(--size-4));
    height: var(--checkbox-size, var(--size-4));
    margin-right: var(--checkbox-margin, var(--size-3));
    background: var(--checkbox-bg, white);
    border: var(--checkbox-border, 1px solid var(--silver-500));
    border-radius: var(--checkbox-radius, var(--radius-xs));
    transition: var(--checkbox-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    &:after {
      content: '';
      display: none;
      position: absolute;
      left: 4px;
      top: 0;
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }


  /******************************
  RADIO
  ******************************/

  .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .radio#{$child-delimiter}checkmark {
        border: var(--radio-hover-border, 1px solid var(--silver-800));
      }
    }

    input {
      display: none;
      &:checked ~ .radio#{$child-delimiter}checkmark {
        background: var(--radio-checked-bg, var(--indigo-500));
        border: var(--radio-checked-border, 1px solid var(--indigo-500));
        &:after {
          display: block;
          background: white;
        }
      }
      &:disabled {
        & ~ .radio#{$child-delimiter}checkmark {
          background: var(--radio-disabled-bg, var(--silver-300));
          border-color: var(--radio-disabled-bg, var(--silver-500));
          &:after {
            border-color: var(--radio-disabled-color, var(--gray-400));
            background: var(--radio-disabled-color, var(--gray-400));
          }
        }
      }
    }
  }

  .radio#{$child-delimiter}checkmark {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--radio-size, var(--size-4));
    height: var(--radio-size, var(--size-4));
    margin-right: var(--radio-margin, var(--size-3));
    border-radius: var(--radio-radius, 9999px);
    border: var(--radio-border, 1px solid var(--silver-500));
    background: var(--radio-bg, white);
    transition: var(--radio-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    &:after {
      content: '';
      display: none;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: var(--radio-radius, 9999px);
    }
  }


  /******************************
  TOGGLE
  ******************************/

  .toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .toggle#{$child-delimiter}switch {
        background: var(--toggle-hover-bg, var(--gray-200));
      }
    }

    input {
      display: none;
      &:checked + .toggle#{$child-delimiter}switch {
        background: var(--toggle-checked-bg, var(--green-500));
      }
      &:checked + .toggle#{$child-delimiter}switch:before {
        transform: translateX(var(--toggle-checked-translate, var(--size-5)));
      }
      &:disabled + .toggle#{$child-delimiter}switch {
        background: var(--toggle-disabled-bg, var(--gray-100));
      }
    }
  }
  .toggle#{$child-delimiter}switch {
    position: relative;
    width: var(--toggle-width, var(--size-10));
    height: var(--toggle-height, var(--size-5));
    background: var(--toggle-bg, var(--gray-100));
    transition: var(--toggle-transition, background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms);
    border-radius: var(--toggle-radius, 9999px);

    &:before {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 3px;
      width: 14px;
      height: 14px;
      background: white;
      border-radius: 9999px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      transition: background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms;
    }
  }


  /******************************
  SELECT
  ******************************/
  
  .select {
    position: relative;
    width: 100%;

    select {
      width: 100%;
      height: var(--select-height, var(--size-10));
      padding: var(--select-padding, var(--size-0) var(--size-3));
      background: var(--select-bg, white);
      border: var(--select-border, 1px solid var(--silver-500));
      border-radius: var(--select-radius, var(--radius-xs));
      box-shadow: var(--select-shadow, none);
      outline: 0;
      appearance: none;
      font-size: var(--select-font-size, var(--font-md));
      line-height: 1.5;
      transition: var(--select-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);
      cursor: pointer;

      // PSEUDOS
      &:hover {
        border: var(--select-hover-border, 1px solid var(--silver-800));
        box-shadow: var(--select-hover-shadow, none);
      }
      &:focus {
        border: var(--select-focus-border, 1px solid var(--indigo-500));
        box-shadow: var(--select-focus-shadow, var(--shadow-focus));
      }
      &:disabled {
        background: var(--select-disabled-bg, var(--silver-500));
        color: var(--select-disabled-color, var(--gray-400));
        pointer-events: none;
      }
    }

    &:hover {
      &:after {
        border-color: var(--select-hover-angle-color, black);
      }
    }
    &:focus {
      &:after {
        border-color: var(--select-hover-focus-color, black);
      }
    }

    // ANGLE
    &:after {
      position: absolute;
      top: calc(50% - 6px);
      right: var(--size-4);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: solid var(--select-angle-color, var(--gray-300));
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: 100ms;
    }

    // STATES
    &.is-success select {
      border: var(--select-success-border, 1px solid var(--green-500));
      &:focus {
        box-shadow: var(--select-focus-success-shadow, var(--shadow-success));
      }
    }
    &.is-warning select {
      border: var(--select-warning-border, 1px solid var(--yellow-500));
      &:focus {
        box-shadow: var(--select-focus-warning-shadow, var(--shadow-warning));
      }
    }
    &.is-danger select {
      border: var(--select-danger-border, 1px solid var(--red-500));
      &:focus {
        box-shadow: var(--select-focus-danger-shadow, var(--shadow-danger));
      }
    }
  }

  

  // SIZES
  .select-xs {
    select {
      height: var(--select-xs-height, var(--size-8));
      padding: var(--select-xs-padding, var(--size-0) var(--size-3));
      font-size: var(--select-xs-font-size, var(--font-xs));
    }
    &:after {
      right: var(--size-3);
    }
  }
  .select-sm {
    select {
      height: var(--select-sm-height, var(--size-9));
      padding: var(--select-sm-padding, var(--size-0) var(--size-3));
      font-size: var(--select-sm-font-size, var(--font-sm));
    }
    &:after {
      right: var(--size-3);
    }
  }
  .select-md {
    select {
      height: var(--select-md-height, var(--size-10));
      padding: var(--select-md-padding, var(--size-0) var(--size-4));
      font-size: var(--select-md-font-size, var(--font-md));
    }
    &:after {
      right: var(--size-4);
    }
  }
  .select-lg {
    select {
      height: var(--select-lg-height, var(--size-11));
      padding: var(--select-lg-padding, var(--size-0) var(--size-4));
      font-size: var(--select-lg-font-size, var(--font-md));
    }
    &:after {
      right: var(--size-4);
    }
  }
  .select-xl {
    select {
      height: var(--select-xl-height, var(--size-12));
      padding: var(--select-xl-padding, var(--size-0) var(--size-4));
      font-size: var(--select-xl-font-size, var(--font-md));
    }
    &:after {
      right: var(--size-4);
    }
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}select-xs {
        select {
          height: var(--select-xs-height, var(--size-8));
          padding: var(--select-xs-padding, var(--size-0) var(--size-3));
          font-size: var(--select-xs-font-size, var(--font-xs));
        }
        &:after {
          right: var(--size-3);
        }
      }
      .#{$screen}#{$screen-delimiter}select-sm {
        select {
          height: var(--select-sm-height, var(--size-9));
          padding: var(--select-sm-padding, var(--size-0) var(--size-3));
          font-size: var(--select-sm-font-size, var(--font-sm));
        }
        &:after {
          right: var(--size-4);
        }
      }
      .#{$screen}#{$screen-delimiter}select-md {
        select {
          height: var(--select-md-height, var(--size-10));
          padding: var(--select-md-padding, var(--size-0) var(--size-4));
          font-size: var(--select-md-font-size, var(--font-md));
        }
        &:after {
          right: var(--size-4);
        }
      }
      .#{$screen}#{$screen-delimiter}select-lg {
        select {
          height: var(--select-lg-height, var(--size-11));
          padding: var(--select-lg-padding, var(--size-0) var(--size-4));
          font-size: var(--select-lg-font-size, var(--font-lg));
        }
        &:after {
          right: var(--size-5);
        }
      }
      .#{$screen}#{$screen-delimiter}select-xl {
        select {
          height: var(--select-xl-height, var(--size-12));
          padding: var(--select-xl-padding, var(--size-0) var(--size-4));
          font-size: var(--select-xl-font-size, var(--font-xl));
        }
        &:after {
          right: var(--size-6);
        }
      }
    }
  }


  /******************************
  TEXTAREA
  ******************************/

  .textarea {
    position: relative;
    width: 100%;
    padding: var(--textarea-padding, var(--size-4));
    background: var(--textarea-bg, white);
    border: var(--textarea-border, 1px solid var(--silver-500));
    border-radius: var(--textarea-radius, var(--radius-xs));
    box-shadow: var(--textarea-shadow, none);
    outline: 0;
    appearance: none;
    transition: var(--textarea-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--textarea-hover-border, 1px solid var(--silver-800));
      box-shadow: var(--textarea-hover-shadow, none);
    }
    &:focus {
      border: var(--textarea-focus-border, 1px solid var(--indigo-500));
      box-shadow: var(--textarea-focus-shadow, var(--shadow-focus));
    }
    &:disabled {
      background: var(--textarea-disabled-bg, var(--silver-500));
      color: var(--textarea-disabled-color, var(--gray-400));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--textarea-success-border, 1px solid var(--green-500));
      &:focus {
        box-shadow: var(--textarea-focus-success-shadow, var(--shadow-success));
      }
    }
    &.is-warning {
      border: var(--textarea-warning-border, 1px solid var(--yellow-500));
      &:focus {
        box-shadow: var(--textarea-focus-warning-shadow, var(--shadow-warning));
      }
    }
    &.is-danger {
      border: var(--textarea-danger-border, 1px solid var(--red-500));
      &:focus {
        box-shadow: var(--textarea-focus-danger-shadow, var(--shadow-danger));
      }
    }
  }
}
