---
title: Supercharged utility-first CSS framework built on Sass.
layout: layouts/base.njk
background: 'bg-primary bg-shade-900'
eleventyNavigation:
  key: Home
  order: 1
scssCodeExample: |
  @use "uniform" as * with (
    $config: (
      important: true,
    )
  );
cssCodeExample: |
  .text-left { 
    text-align: left !important; 
  }

  .text-center { 
    text-align: center !important; 
  }

  .text-right { 
    text-align: right !important; 
  }

  .align-top {
    ...
---

<div class="flex align-items-center justify-content-center h-40 bg-gradient">
  <div class="flex align-items-center color-white text-sm">
    <span class="inline-flex align-items-center mr-12 px-6 bg-white color-blue uppercase text-2xs bold tracking-loose radius-sm">New</span> Wohoo! Uniform CSS has officially launched <span class="ml-12 font-md">🎉</span>
  </div>
</div>


<nav class="pt-40">
  <div class="wrapper px-20">
    <div class="w-100p max-w-576 mx-auto">

      <div class="relative color-white text-sm leading-none">
        <div class="absolute z-2 top-0 left-20 w-16 h-56 flex align-items-center justify-content-center">
          <svg class="w-16 h-16 fill-current color-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"/></svg>
        </div>

        <input type="text" placeholder="Search anything" class="w-100p h-56 px-32 text-md text-center radius-lg shadow-card placeholder-cool-gray focus.placeholder-white color-cool-gray js-docsearch">

      </div>

      
    </div>
  </div>
</nav>








<section>

  <div class="wrapper px-20 text-center">
    <div class="max-w-900px pt-144 py-160">
      <div class="inline-flex align-items-center text-2xl bold tracking-tight mb-32">
        <img src="/assets/img/uniform-logo.svg" class="w-32 h-32 mr-20">
        Uniform CSS
      </div>
      <h1 class="text-3xl sm.text-7xl lg.text-10xl extrabold m-auto mb-32 tracking-tighter">Supercharged utility-first <br>CSS framework built on Sass</h1>
      <p class="font-xl leading-160 mb-48 color-cool-gray color-shade-400 max-w-640 mx-auto">Gain the power and flexibility of going utility-first, without losing any benefits of using Sass. Uniform is a fully customizable CSS framework designed to help front-end teams thrive.</p>
      <a href="https://codepen.io/ThinkUniform/pen/poNNqaE" class="inline-flex align-items-center h-48 px-20 bg-gradient focus.shadow-focus radius-sm bold text-md color-white mb-48">
        <svg class="w-20 mr-14 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"/></svg>
        Play on Codepen
      </a>
      <div class="color-cool-gray">
        or <a href="#" class="ml-10 bold color-cool-gray color-shade-full hover.color-shade-600">View Documentation</a>
      </div>
    </div>
  </div>
</section>





<section class="px-20 sm.mb-320" x-data="{ tab: 'tab1' }">

  <div class="max-w-screen-md mx-auto">
    <div class="text-center mb-144">
      <div class="text-sm tracking-loose bold uppercase color-blue mb-16">
        Get Started
      </div>
      <h2 class="text-7xl extrabold tracking-tight mb-32">Setup in minutes</h2>
      <div class="flex align-items-center justify-content-center">
        <div class="flex p-6 shadow-card radius-sm">
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab1'"
            :class="{ 'bg-gradient color-white': tab === 'tab1' }"
          >
            Overview
          </button>
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab2'"
            :class="{ 'bg-gradient color-white': tab === 'tab2' }"
          >
            Installation
          </button>
        </div>
      </div>
    </div>

    <div class="">
      <div class="bg-white shadow-card radius-2xl">
        <div class="grid grid-cols-12">
          <div class="relative col-12 sm.col-5 p-48 sm.pl-48 py-56">
            <div
              x-show="tab === 'tab1'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Load and configure <span class="bg-text color-transparent bg-gradient">directly</span> in Sass</h3>
              <p class="text-xl color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>
              <div class="grid grid-cols-2 pt-40">
                <div class="text-md">
                  <div class="text-2xl bold tracking-tight">48KB</div>
                  with brotli
                </div>
                <div class="text-md">
                  <div class="text-2xl bold tracking-tight">Under 1s</div>
                  to compile
                </div>
              </div>
            </div>
            
            <div
              x-show="tab === 'tab2'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Literally just <br><span class="bg-text color-transparent bg-gradient">one line</span> of code</h3>
              <p class="text-xl color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>
              <div class="grid grid-cols-2 pt-40">
                <div class="text-md">
                  <div class="text-2xl bold tracking-tight">48KB</div>
                  with brotli
                </div>
                <div class="text-md">
                  <div class="text-2xl bold tracking-tight">Under 1s</div>
                  to compile
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 sm.col-7 relative ">
            <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab1'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90"
            >  

              <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                <header class="h-64 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                  <img src="/assets/img/sass-logo.svg" class="w-28 mr-18">
                  <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                    <div class="color-white text-sm bold">
                      Load and configure Uniform directly in Sass
                    </div>
                    <div class="color-white text-sm bold color-opacity-50">
                      styles.scss
                    </div>
                  </div>
                </header>
                <footer>
                  {% highlight "scss" %}
                  {{ scssCodeExample | safe }}
                  {% endhighlight %}
                </footer>

              </article>

              <div class="flex justify-content-center h-48 overflow-hidden">
                <div class="relative gutter-y-9">
                  <span class="falling-ball"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                </div>
              </div>

              <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                <header class="h-64 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                  <span class="inline-flex align-items-center mr-16 px-6 bg-white color-tertiary color-shade-600 uppercase text-2xs extrabold radius-sm">css</span>
                  <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                    <div class="color-white text-sm medium">
                      Generate<span class="hidden sm.inline"> suite of</span> utilities properties
                    </div>
                    <div class="color-white text-sm bold color-opacity-50">
                      styles.css
                    </div>
                  </div>
                </header>
                <footer>
                  {% highlight "css" %}
                  {{ cssCodeExample | safe }}
                  {% endhighlight %}
                </footer>

              </article>

            </div>

            <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab2'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-64 scale-90"
            >  

              <article class="radius-2xl md.radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                <header class="h-64 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                  <span>Step 1.</span>
                  <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                    <div class="color-white text-sm medium">
                      Load and configure Uniform directly in Sass
                    </div>
                    <div class="color-white text-sm medium color-opacity-50">
                      styles.scss
                    </div>
                  </div>
                </header>
                <footer>
                  {% highlight "scss" %}
                  {{ scssCodeExample | safe }}
                  {% endhighlight %}
                </footer>

              </article>

              <div class="flex justify-content-center h-48 overflow-hidden">
                <div class="relative gutter-y-9">
                  <span class="falling-ball"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                  <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                </div>
              </div>

              <article class="radius-2xl md.radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                <header class="h-64 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                  <span class="text-md bold color-teal mr-16 font-mono">css</span>
                  <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                    <div class="color-white text-sm bold">
                      Generate<span class="hidden sm.inline"> suite of</span> utilities properties
                    </div>
                    <div class="color-white text-sm medium color-opacity-50">
                      styles.css
                    </div>
                  </div>
                </header>
                <footer>
                  {% highlight "css" %}
                  {{ cssCodeExample | safe }}
                  {% endhighlight %}
                </footer>

              </article>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>




<section class="px-20 sm.mb-192" x-data="{ tab: 'tab1' }">

  <div class="max-w-screen-md mx-auto">
    <div class="text-center mb-144">
      <div class="text-sm tracking-loose bold uppercase color-blue mb-16">
        Simple to setup
      </div>
      <h2 class="text-7xl extrabold tracking-tight mb-32">APIs for both bot abuse<br> and account fraud</h2>
      <div class="flex align-items-center justify-content-center">
        <div class="flex p-6 shadow-card radius-sm">
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab1'"
            :class="{ 'bg-gradient color-white': tab === 'tab1' }"
          >
            Overview
          </button>
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab2'"
            :class="{ 'bg-gradient color-white': tab === 'tab2' }"
          >
            Installation
          </button>
        </div>
      </div>
    </div>

    <div class="">
      <div class="bg-white shadow-card radius-2xl">
        <div class="grid grid-cols-12">
          <div class="relative col-12 sm.col-5 p-48 sm.pl-48 pt-56 pb-72">
            <div
              x-show="tab === 'tab1'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Load and configure directly in Sass</h3>
              <p class="text-lg color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>

              <div class="flex gutter-x-10 pt-32">
                <button class="px-16 py-3 text-sm bold border-1 border-black radius-full">Preview</button>
                <button class="px-16 py-3 text-sm bold border-1 border-black radius-full">Preview</button>
              </div>
            </div>
            
            <div
              x-show="tab === 'tab2'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Add Uniform with just one line of code</h3>
              <p class="text-lg color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes,.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>
              
            </div>
          </div>
          <div class="col-12 sm.col-7 relative ">
            <div class="relative sm.absolute w-100p top-0 bottom-0 sm.mt-n64 sm.mb-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab1'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90"
            >  

              <article class="h-100p flex align-items-center justify-content-center radius-2xl overflow-hidden shadow-card bg-mint bg-tint-700" style="--mint-sat: 46%;">
                <div class="w-288 h-288 bg-white radius-md shadow-lg">

                </div>

              </article>

            </div>

            <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n64 sm.mb-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab2'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-64 scale-90"
            >  

              <article class="h-100p flex align-items-center justify-content-center radius-2xl overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                

              </article>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>




<section class="px-20 sm.mb-192" x-data="{ tab: 'tab1' }">

  <div class="max-w-screen-md mx-auto">
    <div class="text-center mb-144">
      <div class="text-sm tracking-loose bold uppercase color-blue mb-16">
        Simple to setup
      </div>
      <h2 class="text-7xl extrabold tracking-tight mb-32">APIs for both bot abuse<br> and account fraud</h2>
      <div class="flex align-items-center justify-content-center">
        <div class="flex p-6 shadow-card radius-sm">
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab1'"
            :class="{ 'bg-gradient color-white': tab === 'tab1' }"
          >
            Overview
          </button>
          <button class="text-md bold color-black px-24 h-48 radius-sm" 
            @click.prevent="tab = 'tab2'"
            :class="{ 'bg-gradient color-white': tab === 'tab2' }"
          >
            Installation
          </button>
        </div>
      </div>
    </div>

    <div class="">
      <div class="bg-white shadow-card radius-2xl">
        <div class="grid grid-cols-12">
          <div class="relative col-12 sm.col-5 p-48 sm.pl-48 pt-56 pb-72">
            <div
              x-show="tab === 'tab1'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Load and configure directly in Sass</h3>
              <p class="text-lg color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>

              <div class="flex gutter-x-10 pt-32">
                <button class="px-16 py-3 text-sm bold border-1 border-black radius-full">Preview</button>
                <button class="px-16 py-3 text-sm bold border-1 border-black radius-full">Preview</button>
              </div>
            </div>
            
            <div
              x-show="tab === 'tab2'"
            >
              <h3 class="text-4xl extrabold tracking-tight mb-28">Add Uniform with just one line of code</h3>
              <p class="text-lg color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes,.</p>
              <a href="#" class="text-lg color-primary bold">More about Filter API</a>
              
            </div>
          </div>
          <div class="col-12 sm.col-7 relative ">
            <div class="relative sm.absolute w-100p top-0 bottom-0 sm.mt-n64 sm.mb-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab1'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90"
            >  

              <article class="h-100p flex align-items-center justify-content-center radius-2xl overflow-hidden shadow-card bg-green bg-tint-600">
                <div class="w-288 h-288 bg-white radius-md shadow-lg">

                </div>

              </article>

            </div>

            <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n64 sm.mb-n64 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
              x-show="tab === 'tab2'"
              x-transition:enter="transition-800"
              x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              x-transition:leave="transition-400"
              x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
              x-transition:leave-end="opacity-0 transform translate-x-64 scale-90"
            >  

              <article class="h-100p flex align-items-center justify-content-center radius-2xl overflow-hidden bg-tertiary bg-shade-600 shadow-card">

                

              </article>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>











<section class="relative" data-barba="container" data-barba-namespace="get-started">
  <div class="wrapper px-20 mt-640">
    <div class="relative p-2">
      <div class="absolute top-0 left-0 w-100p h-100p bg-conic radius-xl filter filter-blur-60" style="--gradient: from 240deg at 50% 50%, #1800ff 0deg, rgb(86 0 255) 20deg, rgb(255 12 140) 100deg, rgb(255 209 141) 160deg, rgb(255 98 53) 210deg, #4000ff 332deg, #1800ff 360deg"></div>
      <div class="absolute top-0 left-0 w-100p h-100p bg-conic radius-xl" style="--gradient: from 240deg at 50% 50%, #1800ff 0deg, rgb(86 0 255) 20deg, rgb(255 12 140) 100deg, rgb(255 209 141) 160deg, rgb(255 98 53) 210deg, #4000ff 332deg, #1800ff 360deg"></div>
      <div class="relative z-2 transparent-highlight grid grid-cols-1 md.grid-cols-2 radius-xl shadow-sm overflow-hidden bg-black bg-opacity-90 backdrop backdrop-blur-60 backdrop-saturate-4">
        <div>
          <header class="flex align-items-center justify-content-between h-64 px-20 border-b-1 border-white border-opacity-10">
            <div class="flex align-items-center w-100p">
              <img src="/assets/img/sass-logo.svg" class="w-28 mr-18">
              <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                <div class="color-white text-xs bold">
                  Configure Uniform directly in Sass.
                </div>
                <div class="color-white text-xs bold color-opacity-40">
                  styles.scss
                </div>
              </div>
            </div>
            
          </header>
          <div class="flex">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
          
        </div>
        <div class="bg-white bg-opacity-4">
          <header class="flex align-items-center justify-content-between h-64 px-20 border-b-1 border-white border-opacity-10">
            <div class="flex align-items-center w-100p">
              <span class="inline-flex align-items-center mr-16 px-6 bg-mint color-white uppercase text-2xs bold tracking-loose radius-sm">New</span>
              <div class="flex flex-col sm.flex-row justify-content-between w-100p">
                <div class="color-white text-xs bold">
                  Quickly generate<span class="hidden sm.inline"> suite of</span> utilities properties.
                </div>
                <div class="color-white text-xs bold color-opacity-40">
                  styles.css
                </div>
              </div>
            </div>
          </header>
          <div class="flex">
            {% highlight "css" %}
            {{ cssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="relative z-4 pb-128 xl.pb-160 color-white">
  <div class="wrapper px-20 pt-64">
    <div class="grid grid-cols-1 md.grid-cols-3 gap-64 md.gap-48 lg.gap-64">
      <div>
        <div class="flex align-items-center mb-24 ">
          <h4 class="text-lg extrabold tracking-tight">Step 1. Install the Package</h4>
        </div>
        <p class="text-md mb-36 color-opacity-80">Install the Uniform node package or clone the project and install its dependencies.</p>
        <pre class="text-sm leading-150 px-18 py-16 radius-md bg-cool-gray bg-opacity-10 border-1 border-gray border-opacity-30 select-all">npm i uniformcss</pre>
      </div>
      <div>
        <div class="flex align-items-center mb-24 ">
          <h4 class="text-lg extrabold tracking-tight">Step 2. Include Uniform</h4>
        </div>
        <p class="text-md mb-36 color-opacity-80">Uniform CSS can be added directly into any Sass project with one line of code.</p>
        <pre class="text-sm leading-150 px-18 py-16 radius-md bg-cool-gray bg-opacity-10 border-1 border-gray border-opacity-30 select-all"><code class="language-scss"><span class="token keyword">@use</span> <span class="token string">"uniform"</span> <span class="token module-modifier keyword">as</span> *<span class="token punctuation">;</span></code></pre>
      </div>
      <div>
        <div class="flex align-items-center mb-24 ">
          <h4 class="text-lg extrabold tracking-tight">Step 3. Compose your UI</h4>
        </div>
        <p class="text-md mb-36 color-opacity-80">Style components by writing composable utility properties directly in your HTML.</p>
        <pre class="text-sm leading-150 px-18 py-16 radius-md bg-cool-gray bg-opacity-10 border-1 border-gray border-opacity-30 color-blue color-tint-300 select-all">px-24 py-20 border-b-1 ...</pre>
      </div>
    </div>
  </div>
</section>

<div class="wrapper px-20">
  <div class="h-2 bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">
  </div>
</div>

<section class="color-white">
  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">

    <div class="text-center mb-96">

      <div class="mb-20">
        <span class="text-xl bold bg-text color-transparent bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">Rapid Prototype</span>
      </div>
      <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-10xl extrabold m-auto mb-40 tracking-tight">
        Build anything without ever <br class="hidden sm.inline">touching your CSS
      </h2>
      <p class="max-w-screen-sm mx-auto mb-40 text-2xl leading-170 color-cool-gray color-tint-400">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
      <a href="#" class="inline-flex align-items-center extrabold text-lg hover.color-white">
        Learn more about Uniform
        <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
      </a>

    </div>
    

    <div class="relative">
      <div class="absolute w-100p h-100p z-0 top-0 left-0 bg-linear radius-2xl filter filter-blur-70 transform scale-x-80 scale-y-60 translate-y-n64" style="--gradient: to right, #7CD0FF, #7CFFA9;"></div>
      <div class="relative z-1 grid grid-cols-1 sm.grid-cols-2 radius-2xl bg-tertiary bg-shade-800 overflow-hidden">
        <div>
          <div class="flex align-items-center color-white font-sm h-64 px-20 border-b-1 border-cool-gray border-shade-500">
            <span class="inline-flex align-items-center h-20 mr-14 px-6 bg-yellow bg-tint-200 color-black text-2xs bold radius-xs">
              index.html
            </span>
            Build web components using small API-like classes.
          </div>
          <div class="transparent-highlight">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
        <div class="flex align-items-center justify-content-center radius-2xl bg-tertiary bg-shade-400 shadow-xl">
          Hello, World!
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper px-20">
  <div class="h-2 bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">
  </div>
</div>

<section class="color-white">
  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">

    <div class="text-center mb-96">

      <div class="mb-20">
        <span class="text-xl bold bg-text color-transparent bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">Rapid Prototype</span>
      </div>
      <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-10xl extrabold m-auto mb-40 tracking-tight">
        Build anything without ever <br class="hidden sm.inline">touching your CSS
      </h2>
      <p class="max-w-screen-sm mx-auto mb-40 text-2xl leading-170 color-cool-gray color-tint-400">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
      <a href="#" class="inline-flex align-items-center extrabold text-lg hover.color-white">
        Learn more about Uniform
        <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
      </a>

    </div>
    

    <div class="relative">
      <div class="absolute w-100p h-100p z-0 top-0 left-0 bg-linear radius-2xl filter filter-blur-70 transform scale-x-80 scale-y-60 translate-y-n64" style="--gradient: to right, #7CD0FF, #7CFFA9;"></div>
      <div class="relative z-1 grid grid-cols-1 sm.grid-cols-2 radius-2xl bg-tertiary bg-shade-800 overflow-hidden">
        <div class="flex align-items-center justify-content-center radius-2xl bg-tertiary bg-shade-400 shadow-xl">
          Hello, World! 2
        </div>
        <div>
          <div class="flex align-items-center color-white font-sm h-64 px-20 border-b-1 border-cool-gray border-shade-500">
            <span class="inline-flex align-items-center h-20 mr-14 px-6 bg-yellow bg-tint-200 color-black text-2xs bold radius-xs">
              index.html
            </span>
            Build web components using small API-like classes.
          </div>
          <div class="transparent-highlight">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper px-20">
  <div class="h-2 bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">
  </div>
</div>

<section class="color-white">
  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">

    <div class="text-center mb-96">

      <div class="mb-20">
        <span class="text-xl bold bg-text color-transparent bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">Rapid Prototype</span>
      </div>
      <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-10xl extrabold m-auto mb-40 tracking-tight">
        Build anything without ever <br class="hidden sm.inline">touching your CSS
      </h2>
      <p class="max-w-screen-sm mx-auto mb-40 text-2xl leading-170 color-cool-gray color-tint-400">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
      <a href="#" class="inline-flex align-items-center extrabold text-lg hover.color-white">
        Learn more about Uniform
        <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
      </a>

    </div>
    

    <div class="relative">
      <div class="absolute w-100p h-100p z-0 top-0 left-0 bg-linear radius-2xl filter filter-blur-70 transform scale-x-80 scale-y-60 translate-y-n64" style="--gradient: to right, #7CD0FF, #7CFFA9;"></div>
      <div class="relative z-1 grid grid-cols-1 sm.grid-cols-2 radius-2xl bg-tertiary bg-shade-800 overflow-hidden">
        <div>
          <div class="flex align-items-center color-white font-sm h-64 px-20 border-b-1 border-cool-gray border-shade-500">
            <span class="inline-flex align-items-center h-20 mr-14 px-6 bg-yellow bg-tint-200 color-black text-2xs bold radius-xs">
              index.html
            </span>
            Build web components using small API-like classes.
          </div>
          <div class="transparent-highlight">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
        <div class="flex align-items-center justify-content-center radius-2xl bg-tertiary bg-shade-400 shadow-xl">
          Hello, World! 3
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper px-20">
  <div class="h-2 bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">
  </div>
</div>

<section class="color-white">
  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">

    <div class="text-center mb-96">

      <div class="mb-20">
        <span class="text-xl bold bg-text color-transparent bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">Rapid Prototype</span>
      </div>
      <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-10xl extrabold m-auto mb-40 tracking-tight">
        Build anything without ever <br class="hidden sm.inline">touching your CSS
      </h2>
      <p class="max-w-screen-sm mx-auto mb-40 text-2xl leading-170 color-cool-gray color-tint-400">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
      <a href="#" class="inline-flex align-items-center extrabold text-lg hover.color-white">
        Learn more about Uniform
        <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
      </a>

    </div>
    

    <div class="relative">
      <div class="absolute w-100p h-100p z-0 top-0 left-0 bg-linear radius-2xl filter filter-blur-70 transform scale-x-80 scale-y-60 translate-y-n64" style="--gradient: to right, #7CD0FF, #7CFFA9;"></div>
      <div class="relative z-1 grid grid-cols-1 sm.grid-cols-2 radius-2xl bg-tertiary bg-shade-800 overflow-hidden">
        <div>
          <div class="flex align-items-center color-white font-sm h-64 px-20 border-b-1 border-cool-gray border-shade-500">
            <span class="inline-flex align-items-center h-20 mr-14 px-6 bg-yellow bg-tint-200 color-black text-2xs bold radius-xs">
              index.html
            </span>
            Build web components using small API-like classes.
          </div>
          <div class="transparent-highlight">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
        <div class="flex align-items-center justify-content-center radius-2xl bg-tertiary bg-shade-400 shadow-xl">
          Hello, World!
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper px-20">
  <div class="h-2 bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">
  </div>
</div>

<section class="color-white">
  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">

    <div class="text-center mb-96">

      <div class="mb-20">
        <span class="text-xl bold bg-text color-transparent bg-linear" style="--gradient: to right, #7CD0FF, #7CFFA9;">Rapid Prototype</span>
      </div>
      <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-10xl extrabold m-auto mb-40 tracking-tight">
        Build anything without ever <br class="hidden sm.inline">touching your CSS
      </h2>
      <p class="max-w-screen-sm mx-auto mb-40 text-2xl leading-170 color-cool-gray color-tint-400">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
      <a href="#" class="inline-flex align-items-center extrabold text-lg hover.color-white">
        Learn more about Uniform
        <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
      </a>

    </div>
    

    <div class="relative">
      <div class="absolute w-100p h-100p z-0 top-0 left-0 bg-linear radius-2xl filter filter-blur-70 transform scale-x-80 scale-y-60 translate-y-n64" style="--gradient: to right, #7CD0FF, #7CFFA9;"></div>
      <div class="relative z-1 grid grid-cols-1 sm.grid-cols-2 radius-2xl bg-tertiary bg-shade-800 overflow-hidden">
        <div>
          <div class="flex align-items-center color-white font-sm h-64 px-20 border-b-1 border-cool-gray border-shade-500">
            <span class="inline-flex align-items-center h-20 mr-14 px-6 bg-yellow bg-tint-200 color-black text-2xs bold radius-xs">
              index.html
            </span>
            Build web components using small API-like classes.
          </div>
          <div class="transparent-highlight">
            {% highlight "scss" %}
            {{ scssCodeExample | safe }}
            {% endhighlight %}
          </div>
        </div>
        <div class="flex align-items-center justify-content-center radius-2xl bg-tertiary bg-shade-400 shadow-xl">
          Hello, World! 4
        </div>
      </div>
    </div>

  </div>
</section>


<section class="color-white" x-data="{ dark: false }" :class="{ 'dark' : dark }">

  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">
    <div class="grid grid-cols-1 md.grid-cols-2 gap-72 xl.gap-96">
      <div class="order-2 md.order-1 flex align-items-center justify-content-center px-20 pb-0 pt-96 bg-cool-gray bg-shade-400 radius-lg">
        <div>
          <div class="bg-white dark.bg-blue dark.bg-shade-900 transition-200 radius-lg overflow-hidden w-100p max-w-288">
            <img src="/assets/img/apartment.jpg" class="cursor-pointer">
            <div class="relative px-20 py-20">
              <div class="flex align-items-center justify-content-center absolute top-0 right-0 mr-24 mt-n20 bg-pink bg-tint-50 shadow-sm hover.bg-tint-100 transition-200 cursor-pointer radius-full w-40 h-40">
                <svg class="fill-current w-auto h-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"/></svg>
              </div>
              <div class="mb-10 text-lg bold color-pink color-tint-100">
                $450
                <span class="color-300 dark.color-500 transition-200 text-sm">/mo</span>
                <span class="bg-teal bg-opacity-20 dark.bg-opacity-20 color-cyan color-shade-200 dark.color-shade-base transition-200 ml-8 px-10 py-6 radius-sm text-2xs">10% discount</span>
              </div>
              <h3 class="color-black dark.color-white transition-200 text-md bold mb-10 cursor-pointer">
                Elizabeth Street Apartments
              </h3>
              <div class="color-gray color-tint-200 transition-200 flex align-items-center text-xs semibold mb-12">
                <svg class="fill-current color-cyan color-shade-100 dark.color-shade-base w-auto h-12 mr-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"/></svg>
                Riccarton, Christchurch
              </div>
              <div class="grid grid-cols-3">
                <div class="color-gray color-tint-200 transition-200 flex align-items-center text-xs semibold">
                  <svg class="fill-current color-cyan color-shade-100 dark.color-shade-base w-12 h-12 mr-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M488 352h-40V96c0-17.67-14.33-32-32-32H192v96h160v328c0 13.25 10.75 24 24 24h48c13.25 0 24-10.75 24-24v-40h40c13.25 0 24-10.75 24-24v-48c0-13.26-10.75-24-24-24zM160 24c0-13.26-10.75-24-24-24H88C74.75 0 64 10.74 64 24v40H24C10.75 64 0 74.74 0 88v48c0 13.25 10.75 24 24 24h40v256c0 17.67 14.33 32 32 32h224v-96H160V24z"/></svg>
                  32 sqm
                </div>
                <div class="color-gray color-tint-200 transition-200 flex align-items-center text-xs semibold">
                  <svg class="fill-current color-cyan color-shade-100 dark.color-shade-base w-12 h-12 mr-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M80,160a32,32,0,0,1,32-32h96a32,32,0,0,1,32,32v32h32V160a32,32,0,0,1,32-32h96a32,32,0,0,1,32,32v32h48V64a32,32,0,0,0-32-32H64A32,32,0,0,0,32,64V192H80Zm368,64H64A64,64,0,0,0,0,288V464a16,16,0,0,0,16,16H48a16,16,0,0,0,16-16V416H448v48a16,16,0,0,0,16,16h32a16,16,0,0,0,16-16V288A64,64,0,0,0,448,224Z"/></svg>
                  2 rooms
                </div>
                <div class="color-gray color-tint-200 transition-200 flex align-items-center text-xs semibold">
                  <svg class="fill-current color-cyan color-shade-100 dark.color-shade-base w-12 h-12 mr-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M0,160V48A48,48,0,0,1,48,0H336a48,48,0,0,1,48,48V160H320V72a8,8,0,0,0-8-8H296a8,8,0,0,0-8,8v88Zm320,32V376a8,8,0,0,1-8,8H296a8,8,0,0,1-8-8V192H0V464a48,48,0,0,0,48,48H336a48,48,0,0,0,48-48V192Z"/></svg>
                  1 kitchen
                </div>
              </div>
            </div>
          </div>
          <div class="py-40 text-center">
            <div class="inline-flex align-items-center bg-white radius-full p-8 py-6 color-black">
              <svg class="w-18 h-18 mr-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5" fill="currentColor"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>

              <div class="flex">
                <button type="button" class="flex-none group relative radius-full inline-flex align-items-center align-justify-center h-20 w-40 mx-6" @click="dark = !dark">
                  <span class="bg-cool-gray bg-tint-600 group-hover.bg-tint-500 pointer-events-none absolute h-16 w-36 mx-auto radius-full transition-200" :class="{ 'bg-cool-gray bg-tint-600 group-hover.bg-tint-500' : !dark, 'bg-green' : dark }"></span>
                  <span class="translate-x-0 pointer-events-none absolute left-0 inline-block h-18 w-18 border-1 border-gray border-tint-500 radius-full bg-white shadow-2xs transform transition-transform ease-in-out transition-200" :class="{ 'translate-x-20': dark, 'translate-x-0': !dark }"></span>
                </button>
              </div>

              <svg class="w-18 h-18" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="order-1 md.order-2">
        <div class="mb-20">
          <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-yellow uppercase text-xs bold tracking-loose color-yellow">Dark Mode Support</span>
        </div>
        <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-8xl extrabold m-auto mb-28 tracking-tight">
          Apply Dark Mode <br class="hidden md.inline">on any element
        </h2>

        <div class="mb-64">
          <a href="#" class="inline-flex align-items-center bold text-lg hover.color-white">
            See how dark mode works
            <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
          </a>
        </div>
<div class="flex">
  <div class="mb-64 p-16 px-18 radius-md overflow-auto bg-cool-gray bg-shade-800 border-1 border-white border-opacity-10 transparent-highlight select-all bg-800">
<pre><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span><span class="dark.opacity-40 transition-200">bg-white</span> <span class="opacity-40 dark.opacity-100 transition-200">dark.bg-blue dark.bg-shade-900</span> <span class="dark.opacity-40 transition-200">transition-200</span> <span class="dark.opacity-40 transition-200">...</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span></code></pre>
  </div>
</div>

        <div class="grid grid-cols-1 sm.grid-cols-2 gap-64 md.gap-36 xl.gap-48">
          <div>
            <div class="flex mb-18">
              <h4 class="bg-linear bg-text color-transparent text-lg extrabold tracking-tight" style="--gradient: to right, #8F7CFF, #fd7cff;">
                Dark mode everything
              </h4>
            </div>
            <p class="text-md color-white color-opacity-80">Apply conditional dark mode specific coloring to any element with the dark pseudo.</p>
          </div>
          <div>
            <div class="flex mb-18">
              <h4 class="bg-linear bg-text color-transparent text-lg extrabold tracking-tight" style="--gradient: to right, #7CD0FF, #7CFFA9;">
                Completely optional
              </h4>
            </div>
            <p class="text-md color-white color-opacity-80">Dark mode is completely optional and can be disabled with ease in your config.</p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="wrapper px-20">
    <div class="h-2 bg-white opacity-10"></div>
  </div>

  <div class="wrapper px-20 py-80 lg.py-128 xl.py-160">
    <div class="grid grid-cols-1 md.grid-cols-2 gap-72 xl.gap-96">
      <div class="">
        <div class="mb-20">
          <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-lime border-brighten-9 uppercase text-xs bold tracking-loose color-lime color-brighten-9">CDN Ready</span>
        </div>
        <h2 class="text-3xl sm.text-6xl lg.text-7xl xl.text-8xl extrabold m-auto mb-28 tracking-tight">
          Blazing fast delivery <br class="hidden sm.inline">with customizable <br class="hidden md.inline">design tokens
        </h2>

        <div class="mb-56">
          <a href="#" class="inline-flex align-items-center bold text-lg hover.color-white">
            Customize your CDN build 
            <svg class="fill-current w-6 ml-10 mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"/></svg>
          </a>
        </div>

        <div class="grid grid-cols-1 sm.grid-cols-3 gap-40">
          <div class="radius-md py-24">
            <div class="flex mb-20">
              <div class="text-5xl text-light leading-none bg-linear bg-text color-transparent" style="--gradient: to right, #8F7CFF, #fd7cff;">1s</div>
            </div>
            <div class="h-2 bg-linear mb-14" style="--gradient: to right, #8F7CFF, #fd7cff;">
            </div>
            <p class="text-sm leading-150">build time <br>using <br>dart sass</p>
          </div>
          <div class="radius-md py-24">
            <div class="flex mb-20">
              <div class="text-5xl text-light leading-none bg-linear bg-text color-transparent" style="--gradient: to right, #7CD0FF, #7CFFA9;">48kb</div>
            </div>
            <div class="h-2 bg-linear mb-14" style="--gradient: to right, #7CD0FF, #7CFFA9;">
            </div>
            <p class="text-sm leading-150">using brotli <br>for lightning <br>fast delivery</p>
          </div>
          <div class="radius-md py-24">
            <div class="flex mb-20">
              <div class="text-5xl text-light leading-none bg-linear bg-text color-transparent" style="--gradient: to right, #F5FF7C, #FFBB7C;">300+</div>
            </div>
            <div class="h-2 bg-linear mb-14" style="--gradient: to right, #F5FF7C, #FFBB7C;">
            </div>
            <p class="text-sm leading-150">configurable <br>design <br>tokens</p>
          </div>
        </div>

      </div>
      <div class="grid grid-cols-1 gap-64 md.gap-48">
        <div>
          <h4 class="text-lg bold mb-20 tracking-tight"><span class="extrabold mr-4">Step 1.</span> Install the Package</h4>
          <p class="text-md color-white color-opacity-80 mb-24">Add the following code to the head of your project.</p>
          <div class="radius-sm bg-cool-gray bg-shade-800 border-1 border-white border-opacity-10 transparent-highlight">
            {% highlight "bash" %}
              https://cdn.jsdelivr.net/npm/uniformcss@1.0.0/uniform.css
            {% endhighlight %}
          </div>
        </div>
        <div>
          <h4 class="text-lg bold mb-20 tracking-tight"><span class="extrabold mr-4">Step 2.</span> Install the Package</h4>
          <p class="text-md color-white color-opacity-80 mb-24">Customize design tokens directly in your CSS to fit your design.</p>
          <div class="radius-sm bg-cool-gray bg-shade-800 border-1 border-white border-opacity-10 transparent-highlight">
{% highlight "css" %}
:root {
  --blue-hue: 50;
  --blue-sat: 20%;
  
  --text-sans: "manrope";
  --regular: 400;
  --semibold: 600;

  --btn-radius: 6px;
}
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-black">
  <div class="wrapper px-20">
    <div class="h-1 bg-cool-gray bg-shade-700"></div>
  </div>
</div>

{% include "partials/footer.njk" %}