---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
scssCodeExample: |
  @use "uniform" as * with (
    $config: (
      important: true,
      utilities: (
        leading-trim: (
          shorthand: trim,
          properties: (leading-trim),
          variants: (
            both: both
          )
        )
      )
    )
  );
cssCodeExample: |
  .trim-both { 
    leading-trim: both !important; 
  }

  .align-left { 
    text-align: left !important; 
  }

  .align-center { 
    text-align: center !important; 
  }

  .align-right { 
    text-align: right !important; 
  }
---


<section>

  {% include "partials/nav.njk" %}

  <div class="wrapper">
    <div class="max-w-900px py-112">
      <div class="flex align-items-center mb-20 font-semibold font-md text-silver-600">
        <span class="inline-flex align-items-center h-20 mr-12 px-6 bg-cyan bg-brighten-500 bg-darken-100 text-white uppercase font-2xs font-bold tracking-loose radius-xs">New</span> Version 1.0.0 Release
      </div>
      <h1 class="font-3xl sm.font-7xl xl.font-7xl font-bold m-auto mb-24 tracking-tight">Simple and intuitive utility-first <br>CSS framework built entirely in Sass.</h1>
      <a href="#" class="group inline-flex align-items-center font-800 font-lg text-black hover.text-black">
        <div class="flex align-items-center justify-content-center w-48 h-48 radius-round shadow-md bg-white group-hover.text-white group-hover.bg-black transition duration-200 mr-18">
          <svg class="w-24 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"/></svg>
        </div>
        Play on Codepen
      </a>
    </div>
  </div>
</section>

<section class="relative" data-barba="container" data-barba-namespace="get-started">
  <div class="wrapper relative z-2">
    <div class="home-highlight grid grid-cols-1 md.grid-cols-2 radius-md md.radius-xl shadow-sm overflow-hidden bg-primary-900 bg-brighten-400">
      <div>
        <header class="flex align-items-center justify-content-between h-64 px-20 border-b-1 border-white border-opacity-10 text-white font-xs font-600">
          <div class="flex align-items-center">
            <img src="/assets/img/sass-logo.svg" class="w-28 mr-18">
            Configure Uniform directly in your Sass project.
          </div>
          <div class="text-white text-opacity-40">
            styles.scss
          </div>
        </header>
        <div class="flex">
<pre aria-hidden="true" class="hidden md.block flex-none w-48 py-24 pr-16 align-right text-white text-opacity-40 bg-white bg-opacity-10 font-mono font-sm leading-5">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15</pre>
          {% highlight "scss" %}
          {{ scssCodeExample | safe }}
          {% endhighlight %}
        </div>
        
      </div>
      <div class="bg-white bg-opacity-06">
        <header class="flex align-items-center justify-content-between h-64 px-20 border-b-1 border-white border-opacity-08 text-white font-xs font-600">
          <div>
            <span class="font-base font-bold text-teal text-brighten-700 mr-16">css</span>
            Quickly generate suite of utilities properties.
          </div>
          <div class="text-white text-opacity-40">
            styles.css
          </div>
        </header>
        <div class="flex">
<pre aria-hidden="true" class="hidden md.block flex-none w-48 py-24 pr-16 align-right text-white text-opacity-40 bg-white bg-opacity-04 font-mono font-sm leading-5">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15</pre>
          {% highlight "css" %}
          {{ cssCodeExample | safe }}
          {% endhighlight %}
        </div>
      </div>
    </div>
  </div>
  <div class="absolute b-0 z-1 bg-silver-100 bg-brighten-500 w-100p h-50p"></div>
</section>


<section class="relative z-1 bg-silver-100 bg-brighten-500 py-112">
  <div class="wrapper">
    <div class="grid grid-cols-1 md.grid-cols-3 gap-64">
      <div>
        <h4 class="font-lg font-bold mb-20"><span>Step 1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install the Uniform CSS npm package or clone the project and install its dependencies.</p>
        <pre class="p-18 py-16 radius-sm bg-primary-900 text-white select-all">npm i uniformcss</pre>
      </div>
      <div>
        <h4 class="font-lg font-bold mb-20"><span>Step 2.</span> Include Uniform</h4>
        <p class="font-md text-black mb-28">Include Uniform CSS by adding the following line to your main Sass file and compile your project.</p>
        <pre class="p-18 py-16 radius-sm bg-primary-900 text-white select-all">@use "uniform" as *;</pre>
      </div>
      <div>
        <h4 class="font-lg font-bold mb-20"><span>Step 3.</span> Compose your UI</h4>
        <p class="font-md text-black mb-28">Add the compiled CSS, and style components by writing composable utility properties in your HTML.</p>
        <pre class="p-18 py-16 radius-sm bg-primary-900 text-white select-all">npm install uniformcss</pre>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="wrapper py-128">
    <div class="align-center mb-20">
      <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-black uppercase font-xs font-bold tracking-looser text-black">Rapid Prototyping</span>
    </div>
    <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold m-auto mb-96 tracking-tight align-center">Build web components without <br>ever touching your CSS.</h1>

    <figure class="cd-image-container radius-md md.radius-xl overflow-hidden mb-64">
      <div class="flex align-items-center justify-content-center w-100p h-448 px-18 bg-silver-100 bg-brighten-500">
        <article class="w-100p max-w-512 radius-md bg-white shadow-md">
          <header class="px-24 py-20 border-b-1 border-black border-opacity-10">
            <h4 class="font-lg font-bold">Recent Messages</h4>
          </header>
          <div class="p-24">
            <div class="flex align-items-center mb-20">
              <img src="/assets/img/diane-profile.png" class="w-48 h-48 radius-round mr-24">
              <div>
                <h5 class="font-md font-bold">Diane Schaefer</h5>
                <span class="font-sm">5 mins ago &bull; Public</span>
              </div>
            </div>
            <div class="font-md bg-silver-200 bg-brighten-500 bg-opacity-60 radius-sm mb-20 p-20">
              <p class="text-black">Hi, I am a graphic designer and I am looking for someone who would like to work on a project together.</p>
            </div>
            <div class="flex font-md">
              <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
                <svg class="fill-current w-20 text-red text-brighten-500 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> <span class="hidden sm.inline">132 Likes</span>
              </a>
              <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
                <svg class="stroke-current w-20 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <span class="hidden sm.inline">36 Comments</span>
              </a>
              <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
                <svg class="stroke-current w-20 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg> <span class="hidden sm.inline">Share</span>
              </a>
            </div>
          </div>
        </article>
      </div>
      <span class="cd-image-label px-10 py-8 radius-round bg-black text-white mb-12 mr-12 font-xs font-bold tracking-2 uppercase" data-type="original">Preview</span>
  
      <div class="cd-resize-img"> <!-- the resizable image on top -->
        <div class="w-100p h-448 overflow-auto bg-primary-900">
          <div class="flex">
<pre aria-hidden="true" class="hidden md.block flex-none w-48 py-24 pr-14 align-right text-white text-opacity-40 bg-white bg-opacity-10 font-mono font-sm leading-5">1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32</pre>
{% highlight "html" %}
<article class="w-100p max-w-512 radius-md bg-white shadow-md">
  <header class="px-24 py-20 border-b-1 border-black border-opacity-10">
    <h4 class="font-lg font-bold">Recent Messages</h4>
  </header>
  <div class="p-24">
    <div class="flex align-items-center mb-20">
      <img src="/assets/img/diane-profile.png" class="w-48 h-48 radius-round mr-24">
      <div>
        <h5 class="font-md font-bold">Diane Schaefer</h5>
        <span class="font-sm">5 mins ago &bull; Public</span>
      </div>
    </div>
    <div class="font-md bg-silver-200 bg-brighten-500 bg-opacity-60 radius-sm mb-20 p-20">
      <p class="text-black">Hi, I am a graphic designer and I am looking for someone who would like to work on a project together.</p>
    </div>
    <div class="flex font-md">
      <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
        <svg class="fill-current w-20 text-red text-brighten-500 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> <span class="hidden sm.inline">132 Likes</span>
      </a>
      <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
        <svg class="stroke-current w-20 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <span class="hidden sm.inline">36 Comments</span>
      </a>
      <a class="flex align-items-center mr-28 font-500 text-black hover.text-black transition-200">
        <svg class="stroke-current w-20 mr-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg> <span class="hidden sm.inline">Share</span>
      </a>
    </div>
  </div>
</article>
{% endhighlight %}
          </div>
        </div>
        <span class="cd-image-label px-10 py-8 radius-round bg-white text-black mb-12 ml-12 font-xs font-bold tracking-2 uppercase" data-type="modified">HTML</span>
      </div>
  
      <span class="cd-handle"></span>
    </figure> <!-- cd-image-container -->


    <div class="grid grid-cols-1 md.grid-cols-3 gap-64">
      <div>
        <div class="mb-20 text-black font-5xl font-light">146</div>
        <h4 class="font-lg font-extrabold mb-24">Properties Supported</h4>
        <p class="font-md text-black mb-28">Uniform CSS supports all common CSS properties out of the box. Additionally, you can add your own custom properties directly through the configuration.</p>
      </div>
      <div>
        <div class="mb-20 text-black font-5xl font-light">136</div>
        <h4 class="font-lg font-extrabold mb-24">Semantic Colors Available</h4>
        <p class="font-md text-black mb-28">Easily customize and configure Uniform to match your brand and design. Uniform CSS provides colors that are configurable using CSS variable overrides.</p>
      </div>
      <div>
        <div class="mb-20 text-black font-5xl font-light">72</div>
        <h4 class="font-lg font-extrabold mb-24">Spacing and Size Variants</h4>
        <p class="font-md text-black mb-28">Build pixel perfect components without compromise. Uniform supports all common spacing and sizes across all breakpoints. </p>
      </div>
    </div>


  </div>
</section>




<div class="wrapper">
  <div class="h-3 bg-silver-100 bg-brighten-500"></div>
</div>





<section>
  <div class="wrapper py-128">

    <div class="mb-20">
      <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-black uppercase font-xs font-bold tracking-looser text-black">Components</span>
    </div>
    <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold mb-36 tracking-tight max-w-900px">
      Fully customizable components <br>for common UI elements
    </h1>

    <div class="mb-96">
      <a href="#" class="font-extrabold font-lg text-black hover.text-black">
        Learn more about modules 
      </a>
    </div>

    <div class="grid grid-cols-2 gap-64 mb-64">
      <div class="flex align-items-center justify-content-center py-96 radius-lg bg-silver-100 bg-brighten-500">
        <form class="w-100p max-w-320 p-20 bg-white radius-md shadow-md">
          <div class="mb-20 last.mb-0">
            <label class="label mb-8">Email</label>
            <input class="input" placeholder="Email" value="Placeholder Text">
          </div>
          <div class="mb-20 last.mb-0">
            <label class="checkbox">
              <input type="checkbox" checked required />
              <div class="checkbox__checkmark"></div>
              Checkbox
            </label>
          </div>
          <div class="mb-20 last.mb-0">
            <label class="radio mr-4">
              <input type="radio" name="radio" checked />
              <div class="radio__checkmark"></div>
              Radio
            </label>
            <label class="radio">
              <input type="radio" name="radio" checked />
              <div class="radio__checkmark"></div>
              Radio
            </label>
          </div>
          <div class="mb-20 last.mb-0">
            <label class="toggle">
              <input type="checkbox" checked />
              <div class="toggle__switch"></div>
            </label>
          </div>
          <div class="mb-20 last.mb-0">
            <div class="select">
              <select>
                <option selected>Selected</option>
                <option>Option</option>
                <option>Option</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="flex align-items-center justify-content-center radius-lg bg-silver-100 bg-brighten-500">
        <div class="grid grid-cols-1 gap-24 w-100p max-w-320">
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-secondary">Button</button>
          <button class="btn btn-tertiary">Button</button>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md.grid-cols-2 gap-64">
      <div>
        <h4 class="font-lg font-800 mb-24">Form Module</h4>
        <p class="font-md text-black mb-28 max-w-512">The form module is an optional pre-built component that can be useful for dealing with user input related fields on a page. You can customize the look of this module using CSS variable hooks directly in your CSS.</p>
      </div>
      <div>
        <h4 class="font-lg font-800 mb-24">Button Module</h4>
        <p class="font-md text-black mb-28 max-w-512">The button module is an optional pre-built component that can be useful for dealing with call-to-actions on a page. You can customize the look of this module using CSS variable hooks directly in your CSS.</p>
      </div>
    </div>


  </div>
</section>













<section class="bg-silver-100 bg-brighten-500">
  <div class="wrapper py-128">

    <div class="mb-20">
      <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-black uppercase font-xs font-bold tracking-looser text-black">Animations</span>
    </div>
    <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold m-auto mb-36 tracking-tight">
      Apply motion-safe and smooth <br>animations using a single utility class.
    </h1>

    <div class="mb-96">
      <a href="#" class="font-extrabold font-lg text-black hover.text-black">
        Learn more about modules 
      </a>
    </div>

    <div class="grid grid-rows-2 grid-cols-3 gap-20 h-512 mb-64">
      <div class="flex align-items-center justify-content-center row-2 radius-lg bg-silver-200">
        <button type="button" class="bg-rose-600 ..." disabled>
          <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
            <!-- ... -->
          </svg>
          Processing
        </button>
      </div>
      <div class="flex align-items-center justify-content-center radius-lg bg-silver-200">
        <button type="button" class="btn btn-lg" disabled>
          {# <svg class="fill-current text-white animate-spin h-24 w-24 mr-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path d="M108.92 355.08a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0-294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm294.16 294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-secondary"/><path d="M256 416a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm208-208a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM256 0a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM48 208a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-primary"/></svg> #}
          <svg class="fill-current text-white animate-spin h-20 w-20 mr-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z"/></svg>
          Processing
        </button>
      </div>
      <div class="flex align-items-center justify-content-center row-2 radius-lg bg-silver-200">
        <button type="button" class="btn btn-lg btn-outline" disabled>
          {# <svg class="fill-current text-white animate-spin h-24 w-24 mr-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path d="M108.92 355.08a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0-294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm294.16 294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-secondary"/><path d="M256 416a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm208-208a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM256 0a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM48 208a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-primary"/></svg> #}
          <span class="flex h-10 w-10">
            <span class="animate-ping absolute inline-flex h-10 w-10 radius-round bg-purple opacity-70"></span>
            <span class="relative inline-flex radius-round h-10 w-10 bg-purple"></span>
          </span>
          Processing
        </button>
      </div>
      <div class="flex align-items-center justify-content-center radius-lg bg-silver-200">
        <button type="button" class="btn btn-lg btn-outline" disabled>
          {# <svg class="fill-current text-white animate-spin h-24 w-24 mr-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path d="M108.92 355.08a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0-294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm294.16 294.16a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-secondary"/><path d="M256 416a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm208-208a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM256 0a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM48 208a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-primary"/></svg> #}
          <span class="flex h-10 w-10">
            <span class="animate-ping absolute inline-flex h-10 w-10 radius-round bg-purple opacity-70"></span>
            <span class="relative inline-flex radius-round h-10 w-10 bg-purple"></span>
          </span>
          Processing
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md.grid-cols-3 gap-64">
      <div>
        <div class="mb-24 text-black font-5xl font-bold">25kb</div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <div class="mb-24 text-black font-5xl font-bold">25kb</div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <div class="mb-24 text-black font-5xl font-bold">25kb</div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
    </div>


  </div>
</section>
















<section class="bg-primary-900 py-128">

  <div class="wrapper">
    <div class="h-3px bg-black opacity-10"></div>
    <div class="grid grid-cols-1 sm.grid-cols-2 mb-72">
      <div class="flex align-items-center">
        <div>
          <div class="mb-20">
            <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-lime border-brighten-500 text-lime text-brighten-500 uppercase font-xs tracking-looser">Components</span>
          </div>
          <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold m-auto mb-28 tracking-tight text-white">Make your sassy web more beautiful, fast, and open</h1>
          <a href="#" class="group inline-flex align-items-center font-800 font-lg text-white hover.text-white">
            <div class="flex align-items-center justify-content-center w-48 h-48 radius-round shadow-md bg-white group-hover.bg-white text-black group-hover.text-black transition duration-200 mr-18">
              <svg class="w-24 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"/></svg>
            </div>
            Play on Codepen
          </a>
        </div>
      </div>
      <div>
        <img src="/assets/img/scss-css-html.svg" class="max-w-512 mx-auto">
      </div>
    </div>

    <div class="grid grid-cols-1 md.grid-cols-3 gap-64">
      <div>
        <div class="mb-24 font-5xl font-bold text-white">25kb</div>
        <h4 class="font-lg font-800 mb-20 text-white"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-white mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <div class="mb-24 font-5xl font-bold text-white">25kb</div>
        <h4 class="font-lg font-800 mb-20 text-white"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-white mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <div class="mb-24 font-5xl font-bold text-white">25kb</div>
        <h4 class="font-lg font-800 mb-20 text-white"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-white mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
    </div>
  </div>
</section>






























<section>
  <div class="wrapper py-128">

    <div class="mb-20">
      <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-black uppercase font-xs font-bold tracking-looser">Components</span>
    </div>
    <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold mb-10 tracking-tight max-w-900px">
      Making the web more beautiful, fast, and open through great typography
    </h1>

    <div class="mb-16">
      <a href="#" class="group inline-flex align-items-center font-800 font-lg">
        <div class="flex align-items-center justify-content-center w-11 h-11 radius-round shadow-md bg-white text-black group-hover.text-white group-hover.bg-black transition duration-200 mr-18">
          <svg class="w-7 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"/></svg>
        </div>
        Play on Codepen
      </a>
    </div>

    <div class="grid grid-cols-4 col-gap-8 row-gap-14 mb-20">
      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>
      
      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>

      <div class="flex align-items-center radius-lg">
        <div class="w-15 h-64 radius-round mr-18 bg-red-500"></div>
        <div class="font-md font-bold text-gray-500 lowercase leading-8">
          Primary<br>
          #1A2242
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md.grid-cols-4 gap-56">
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28">Install Material-UI's source files via npm. We take care of injecting the CSS needed.</p>
      </div>
    </div>


  </div>
</section>







<div class="wrapper">
  <div class="h-3px bg-black opacity-10"></div>
</div>







<section">
  <div class="wrapper py-128">
    

    <div class="mb-20">
      <span class="inline-flex align-items-center h-32 px-12 radius-sm border-1 border-black uppercase font-xs font-bold tracking-looser">Components</span>
    </div>
    <h1 class="font-3xl sm.font-6xl md.font-7xl font-bold mb-10 tracking-tight max-w-900px">
      Making the web more beautiful, fast, and open through great typography
    </h1>

    <div class="mb-16">
      <a href="#" class="group inline-flex align-items-center font-800 font-lg">
        <div class="flex align-items-center justify-content-center w-11 h-11 radius-round shadow-md bg-white text-black group-hover.text-white group-hover.bg-black transition duration-200 mr-18">
          <svg class="w-7 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"/></svg>
        </div>
        Play on Codepen
      </a>
    </div>

    <div class="grid grid-cols-2 gap-8 h-500px mb-20">
      <div class="flex align-items-center justify-content-center radius-lg bg-white">
        1
      </div>
      <div class="flex align-items-center justify-content-center radius-lg bg-white">
        2
      </div>
    </div>

    <div class="grid grid-cols-1 md.grid-cols-2 gap-8">
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28 max-w-512">Because Tailwind is so low-level, it never encourages you to design the same site twice. Even with the same color palette and sizing scale, it's easy to build the same component with a completely different look in the next project.</p>
      </div>
      <div>
        <h4 class="font-lg font-800 mb-20"><span>Step1.</span> Install the Package</h4>
        <p class="font-md text-black mb-28 max-w-512">Because Tailwind is so low-level, it never encourages you to design the same site twice. Even with the same color palette and sizing scale, it's easy to build the same component with a completely different look in the next project.</p>
      </div>
    </div>


  </div>
</section>





{% include "partials/footer.njk" %}