---
title: Supercharged utility-first CSS framework built on Sass.
layout: layouts/base.njk
background: 'bg-primary bg-shade-900'
eleventyNavigation:
  key: Home
  order: 1
scssExample: |
  @use "uniform" as * with (
    $config: (
      important: true,
    )
  );
cssExample: |
  .text-left { 
    text-align: left !important; 
  }

  .text-center { 
    text-align: center !important; 
  }

  .text-right { 
    text-align: right !important; 
  }

  .align-top {
    ...
---

<div class="flex align-items-center justify-content-center h-40 bg-gradient">
  <div class="flex align-items-center color-white text-sm">
    <span class="inline-flex align-items-center mr-12 px-6 bg-white color-blue uppercase text-2xs bold tracking-loose radius-sm">New</span> Wohoo! Uniform CSS has officially launched <span class="ml-12 font-md">🎉</span>
  </div>
</div>


<nav class="pt-40">
  <div class="wrapper px-20">
    <div class="w-100p max-w-576 mx-auto">

      <div class="relative color-white text-sm leading-none">
        <div class="absolute z-2 top-0 left-20 w-16 h-56 flex align-items-center justify-content-center">
          <svg class="w-16 h-16 fill-current color-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"/></svg>
        </div>

        <input type="text" placeholder="Search anything" class="w-100p h-56 px-32 text-md text-center radius-lg shadow-card placeholder-cool-gray focus.placeholder-white color-cool-gray js-docsearch">
      </div>
      
    </div>
  </div>
</nav>


<header>
  <div class="wrapper px-20 text-center">
    <div class="max-w-900px pt-128 py-224">
      <div class="inline-flex align-items-center text-4xl semibold tracking-tight mb-32 color-cool-gray color-shade-600">
        <img src="/assets/img/uniform-logo.svg" class="w-36 h-36 mr-20">
        Uniform
      </div>
      <h1 class="text-6xl sm.text-7xl lg.text-10xl extrabold m-auto mb-32 tracking-tighter color-cool-gray color-shade-600">Supercharged utility-first <br class="hidden sm.inline">CSS framework built on Sass</h1>
      <p class="font-xl leading-160 mb-48 color-cool-gray color-shade-400 max-w-640 mx-auto">Gain the full power utility-first without compromising Sass. Uniform is a flexible CSS framework designed to help front-end teams thrive.</p>
      <a href="https://codepen.io/ThinkUniform/pen/poNNqaE" class="inline-flex align-items-center h-48 pl-10 pr-20 bg-gradient focus.shadow-focus radius-sm semibold text-md color-white mb-48">
        <ion-icon name="logo-codepen" class="text-4xl mr-14"></ion-icon>
        Play on Codepen
      </a>
      <div class="color-cool-gray">
        or <a href="#" class="ml-10 bold color-cool-gray color-shade-full hover.color-shade-600">View Documentation</a>
      </div>
    </div>
  </div>
</header>

{% include "partials/sections/get-started.njk" %}
{% include "partials/sections/start-building.njk" %}

{% include "partials/footer.njk" %}