@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: right;
$keyword: r;
$responsive: true;
$responsive-pseudos: false;

$properties: (right);

$variants: (
  auto: auto,
  n100p: -100%,
	100p: 100%,
	n50p: -50%,
  50p: 50%,
  0: 0,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);