@use "uniform/core";
@use "sass:map";

$name: bottom;
$keyword: b;
$responsive: true;
$responsive-pseudos: false;

$properties: (bottom);
$custom-properties: ();

$variants: (
  core.merge(
    core.positive-sizes(),
    (
      auto: auto,
      n100p: -100%,
      100p: 100%,
      n50p: -50%,
      50p: 50%,
      0: 0,
    )
  )
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);