@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: xy;
$responsive: true;
$responsive-pseudos: false;

$properties: (top, right, bottom, left);

$core-variants: (
  0: 0,
  auto: auto
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
