/* 
========================================================================
WRAPPER MODULE
======================================================================== 
*/

.markdown {
	font-size: var(--markdown-font-size, var(--font-md));
	line-height: var(--markdown-leading, var(--leading-180));

	/* 
  ========================================================================
  HEADING

  --markdown-h1-margin-top
  --markdown-h1-margin-bottom
  --markdown-h1-size
  --markdown-h1-weight
  --markdown-h1-tracking

  --markdown-h2-margin-top
  --markdown-h2-margin-bottom
  --markdown-h2-size
  --markdown-h2-weight
  --markdown-h2-tracking

  --markdown-h3-margin-top
  --markdown-h3-margin-bottom
  --markdown-h3-size
  --markdown-h3-weight
  --markdown-h3-tracking

  --markdown-h4-margin-top
  --markdown-h4-margin-bottom
  --markdown-h4-size
  --markdown-h4-weight
  --markdown-h4-tracking
  ======================================================================== 
  */

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		color: var(--markdown-heading-color, black);
	}

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6,
	& > p {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	& > h1 {
		margin-top: var(--markdown-h1-margin-top, var(--size-48));
		margin-bottom: var(--markdown-h1-margin-bottom, var(--size-20));
		font-size: var(--markdown-h1-size, var(--font-6xl));
		font-weight: var(--markdown-h1-weight, var(--bold));
		line-height: var(--markdown-h1-leading, var(--leading-140));
		letter-spacing: var(--markdown-h1-tracking, 0);
	}

	& > h2 {
		margin-top: var(--markdown-h2-margin-top, var(--size-48));
		margin-bottom: var(--markdown-h2-margin-bottom, var(--size-20));
		font-size: var(--markdown-h2-size, var(--font-2xl));
		font-weight: var(--markdown-h2-weight, var(--bold));
		line-height: var(--markdown-h2-leading, var(--leading-140));
		letter-spacing: var(--markdown-h2-tracking, 0);
	}

	& > h3 {
		margin-top: var(--markdown-h3-margin-top, var(--size-48));
		margin-bottom: var(--markdown-h3-margin-bottom, var(--size-20));
		font-size: var(--markdown-h3-size, var(--font-xl));
		font-weight: var(--markdown-h3-weight, var(--bold));
		line-height: var(--markdown-h3-leading, var(--leading-140));
		letter-spacing: var(--markdown-h3-tracking, 0);
	}

	& > h4 {
		margin-top: var(--markdown-h4-margin-top, var(--size-40));
		margin-bottom: var(--markdown-h4-margin-bottom, var(--size-20));
		font-size: var(--markdown-h4-size, var(--font-lg));
		font-weight: var(--markdown-h4-weight, var(--bold));
		line-height: var(--markdown-h4-leading, var(--leading-140));
		letter-spacing: var(--markdown-h4-tracking, 0);
	}

	/* 
  ========================================================================
  PARAGRAPH

  --markdown-p-margin
  --markdown-p-weight
  --markdown-p-size
  --markdown-p-color
  ======================================================================== 
  */

	& > p, & > ol, & > ul {
		margin-top: var(--markdown-p-margin-top, var(--size-24));
		margin-bottom: var(--markdown-p-margin-bottom, var(--size-24));
		font-size: var(--markdown-p-size, var(--font-md));
		font-weight: var(--markdown-p-weight, var(--regular));
		line-height: var(--markdown-p-leading, var(--leading-normal));
		color: var(--markdown-p-color, black);
	}

	/* 
  ========================================================================
  HORIZONTAL RULE

  --markdown-hr-width
  --markdown-hr-margin
  --markdown-hr-color
  ======================================================================== 
  */

	& > hr {
		height: var(--markdown-hr-width, 1px);
		margin-top: var(--markdown-hr-margin, var(--size-64));
		margin-bottom: var(--markdown-hr-margin, var(--size-64));
		border: 0;
		background: var(--markdown-hr-color, #e3e5e8);
	}

	/* 
  ========================================================================
  CODE

  --markdown-code-padding
  --markdown-code-font-size
  --markdown-code-radius
  --markdown-code-bg
  --markdown-code-border
  --markdown-code-color
  ======================================================================== 
  */

	p,
	blockquote,
	ol,
	ul,
	table {
		code {
			padding: var(--markdown-code-padding, 5px 6px);
			font-size: var(--markdown-code-font-size, var(--font-sm));
			border-radius: var(--markdown-code-radius, var(--radius-sm));
			background: var(
				--markdown-code-bg,
				hsla(var(--sky-hue), var(--sky-sat), 50%, var(--opacity-20))
			);
			border: var(--markdown-code-border, 0);
			color: var(--markdown-code-color, hsl(var(--sky-hue), var(--sky-sat), 50%));
			white-space: nowrap;
			user-select: all;
		}
	}

	/* 
  ========================================================================
  BLOCKQUOTE

  --markdown-blockquote-margin
  --markdown-blockquote-padding
  --markdown-blockquote-bg
  --markdown-blockquote-radius
  --markdown-blockquote-shadow
  ======================================================================== 
  */

	& > blockquote {
		margin-bottom: var(--markdown-blockquote-margin, 1.5em);
		padding: var(--markdown-blockquote-padding, var(--size-16) var(--size-24));
		background: var(
			--markdown-blockquote-bg,
			hsl(var(--gray-hue), var(--gray-sat), 50%, var(--opacity-10))
		);
		border-radius: var(--markdown-blockquote-radius, 0);
		box-shadow: var(
			--markdown-blockquote-shadow,
			inset 4px 0px 0px 0px hsl(var(--gray-hue), var(--gray-sat), var(--tint-600))
		);

		&:last-child {
			margin-bottom: 0;
		}
	}

	/* 
  ========================================================================
  TABLE

  --markdown-table-margin
  --markdown-table-font-size
  --markdown-table-leading
  ======================================================================== 
  */

	& > table {
		width: 100%;
		margin-bottom: var(--markdown-table-margin, var(--size-20));
		font-size: var(--markdown-table-font-size, var(--font-sm));
		line-height: var(--markdown-table-leading, var(--leading-tight));
		th,
		td {
			border: var(
				--markdown-table-border,
				1px solid hsl(var(--gray-hue), var(--gray-sat), var(--tint-700))
			);
			padding: 0.5em 0.75em;
		}
	}

	/* 
  ========================================================================
  LISTS

  --markdown-list-margin
  --markdown-list-leading
  --markdown-list-padding
  ======================================================================== 
  */

	& > ol,
	ul {
		margin-bottom: var(--markdown-list-margin, 1.5em);
		line-height: var(--markdown-list-leading, var(--leading-normal));
	}

	& > ul {
		padding-left: var(--markdown-list-padding, var(--size-24));
		list-style-type: disc;
		list-style-position: inside;
		ul {
			padding-left: var(--markdown-list-padding, var(--size-24));
			list-style-type: circle;
			list-style-position: inside;
		}
	}
	& > ol {
		list-style-type: decimal;
		list-style-position: inside;
		ol {
			list-style-type: decimal;
			list-style-position: inside;
		}
	}

	/* 
  ========================================================================
  LINK & EMPHASIS

  --markdown-link-color
  --markdown-link-hover-color
  ======================================================================== 
  */

	p,
	blockquote,
	ol,
	ul,
	table {
		a {
			color: var(--markdown-link-color, hsl(var(--sky-hue), var(--sky-sat), 50%));
			&:hover {
				color: var(--markdown-link-hover-color, hsl(var(--sky-hue), var(--sky-sat), 50%));
				text-decoration: underline;
			}
		}
		strong {
			font-weight: var(--markdown-strong-weight, var(--bold));
		}
		em {
			font-style: italic;
		}
	}
}
