@use "uniform/config" as *;
@use "sass:map";

$keyword: cursor;
$responsive: false;
$responsive-pseudos: false;

$properties: (cursor);

$variants: (
  auto: auto,
  default: default,
  pointer: pointer,
  wait: wait,
  text: text,
  move: move,
  not-allowed: not-allowed
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (hover, active);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
