@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: pointer-events;
$responsive: false;
$responsive-pseudos: false;

$properties: (pointer-events);

$core-variants: (
  none: none,
  auto: auto
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
