@use "uniform/config" as *;
@use "sass:map";

$keyword: pointer-events;
$responsive: false;
$responsive-pseudos: false;

$properties: (pointer-events);

$variants: (
  none: none,
  auto: auto
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);