@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: resize;
$responsive: true;
$responsive-pseudos: false;

$properties: (resize);

$core-variants: (
	none: none,
	both: both,
	horizontal: horizontal,
	vertical: vertical,
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
