@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: scrolling;
$responsive: false;
$responsive-pseudos: false;

$properties: (-webkit-overflow-scrolling);

$variants: (
  auto: auto,
  touch: touch
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);