@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: scrolling;
$responsive: false;
$responsive-pseudos: false;

$properties: (-webkit-overflow-scrolling);

$core-variants: (
  auto: auto,
  touch: touch
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
