@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: user-select;
$keyword: select;
$responsive: false;
$responsive-pseudos: false;

$properties: (user-select);

$variants: (
  none: none,
  text: text,
  all: all,
  auto: auto
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);