@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: resize;
$keyword: resize;
$responsive: true;
$responsive-pseudos: false;

$properties: (resize);

$variants: (
	none: none,
	both: both,
	horizontal: horizontal,
	vertical: vertical,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);