@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: resize;
$responsive: true;
$responsive-pseudos: false;

$properties: (resize);

$variants: (
	none: none,
	both: both,
	horizontal: horizontal,
	vertical: vertical,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);