@use "uniform/config" as *;
@use "sass:map";

$name: visibility;
$keyword: exempt;
$responsive: true;
$responsive-pseudos: false;

$properties: (visibility);

$variants: (
  visible: visible,
  invisible: hidden
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);