@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: exempt;
$responsive: true;
$responsive-pseudos: false;

$properties: (display);

$core-variants: (
  inline: inline,
  block: block,
  flex: flex,
  grid: grid,
  inline-block: inline-block,
  inline-flex: inline-flex,
  inline-grid: inline-grid,
  inline-table: inline-table,
  table: table,
  table-caption: table-caption,
  table-column-group: table-column-group,
  table-header-group: table-header-group,
  table-footer-group: table-footer-group,
  table-row-group: table-row-group,
  table-cell: table-cell,
  table-column: table-column,
  table-row: table-row,
  hidden: none
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: (group-hover);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
