@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: outline;
$responsive: false;
$responsive-pseudos: false;

$properties: (outline);

$core-variants: (
  0: 0
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: (focus);
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
