@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: outline;
$keyword: outline;
$responsive: false;
$responsive-pseudos: false;

$properties: (outline);

$variants: (
  0: 0
);

$pseudos: (focus);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);