@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: display;
$keyword: null;
$responsive: true;
$responsive-pseudos: false;

$properties: (display);

$variants: (
  inline: inline,
  block: block,
  flex: flex,
  grid: grid,
  inline-block: inline-block,
  inline-flex: inline-flex,
  inline-grid: inline-grid,
  inline-table: inline-table,
  table: table,
  table-caption: table-caption,
  table-column-group: table-column-group,
  table-header-group: table-header-group,
  table-footer-group: table-footer-group,
  table-row-group: table-row-group,
  table-cell: table-cell,
  table-column: table-column,
  table-row: table-row,
  hidden: none
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);
