<section class="px-20 sm.mb-160" x-data="{ activeTab: 0, activeUI: 0, activeAPI: 0 }">

  <div class="max-w-screen-md mx-auto">
    <div class="text-center mb-48 sm.mb-112">
      <div class="text-sm tracking-looser bold uppercase color-primary color-tint-200 mb-6">
        Change Anything
      </div>
      <h2 class="font-7xl leading-120 extrabold tracking-tight color-primary color-shade-600 mb-32">
        Build prototypes like <br>never before
      </h2>
      <div class="flex align-items-center justify-content-center">
        <div class="flex p-6 shadow-card radius-sm">
          <button class="text-md semibold color-primary color-shade-600 px-18 h-40 radius-sm" 
            @click.prevent="activeTab = 0"
            :class="{ 'bg-gradient color-white': activeTab === 0 }">
            Rapid Workflow
          </button>
          <button class="text-md semibold color-primary color-shade-600 px-18 h-40 radius-sm" 
            @click.prevent="activeTab = 1"
            :class="{ 'bg-gradient color-white': activeTab === 1 }">
            Intuitive API
          </button>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-card radius-2xl">
      <div class="grid grid-cols-12">
        <div class="relative col-12 sm.col-5 p-24 sm.px-48 py-56">
          <div class="text-center sm.text-left"
            x-show.transition.in.opacity.duration.600="activeTab === 0">
            <h3 class="text-4xl extrabold tracking-tight mb-24 color-primary color-shade-600"><span class="bg-text color-transparent bg-gradient">Blazingly fast</span> <br>front-end workflow</h3>
            <p class="text-lg color-cool-gray sm.pr-40 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, hundreds.</p>
            <a href="#" class="text-lg color-primary bold">Live edit on Codepen <ion-icon name="chevron-forward-outline" class="ml-4"></ion-icon></a>
            <div class="flex flex-wrap pt-48">
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 0 }"
                @click="activeUI = 0">
                Calendar
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 1 }"
                @click="activeUI = 1">
                eCommerce
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 2 }"
                @click="activeUI = 2">
                Pop up
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 3 }"
                @click="activeUI = 3">
                Sign in
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 4 }"
                @click="activeUI = 4">
                Player
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeUI !== 5 }"
                @click="activeUI = 5">
                Activity
              </button>
              
            </div>
          </div>
          
          <div class="text-center sm.text-left"
            x-show.transition.in.opacity.duration.600="activeTab === 1">
            <h3 class="text-4xl extrabold tracking-tight mb-24 color-primary color-shade-600"><span class="bg-text color-transparent bg-gradient">Intuitive</span> and <br>easy to remember</h3>
            <p class="text-lg color-cool-gray sm.pr-40 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, hundreds.</p>
            <a href="#" class="text-lg color-primary bold">See the glossary <ion-icon name="chevron-forward-outline" class="ml-4"></ion-icon></a>
            <div class="flex flex-wrap pt-48">
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeAPI !== 0 }"
                @click="activeAPI = 0">
                Sizing
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeAPI !== 1 }"
                @click="activeAPI = 1">
                Typography
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeAPI !== 2 }"
                @click="activeAPI = 2">
                Color
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeAPI !== 3 }"
                @click="activeAPI = 3">
                Radius
              </button>
              <button class="flex-none mr-12 mb-12 px-12 py-3 text-sm semibold border-1 border-black radius-full"
                :class="{ 'opacity-20 hover.opacity-100 transition-200' : activeAPI !== 4 }"
                @click="activeAPI = 4">
                Shadow
              </button>
              
            </div>
          </div>
        </div>
        <div class="col-12 sm.col-7 relative ">
          <div class="relative sm.absolute w-100p top-0 bottom-0 sm.mt-n40 sm.mb-n40 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
            x-show="activeTab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90">  

            <article class="h-100p flex align-items-center justify-content-center radius-xl overflow-hidden shadow-card bg-linear" style="--gradient: 45deg, #b1b9cc, #b6caef;">

              <div x-show.transition.in.duration.600="activeUI === 0">
                {% include "partials/ui/calendar.njk" %}
              </div>

              <div x-show.transition.in.duration.600="activeUI === 1">
                {% include "partials/ui/ecommerce.njk" %}
              </div>

              <div x-show.transition.in.duration.600="activeUI === 2">
                {% include "partials/ui/pop-up.njk" %}
              </div>

              <div x-show.transition.in.duration.600="activeUI === 3">
                {% include "partials/ui/sign-in.njk" %}
              </div>

              <div x-show.transition.in.duration.600="activeUI === 4">
                {% include "partials/ui/player.njk" %}
              </div>

              <div x-show.transition.in.duration.600="activeUI === 5">
                {% include "partials/ui/activity.njk" %}
              </div>

              

            </article>

          </div>

          <div class="relative sm.absolute w-100p top-0 bottom-0 sm.mt-n40 sm.mb-n40 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
            x-show="activeTab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90">  

            <article class="h-100p radius-xl overflow-hidden shadow-card bg-white">

              <div class="relative w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 0">
                {% include "partials/api/sizing.njk" %}
                <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
                  <div class="h-192 bg-gradient-y-to-white"></div>
                </div>
              </div>

              <div class="relative w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 1">
                {% include "partials/api/typography.njk" %}
                <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
                  <div class="h-192 bg-gradient-y-to-white"></div>
                </div>
              </div>

              <div class="relative w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 2">
                {% include "partials/api/color.njk" %}
                <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
                  <div class="h-192 bg-gradient-y-to-white"></div>
                </div>
              </div>

              <div class="relative w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 3">
                {% include "partials/api/radius.njk" %}
              </div>

              <div class="relative w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 4">
                {% include "partials/api/shadow.njk" %}
                <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
                  <div class="h-192 bg-gradient-y-to-white"></div>
                </div>
              </div>

              

            </article>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
