
<section class="px-20 mb-128 sm.mb-256" x-data="{ activeTab: 0 }">

  <div class="max-w-screen-md mx-auto">
    <div class="text-center mb-48 sm.mb-112">
      <div class="text-sm tracking-loose bold uppercase color-blue mb-10">
        Get Started
      </div>
      <h2 class="text-7xl extrabold tracking-tight mb-24">Setup in minutes</h2>
      <div class="flex align-items-center justify-content-center">
        <div class="flex p-6 shadow-card radius-sm">
          <button class="text-md semibold color-black px-24 h-48 radius-sm" 
            @click.prevent="activeTab = 0"
            :class="{ 'bg-gradient color-white': activeTab === 0 }"
          >
            Overview
          </button>
          <button class="text-md semibold color-black px-24 h-48 radius-sm" 
            @click.prevent="activeTab = 1"
            :class="{ 'bg-gradient color-white': activeTab === 1 }"
          >
            Installation
          </button>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-card radius-2xl">
      <div class="grid grid-cols-12">
        <div class="relative col-12 sm.col-5 p-24 sm.p-48 sm.pl-48 py-56">
          <div
            class="text-center sm.text-left"
            x-show.transition.in.opacity.duration.600="activeTab === 0"
          >
            <h3 class="font-4xl leading-130 extrabold tracking-tight mb-32">Load and configure <br><span class="bg-text color-transparent bg-gradient">directly</span> in Sass</h3>
            <p class="text-xl color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
            <a href="#" class="text-lg color-primary bold">Learn how to get started <i class="fas fa-angle-right ml-4 opacity-30"></i></a>
            <div class="grid grid-cols-2 pt-48">
              <div class="font-md leading-140">
                <div class="font-2xl bold tracking-tight">48KB</div>
                using brotli
              </div>
              <div class="font-md leading-140">
                <div class="font-2xl bold tracking-tight">1s</div>
                build time
              </div>
            </div>
          </div>
          
          <div
            class="text-center sm.text-left"
            x-show.transition.in.opacity.duration.600="activeTab === 1"
          >
            <h3 class="font-4xl leading-130 extrabold tracking-tight mb-32">Literally just <br><span class="bg-text color-transparent bg-gradient">one line</span> of code</h3>
            <p class="text-xl color-cool-gray color-shade-200 mb-32">Castle tracks fraudsters based on device fingerprint, keystrokes, site browsing history, and hundreds of other signals.</p>
            <a href="#" class="text-lg color-primary bold">More about Filter API <i class="fas fa-angle-right ml-4 opacity-30"></i></a>
            <div class="flex align-items-center gutter-x-32 pt-48">
              <a href="#">
                <i class="fab fa-fw fa-github-alt text-4xl color-black"></i> 
              </a>
              <a href="#">
                <i class="fab fa-fw fa-sass text-4xl color-black"></i> 
              </a>
              <a href="#">
                <i class="fab fa-fw fa-npm text-4xl color-black"></i> 
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 sm.col-7 relative ">
          <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n56 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
            x-show="activeTab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90"
          >  

            <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

              <header class="h-56 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                <i class="fab fa-sass text-2xl color-pink color-tint-200 mr-18"></i>
                <div class="flex flex-col sm.flex-row justify-content-between w-100p font-sm leading-140">
                  <div class="color-white">
                    Configure Uniform directly in Sass
                  </div>
                  <div class="color-white medium color-opacity-50">
                    styles.scss
                  </div>
                </div>
              </header>
              <footer>
                {% highlight "scss" %}
                {{ scssExample | safe }}
                {% endhighlight %}
              </footer>

            </article>

            <div class="flex justify-content-center h-48 overflow-hidden">
              <div class="relative gutter-y-9">
                <span class="falling-ball"></span>
                <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
                <span class="block w-4 h-4 radius-full bg-tertiary bg-shade-600 bg-opacity-40"></span>
              </div>
            </div>

            <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">

              <header class="h-56 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                <span class="inline-flex align-items-center mr-16 px-6 bg-white color-tertiary color-shade-600 uppercase text-2xs extrabold radius-sm">css</span>
                <div class="flex flex-col sm.flex-row justify-content-between w-100p font-sm leading-140">
                  <div class="color-white">
                    Generate<span class="hidden sm.inline"> suite of</span> utilities properties
                  </div>
                  <div class="color-white medium color-opacity-50">
                    styles.css
                  </div>
                </div>
              </header>
              <footer>
                {% highlight "css" %}
                {{ cssExample | safe }}
                {% endhighlight %}
              </footer>

            </article>

          </div>

          <div class="sm.absolute w-100p top-0 bottom-0 sm.mt-n56 px-40 pb-40 sm.pb-0 sm.pl-0 sm.pr-40" 
            x-show="activeTab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90"
          >  

            <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card mb-20">
              <header class="h-56 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                <p class="color-white text-sm">
                  <span class="bold mr-10">Step 1.</span> Install the Package or clone repository
                </p>
              </header>
              <footer>
                {% highlight "bash" %}
npm install uniformcss
                {% endhighlight %}
              </footer>
            </article>

            <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card mb-20">
              <header class="h-56 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                <p class="color-white text-sm">
                  <span class="bold mr-10">Step 2.</span> Load Uniform module in Sass and compile
                </p>
              </header>
              <footer>
                {% highlight "scss" %}
                @use "uniform" as *;
                {% endhighlight %}
              </footer>
            </article>

            <article class="radius-lg overflow-hidden bg-tertiary bg-shade-600 shadow-card">
              <header class="h-56 px-20 flex align-items-center border-b-1 border-white border-opacity-10">
                <p class="color-white text-sm">
                  <span class="bold mr-10">Step 3.</span> Add your css to the <code class="font-mono color-cyan color-tint-300">&lt;head&gt;</code> of your Project
                </p>
              </header>
              <footer>
                {% highlight "html" %}
<head>
  <!-- Load your compiled stylesheet here -->
  <link rel="stylesheet" href="/uniform.min.css">
</head>

<body>
  <!-- Kablam! You're now ready to use Uniform -->
  <h1 class="text-4xl text-center extrabold color-pink mb-24">
    Hello World!
  </h1>
</body>
                {% endhighlight %}
              </footer>
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>