@use "sass:map";
@use "sass:list";

// USER CONFIG
// ============================================================

$config: (
  
) !default;


// DEFAULT CONFIG
// ============================================================

@function rem($size-in-pixel) {
  $remSize: $size-in-pixel / 16;
  @return #{$remSize}rem;
}

$default-config: (
  important: false,
  prefix: '',
  delimiter: '-',
  child-delimiter: '__',
  pseudo-delimiter: '\\.',
  screen-delimiter: '\\.',
  headless: false,
  root: true,
  debugger: false,

  include-reset-styles: true,
  include-starter-styles: true,
  include-button-module: true,
  include-form-module: true,
  include-table-module: true,
  include-wrapper-module: true,

  screens: (
    xs: 896px,
    sm: 1024px,
    md: 1152px,
    lg: 1280px,
    xl: 1536px,
  ),

  pseudos: (
    first: 'first-child',
    last: 'last-child',
    first-type: 'first-of-type',
    last-type: 'last-of-type',
    odd: 'nth-child(odd)',
    even: 'nth-child(even)',
    hover: 'hover',
    active: 'active',
    visited: 'visited',
    focus: 'focus',
    disabled: 'disabled',
    empty: 'empty',
    focus-within: 'focus-within',
    group-hover: 'group-hover',
    group-focus: 'group-focus',
  ),

  hues: (
    primary-hue: 230,
    secondary-hue: 230,
    tertiary-hue: 214,
    accent-hue: 50,
    secondary-accent-hue: 60,
    tertiary-acccent-hue: 70,
  ),

  saturations: (
    primary-saturation: 50%,
    secondary-saturation: 50%,
    tertiary-saturation: 50%,
    accent-saturation: 50%,
    secondary-accent-saturation: 60%,
    tertiary-acccent-saturation: 70%,
  ),

  lightness: (
    primary-lightness-50: 95%,
    primary-lightness-100: 85%,
    primary-lightness-200: 75%,
    primary-lightness-300: 60%,
    primary-lightness-400: 55%,
    primary-lightness-500: 50%,
    primary-lightness-600: 45%,
    primary-lightness-700: 40%,
    primary-lightness-800: 30%,
    primary-lightness-900: 20%,

    secondary-lightness-50: 95%,
    secondary-lightness-100: 85%,
    secondary-lightness-200: 75%,
    secondary-lightness-300: 60%,
    secondary-lightness-400: 55%,
    secondary-lightness-500: 50%,
    secondary-lightness-600: 45%,
    secondary-lightness-700: 40%,
    secondary-lightness-800: 30%,
    secondary-lightness-900: 20%,

    tertiary-lightness-50: 95%,
    tertiary-lightness-100: 85%,
    tertiary-lightness-200: 75%,
    tertiary-lightness-300: 60%,
    tertiary-lightness-400: 55%,
    tertiary-lightness-500: 50%,
    tertiary-lightness-600: 45%,
    tertiary-lightness-700: 40%,
    tertiary-lightness-800: 30%,
    tertiary-lightness-900: 20%,

    accent-lightness-50: 95%,
    accent-lightness-100: 85%,
    accent-lightness-200: 75%,
    accent-lightness-300: 60%,
    accent-lightness-400: 55%,
    accent-lightness-500: 50%,
    accent-lightness-600: 45%,
    accent-lightness-700: 40%,
    accent-lightness-800: 30%,
    accent-lightness-900: 20%,

    secondary-accent-lightness-50: 95%,
    secondary-accent-lightness-100: 85%,
    secondary-accent-lightness-200: 75%,
    secondary-accent-lightness-300: 60%,
    secondary-accent-lightness-400: 55%,
    secondary-accent-lightness-500: 50%,
    secondary-accent-lightness-600: 45%,
    secondary-accent-lightness-700: 40%,
    secondary-accent-lightness-800: 30%,
    secondary-accent-lightness-900: 20%,

    tertiary-accent-lightness-50: 95%,
    tertiary-accent-lightness-100: 85%,
    tertiary-accent-lightness-200: 75%,
    tertiary-accent-lightness-300: 60%,
    tertiary-accent-lightness-400: 55%,
    tertiary-accent-lightness-500: 50%,
    tertiary-accent-lightness-600: 45%,
    tertiary-accent-lightness-700: 40%,
    tertiary-accent-lightness-800: 30%,
    tertiary-accent-lightness-900: 20%,
  ),

  primary-colors: (

    primary-50: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-50), var(--bg-opacity)  ),
    primary-100: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-100), var(--bg-opacity)  ),
    primary-200: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-200), var(--bg-opacity)  ),
    primary-300: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-300), var(--bg-opacity)  ),
    primary-400: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-400), var(--bg-opacity)  ),
    primary-500: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-500), var(--bg-opacity)  ),
    primary-600: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-600), var(--bg-opacity)  ),
    primary-700: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-700), var(--bg-opacity)  ),
    primary-800: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-800), var(--bg-opacity)  ),
    primary-900: hsla( var(--primary-hue), var(--primary-saturation), var(--primary-lightness-900), var(--bg-opacity)  ),
    primary: var(--primary-500),

    secondary-50: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-50), var(--bg-opacity)  ),
    secondary-100: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-100), var(--bg-opacity)  ),
    secondary-200: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-200), var(--bg-opacity)  ),
    secondary-300: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-300), var(--bg-opacity)  ),
    secondary-400: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-400), var(--bg-opacity)  ),
    secondary-500: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-500), var(--bg-opacity)  ),
    secondary-600: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-600), var(--bg-opacity)  ),
    secondary-700: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-700), var(--bg-opacity)  ),
    secondary-800: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-800), var(--bg-opacity)  ),
    secondary-900: hsla( var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness-900), var(--bg-opacity)  ),
    secondary: var(--secondary-500),

    tertiary-50: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-50), var(--bg-opacity)  ),
    tertiary-100: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-100), var(--bg-opacity)  ),
    tertiary-200: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-200), var(--bg-opacity)  ),
    tertiary-300: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-300), var(--bg-opacity)  ),
    tertiary-400: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-400), var(--bg-opacity)  ),
    tertiary-500: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-500), var(--bg-opacity)  ),
    tertiary-600: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-600), var(--bg-opacity)  ),
    tertiary-700: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-700), var(--bg-opacity)  ),
    tertiary-800: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-800), var(--bg-opacity)  ),
    tertiary-900: hsla( var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness-900), var(--bg-opacity)  ),
    tertiary: var(--tertiary-500),
  ),

  acccent-colors: (
    accent-50: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-50), var(--bg-opacity)  ),
    accent-100: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-100), var(--bg-opacity)  ),
    accent-200: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-200), var(--bg-opacity)  ),
    accent-300: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-300), var(--bg-opacity)  ),
    accent-400: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-400), var(--bg-opacity)  ),
    accent-500: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-500), var(--bg-opacity)  ),
    accent-600: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-600), var(--bg-opacity)  ),
    accent-700: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-700), var(--bg-opacity)  ),
    accent-800: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-800), var(--bg-opacity)  ),
    accent-900: hsla( var(--accent-hue), var(--accent-saturation), var(--accent-lightness-900), var(--bg-opacity)  ),
    accent: var(--accent-500),

    secondary-accent-50: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-50), var(--bg-opacity)  ),
    secondary-accent-100: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-100), var(--bg-opacity)  ),
    secondary-accent-200: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-200), var(--bg-opacity)  ),
    secondary-accent-300: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-300), var(--bg-opacity)  ),
    secondary-accent-400: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-400), var(--bg-opacity)  ),
    secondary-accent-500: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-500), var(--bg-opacity)  ),
    secondary-accent-600: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-600), var(--bg-opacity)  ),
    secondary-accent-700: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-700), var(--bg-opacity)  ),
    secondary-accent-800: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-800), var(--bg-opacity)  ),
    secondary-accent-900: hsla( var(--secondary-accent-hue), var(--secondary-accent-saturation), var(--secondary-accent-shade-900), var(--bg-opacity)  ),
    secondary-accent: var(--secondary-accent-500),

    tertiary-accent-50: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-50), var(--bg-opacity)  ),
    tertiary-accent-100: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-100), var(--bg-opacity)  ),
    tertiary-accent-200: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-200), var(--bg-opacity)  ),
    tertiary-accent-300: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-300), var(--bg-opacity)  ),
    tertiary-accent-400: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-400), var(--bg-opacity)  ),
    tertiary-accent-500: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-500), var(--bg-opacity)  ),
    tertiary-accent-600: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-600), var(--bg-opacity)  ),
    tertiary-accent-700: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-700), var(--bg-opacity)  ),
    tertiary-accent-800: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-800), var(--bg-opacity)  ),
    tertiary-accent-900: hsla( var(--tertiary-accent-hue), var(--tertiary-accent-saturation), var(--tertiary-accent-shade-900), var(--bg-opacity)  ),
    tertiary-accent: var(--tertiary-500),
  ),

  grayscale-colors: (
    silver-100: #f6f7fa,
    silver-200: #eeeff5,
    silver-300: #e5e8f1,
    silver-400: #dde0ec,
    silver-500: #d4d8e7,
    silver-600: #cbd0e2,
    silver-700: #c3c8dd,
    silver-800: #bac1d9,
    silver-900: #b2b9d4,

    gray-100: #b8bac3,
    gray-200: #a3a6b2,
    gray-300: #8f92a0,
    gray-400: #7a7e8f,
    gray-500: #686c7b,
    gray-600: #575a67,
    gray-700: #454852,
    gray-800: #34363e,
    gray-900: #232429,
  ),

  opaque-colors: (
    tint-02: rgba(255,255,255, .02),
    tint-04: rgba(255,255,255, .04),
    tint-06: rgba(255,255,255, .06),
    tint-08: rgba(255,255,255, .08),
    tint-10: rgba(255,255,255, .1),
    tint-20: rgba(255,255,255, .2),
    tint-30: rgba(255,255,255, .3),
    tint-40: rgba(255,255,255, .4),
    tint-50: rgba(255,255,255, .5),
    tint-60: rgba(255,255,255, .6),
    tint-70: rgba(255,255,255, .7),
    tint-80: rgba(255,255,255, .8),
    tint-90: rgba(255,255,255, .9),

    shade-02: rgba(0,0,0, .02),
    shade-04: rgba(0,0,0, .04),
    shade-06: rgba(0,0,0, .06),
    shade-08: rgba(0,0,0, .08),
    shade-10: rgba(0,0,0, .1),
    shade-20: rgba(0,0,0, .2),
    shade-30: rgba(0,0,0, .3),
    shade-40: rgba(0,0,0, .4),
    shade-50: rgba(0,0,0, .5),
    shade-60: rgba(0,0,0, .6),
    shade-70: rgba(0,0,0, .7),
    shade-80: rgba(0,0,0, .8),
    shade-90: rgba(0,0,0, .9),
  ),

  monotone-colors: (
    black: black,
    white: white,
    transparent: transparent,
  ),

  colors: (),

  gradients: (),

  positive-sizes: (
    0: 0,

    1: rem(4),
    2: rem(8),
    3: rem(12),
    4: rem(16),
    5: rem(20),
    6: rem(24),
    7: rem(28),
    8: rem(32),
    9: rem(36),
    10: rem(40),
    11: rem(44),
    12: rem(48),

    13: rem(56),
    14: rem(64),
    15: rem(72),
    16: rem(80),
    17: rem(88),
    18: rem(96),

    19: rem(128),
    20: rem(160),
    21: rem(192),

    22: rem(256),
    23: rem(320),
    24: rem(384),

    25: rem(512),
    26: rem(640),
    27: rem(768),
  ),

  negative-sizes: (
    n1: rem(-4),
    n2: rem(-8),
    n3: rem(-12),
    n4: rem(-16),
    n5: rem(-20),
    n6: rem(-24),
    n7: rem(-28),
    n8: rem(-32),
    n9: rem(-36),
    n10: rem(-40),
    n11: rem(-44),
    n12: rem(-48),

    n13: rem(-56),
    n14: rem(-64),
    n15: rem(-72),
    n16: rem(-80),
    n17: rem(-88),
    n18: rem(-96),

    n19: rem(-128),
    n20: rem(-160),
    n21: rem(-192),

    n22: rem(-256),
    n23: rem(-320),
    n24: rem(-384),

    n25: rem(-512),
    n26: rem(-640),
    n27: rem(-768),
  ),

  font-families: (
    sans: (
      sans-serif,
    ),
    serif: (
      serif,
    ),
    mono: (
      monospace,
    ),
  ),

  font-sizes: (
    10xl: rem(72),
    9xl: rem(64),
    8xl: rem(56),
    7xl: rem(48),

    6xl: rem(40),
    5xl: rem(36),
    4xl: rem(32),
    3xl: rem(28),
    2xl: rem(24),

    xl: rem(20),
    lg: rem(18),
    md: rem(16),
    sm: rem(14),
    xs: rem(12),
    2xs: rem(10),
  ),

  leadings: (
    1: 1,
    2: 1.125,
    3: 1.25,
    4: 1.375,
    5: 1.5,
    6: 1.625,
    7: 1.75,
    8: 1.875,
    9: 2,
    10: 2.125,
    11: 2.25,
    12: 2.375,
    13: 2.5,
  ),

  trackings: (
    n5: -0.1em,
    n4: -0.08em,
    n3: -0.06em,
    n2: -0.04em,
    n1: -0.02em,
    1: 0.02em,
    2: 0.04em,
    3: 0.06em,
    4: 0.08em,
    5: 0.1em,
  ),

  radiuses: (
    xs: rem(4),
    sm: rem(8),
    md: rem(12),
    lg: rem(16),
    xl: rem(20),
    round: 9999px,
  ),

  shadows: (
    xs: (
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24),
    ),
    sm: (
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23),
    ),
    md: (
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23),
    ),
    lg: (
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22),
    ),
    xl: (
      0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22),
    ),
    focus: (
      0 0 0 3px rgb(0, 145, 255, 0.2)
    ),
    success: (
      0 0 0 3px rgb(0, 182, 73, 0.2)
    ),
    warning: (
      0 0 0 3px rgb(255, 175, 22, 0.2)
    ),
    danger: (
      0 0 0 3px rgb(252, 95, 95, 0.2)
    )
  ) 
) !default;


// CONFIG COMPILER
// ============================================================

$all-config: map.deep-merge($default-config, $config);


// FETCHED VARIABLES
// ============================================================

$important: map.get($all-config, important);
$prefix: map.get($all-config, prefix);
$delimiter: map.get($all-config, delimiter);
$child-delimiter: map.get($all-config, child-delimiter);
$pseudo-delimiter: map.get($all-config, pseudo-delimiter);
$screen-delimiter: map.get($all-config, screen-delimiter);
$headless: map.get($all-config, headless);
$root: map.get($all-config, root);
$debugger: map.get($all-config, debugger);

$include-reset-styles: map.get($all-config, include-reset-styles);
$include-starter-styles: map.get($all-config, include-starter-styles);
$include-wrapper-module: map.get($all-config, include-wrapper-module);
$include-table-module: map.get($all-config, include-table-module);
$include-button-module: map.get($all-config, include-button-module);
$include-form-module: map.get($all-config, include-form-module);

$screens: map.get($all-config, screens);
$positive-sizes: map.get($all-config, positive-sizes);
$negative-sizes: map.get($all-config, negative-sizes);

$shadows: map.get($all-config, shadows);

$font-families: map.get($all-config, font-families);
$font-sizes: map.get($all-config, font-sizes);
$leadings: map.get($all-config, leadings);
$trackings: map.get($all-config, trackings);
$radiuses: map.get($all-config, radiuses);

$hues: map.get($all-config, hues);
$saturations: map.get($all-config, saturations);
$lightness: map.get($all-config, lightness);

$primary-colors: map.get($all-config, primary-colors);
$opaque-colors: map.get($all-config, opaque-colors);
$grayscale-colors: map.get($all-config, grayscale-colors);
$monotone-colors: map.get($all-config, monotone-colors);
$colors: map.get($all-config, colors);
$gradients: map.get($all-config, gradients);


// PRIVATE FUNCTIONS
// ============================================================

// MULTIPLE MAP MERGE FUNCTION
@function merge($maps...) {
  $collection: () !default;
  @each $map in $maps {
    $collection: map.merge($collection, $map);
  }
  @return $collection;
}

// VARIABLIZE MAP FUNCTION (CSS CUSTOM PROPERTIES)
@function variablize-map($map, $keyword) {
  $variablized-map: ();
  @each $key, $value in $map {
    $delimiter: if($keyword == null, null, '-');
    $map: (
      $key: var(--#{$keyword}#{$delimiter}#{$key}),
    );
    $variablized-map: merge($variablized-map, $map);
  }

  @return $variablized-map;
}

// GENERATE SCREENS MAP
@function name-screens() {
  $named-screens: ();
  @each $key, $value in $screens {
    $screens: (
      screen-#{$key}: $value,
    );
    $named-screens: merge($named-screens, $screens);
  }
  @return $named-screens;
}


// MERGED VARIABLES
// ============================================================

$sizes: map.deep-merge($positive-sizes, $negative-sizes);

$fills: ();
@if ($primary-colors != null) {
  $fills: map.deep-merge($fills, $primary-colors);
}
@if ($primary-colors != null) {
  $fills: map.deep-merge($fills, $primary-colors);
}
@if ($opaque-colors != null) {
  $fills: map.deep-merge($fills, $opaque-colors);
}
@if ($monotone-colors != null) {
  $fills: map.deep-merge($fills, $monotone-colors);
}
@if ($grayscale-colors != null) {
  $fills: map.deep-merge($fills, $grayscale-colors);
}
@if ($colors != null) {
  $fills: map.deep-merge($fills, $colors);
}
@if ($gradients != null) {
  $fills: map.deep-merge($fills, $gradients);
}


// VARIABLIZED VARIABLES
// ============================================================

$var-hues: variablize-map($hues, hue);
$var-saturations: variablize-map($saturations, saturation);
$var-lightness: variablize-map($lightness, lightness);

$var-primary-colors: variablize-map($primary-colors, null);
$var-opaque-colors: variablize-map($opaque-colors, null);
$var-monotone-colors: variablize-map($monotone-colors, null);
$var-grayscale-colors: variablize-map($grayscale-colors, null);
$var-colors: variablize-map($colors, null);
$var-gradients: variablize-map($gradients, null);
$var-fills: variablize-map($fills, null);

$var-radiuses: variablize-map($radiuses, radius);
$var-shadows: variablize-map($shadows, shadow);

$var-sizes: variablize-map($sizes, size);
$var-positive-sizes: variablize-map($positive-sizes, size);
$var-negative-sizes: variablize-map($negative-sizes, size);

$var-font-families: variablize-map($font-families, font);
$var-font-sizes: variablize-map($font-sizes, font);
$var-leadings: variablize-map($leadings, leading);
$var-trackings: variablize-map($trackings, tracking);



// FETCH FUNCTIONS
// ============================================================

// SCREEN FUNCTIONS
@function screen($screen) {
  $result: ();
  @if (map.get($all-config, screens, $screen)) {
    $result: map.get($all-config, screens, $screen);
  }
  @return $result;
}

@function screens() {
  $result: $screens;
  @return $result;
}


// COLOR FUNCTIONS
@function primary-colors() {
  $result: $primary-colors;
  @return $result;
}

@function primary-colors() {
  @return $var-primary-colors;
}

@function opaque-colors() {
  @return $var-opaque-colors;
}

@function grayscale-colors() {
  @return $var-grayscale-colors;
}

@function monotone-colors() {
  @return $var-monotone-colors;
}

@function colors() {
  @return $var-colors;
}

@function gradients() {
  @return $var-gradients;
}

@function fills() {
  @return $var-fills;
}

// RADIUS FUNCTIONS
@function radiuses() {
  @return $var-radiuses;
}

// SHADOW FUNCTIONS
@function shadows() {
  @return $var-shadows;
}

// SIZE FUNCTIONS
@function positive-sizes() {
  @return $var-positive-sizes;
}

@function negative-sizes() {
  @return $var-negative-sizes;
}

@function sizes() {
  @return $var-sizes;
}

// TYPOGRAPHY FUNCTIONS
@function font-families() {
  @return $var-font-families;
}

@function font-sizes() {
  @return $var-font-sizes;
}

@function leadings() {
  @return $var-leadings;
}

@function trackings() {
  @return $var-trackings;
}


// HELPER MIXINS
// ============================================================

@mixin screen($screen) {
  @media (min-width: screen($screen)) {
    @content; 
  }
}


// ROOT VARIABLES
// ============================================================

// Create root variables if CSS custom property setting is enabled
:root {
  --bg-opacity: 1;

  @each $key, $value in $hues {
    --#{'' + $key}: #{$value};
  }
  @each $key, $value in $saturations {
    --#{'' + $key}: #{$value};
  }
  @each $key, $value in $lightness {
    --#{'' + $key}: #{$value};
  }
  @each $key, $value in $fills {
    --#{'' + $key}: #{$value};
  }
  @each $key, $value in $sizes {
    --size-#{'' + $key}: #{$value};
  }
  @each $key, $value in $shadows {
    --shadow-#{'' + $key}: #{$value};
  }
  @each $key, $value in $font-families {
    --font-#{'' + $key}: #{$value};
  }
  @each $key, $value in $font-sizes {
    --font-#{'' + $key}: #{$value};
  }
  @each $key, $value in $leadings {
    --leading-#{'' + $key}: #{$value};
  }
  @each $key, $value in $trackings {
    --tracking-#{'' + $key}: #{$value};
  }
  @each $key, $value in $radiuses {
    --radius-#{'' + $key}: #{$value};
  }
}