@use "uniform/config" as *;
@use "sass:map";

$keyword: object;
$responsive: false;
$responsive-pseudos: false;

$properties: (object-position);

$variants: (
  bottom: bottom,
  center: center,
  left: left,
  left-bottom: left-bottom,
  left-top: left-top,
  right: right,
  right-bottom: right-bottom,
  right-top: right-top,
  top: top
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);