@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: float;
$keyword: float;
$responsive: true;
$responsive-pseudos: false;

$properties: (float);

$variants: (
  l: left,
  r: right,
  none: none
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);