@use "uniform/core";
@use "sass:map";

$name: table-layout;
$keyword: table;
$responsive: true;
$responsive-pseudos: false;

$properties: (table-layout);

$variants: (
  auto: auto,
  fixed: fixed
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);