@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: clear;
$responsive: false;
$responsive-pseudos: false;

$properties: (clear);

$variants: (
  left: left,
  right: right,
  both: both
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);