@use "uniform/config" as *;
@use "sass:map";

$keyword: exempt;
$responsive: true;
$responsive-pseudos: false;

$properties: (position);

$variants: (
  static: static,
  fixed: fixed,
  absolute: absolute,
  relative: relative,
  sticky: sticky
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);