@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: object;
$responsive: false;
$responsive-pseudos: false;

$properties: (object-fit);

$variants: (
  contain: contain,
  cover: cover,
  fill: fill,
  none: none,
  size-down: size-down
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);