@use "uniform/config" as *;
@use "sass:map";

$keyword: mb;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-bottom);

$variants: (
  merge(
    sizes(),
    (
      auto: auto,
      px: 1px,
      2px: 2px,
      3px: 3px,
      
      npx: -1px,
      n2px: -2px,
      n3px: -3px,
    )
  )
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (first, last);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
