@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: margin-bottom;
$keyword: mb;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-bottom);

$variants: (
  staging.merge(
    staging.sizes(),
    (
      auto: auto,
      px: 1px,
      2px: 2px,
      3px: 3px,
      
      npx: -1px,
      n2px: -2px,
      n3px: -3px,
    )
  )
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);