@use "uniform/core";
@use "sass:map";

$name: margin-top;
$keyword: mt;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-top);
$custom-properties: ();

$variants: (
	core.merge(
		core.sizes(),
		(
      auto: auto,
      px: 1px,
      2px: 2px,
      3px: 3px,
      
      npx: -1px,
      n2px: -2px,
      n3px: -3px,
		)
	)
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);