@use "uniform/config" as *;
@use "sass:map";

$keyword: my;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-top, margin-bottom);

$variants: (
	merge(
		positive-sizes(),
		(
			auto: auto
		)
	)
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);