@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: margin-x;
$keyword: mx;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-left, margin-right);

$variants: (
	staging.merge(
		staging.positive-sizes(),
		(
			auto: auto
		)
	)
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);