@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: my;
$responsive: true;
$responsive-pseudos: false;

$properties: (margin-top, margin-bottom);

$core-variants: (
	merge(
		positive-sizes(),
		(
			auto: auto
		)
	)
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
