<div class="relative mt-48 p-4 radius-xl bg-flare shadow-lg">
  <div class="ratio-16-9 radius-lg overflow-hidden bg-black bg-opacity-80 backdrop backdrop-blur-20">
    <iframe class="absolute xy-0 w-100p h-100p" src='https://www.youtube.com/embed/{{ id }}' frameborder='0' allowfullscreen></iframe>
  </div>
</div>