<div class="mt-48 p-3 radius-xl bg-conic shadow-lg" style="--gradient: from 240deg at 50% 50%, #1800ff 0deg, rgb(86 0 255) 20deg, rgb(255 12 140) 100deg, rgb(255 209 141) 160deg, rgb(255 98 53) 210deg, #4000ff 332deg, #1800ff 360deg">
  <div class="relative ratio-16-9 radius-lg overflow-hidden bg-black">
    <iframe class="absolute xy-0 w-100p h-100p" src='https://www.youtube.com/embed/{{ id }}' frameborder='0' allowfullscreen></iframe>
  </div>
</div>