@use "uniform/config" as *;
@use "sass:map";

$keyword: col-count;
$responsive: true;
$responsive-pseudos: false;

$properties: (column-count);

$variants: (
	1: 1,
	2: 2,
	3: 3,
	4: 4,
	5: 5,
	6: 6,
	7: 7,
	8: 8,
	9: 9,
	10: 10,
	11: 11,
	12: 12,
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);