@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: column-span;
$keyword: col-span;
$responsive: true;
$responsive-pseudos: false;

$properties: (column-span);

$variants: (
  none: none,
  all: all
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);