@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: overflow-x;
$keyword: overflow-x;
$responsive: true;
$responsive-pseudos: false;

$properties: (overflow-x);

$variants: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);