@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: overflow;
$responsive: true;
$responsive-pseudos: false;

$properties: (overflow);

$variants: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);