@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: overflow-y;
$responsive: true;
$responsive-pseudos: false;

$properties: (overflow-y);

$core-variants: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
