@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: flex;
$responsive: true;
$responsive-pseudos: false;

$properties: (flex);

$core-variants: (
  initial: 0 1 auto,
  1: 1 1 0%,
  auto: 1 1 auto,
  none: none
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
