@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: flex;
$responsive: true;
$responsive-pseudos: false;

$properties: (flex);

$variants: (
  initial: 0 1 auto,
  1: 1 1 0%,
  auto: 1 1 auto,
  none: none
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);