@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: flex-shrink;
$responsive: true;
$responsive-pseudos: false;

$properties: (flex-shrink);

$core-variants: (
  1: 1,
  0: 0
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
