@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: flex-shrink;
$keyword: flex-shrink;
$responsive: true;
$responsive-pseudos: false;

$properties: (flex-shrink);

$variants: (
  1: 1,
  0: 0
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);