@use "sass:map";
@use "sass:list";
@use "uniform/core" as *;

/*
CUSTOM PROPERTIES

--btn-height
--btn-padding
--btn-bg
--btn-border
--btn-border-width
--btn-shadow
--btn-radius
--btn-font-family
--btn-font-size
--btn-font-weight
--btn-text-transform
--btn-tracking
--btn-color
--btn-transition

--btn-hover-bg
--btn-hover-color
--btn-hover-border
--btn-hover-shadow
--btn-focus-shadow



--btn-light-bg
--btn-light-color
--btn-light-border
--btn-light-shadow
--btn-light-hover-bg
--btn-light-hover-color
--btn-light-hover-border
--btn-light-hover-shadow
--btn-light-focus-shadow

--btn-dark-bg
--btn-dark-color
--btn-dark-border
--btn-dark-shadow
--btn-dark-hover-bg
--btn-dark-hover-color
--btn-dark-hover-border
--btn-dark-hover-shadow
--btn-dark-focus-shadow



--btn-outline-bg
--btn-outline-color
--btn-outline-border
--btn-outline-shadow
--btn-outline-hover-bg
--btn-outline-hover-color
--btn-outline-hover-border
--btn-outline-hover-shadow
--btn-outline-focus-shadow



--btn-success-bg
--btn-success-color
--btn-success-border
--btn-success-shadow
--btn-success-hover-bg
--btn-success-hover-color
--btn-success-hover-border
--btn-success-hover-shadow
--btn-success-focus-shadow

--btn-warning-bg
--btn-warning-color
--btn-warning-border
--btn-warning-shadow
--btn-warning-hover-bg
--btn-warning-hover-color
--btn-warning-hover-border
--btn-warning-hover-shadow
--btn-warning-focus-shadow

--btn-danger-bg
--btn-danger-color
--btn-danger-border
--btn-danger-shadow
--btn-danger-hover-bg
--btn-danger-hover-color
--btn-danger-hover-border
--btn-danger-hover-shadow
--btn-danger-focus-shadow



--btn-primary-bg
--btn-primary-color
--btn-primary-border
--btn-primary-shadow
--btn-primary-hover-bg
--btn-primary-hover-color
--btn-primary-hover-border
--btn-primary-hover-shadow
--btn-primary-focus-shadow

--btn-secondary-bg
--btn-secondary-color
--btn-secondary-border
--btn-secondary-shadow
--btn-secondary-hover-bg
--btn-secondary-hover-color
--btn-secondary-hover-border
--btn-secondary-hover-shadow
--btn-secondary-focus-shadow

--btn-tertiary-bg
--btn-tertiary-color
--btn-tertiary-border
--btn-tertiary-shadow
--btn-tertiary-hover-bg
--btn-tertiary-hover-color
--btn-tertiary-hover-border
--btn-tertiary-hover-shadow
--btn-tertiary-focus-shadow



--btn-xs-height
--btn-xs-padding
--btn-xs-font-size

--btn-sm-height
--btn-sm-padding
--btn-sm-font-size

--btn-md-height
--btn-md-padding
--btn-md-font-size

--btn-lg-height
--btn-lg-padding
--btn-lg-font-size

--btn-xl-height
--btn-xl-padding
--btn-xl-font-size
*/


$exclude: map.get($all-config, exclude);
$include: map.get($all-config, include);

@if ( list.index($include, module-button) != null or list.index($exclude, all) == null and list.index($exclude, module-button) == null ) {

  .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--btn-height, var(--size-40));
    padding: var(--btn-padding, var(--size-0) var(--size-16));
    outline: 0;
    background: var(--btn-bg, hsla( var(--primary-blue-hue), var(--primary-blue-sat), 50% ));
    border: var(--btn-border, var(--btn-border-width, 1px) solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-200) ) );
    box-shadow: var(--btn-shadow, none);
    border-radius: var(--btn-radius, var(--radius-xs));
    font-family: var(--btn-font-family, var(--font-sans));
    font-size: var(--btn-font-size, var(--font-base));
    font-weight: var(--btn-font-weight, var(--font-bold));
    line-height: 1;
    text-decoration: none;
    text-transform: var(--btn-text-transform, none);
    letter-spacing: var(--btn-tracking, 0);
    color: var(--btn-color, white);
    white-space: nowrap;
    transition: var(--btn-transition, background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms);
    cursor: pointer;

    &:hover {
      background: var(--btn-hover-bg, hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--tint-50) ));
      color: var(--btn-hover-color, white);
      border: var(--btn-hover-border, 1px solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-200) ));
      box-shadow: var(--btn-hover-shadow, none);
    }
    &:focus {
      box-shadow: var(--btn-focus-shadow, var(--shadow-focus));
    }

    &.is-loading {
      color: transparent;
      pointer-events: none;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - (1em / 2));
        left: calc(50% - (1em / 2));
        height: 1em;
        width: 1em;
        border: 2px solid white;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        animation: spin .5s infinite linear;
      }
    }
  }
  

  /******************************
  SIZES
  ******************************/

  .btn-xs {
    --btn-height: var(--btn-xs-height, var(--size-24));
    --btn-padding: var(--btn-xs-padding, var(--size-0) var(--size-8));
    --btn-font-size: var(--btn-xs-font-size, var(--btn-font-size, var(--font-xs)));
  }
  .btn-sm {
    --btn-height: var(--btn-sm-height, var(--size-36));
    --btn-padding: var(--btn-sm-padding, var(--size-0) var(--size-12));
    --btn-font-size: var(--btn-sm-font-size, var(--btn-font-size, var(--font-sm)));
  }
  .btn-md {
    --btn-height: var(--btn-md-height, var(--size-40));
    --btn-padding: var(--btn-md-padding, var(--size-0) var(--size-14));
    --btn-font-size: var(--btn-md-font-size, var(--btn-font-size, var(--font-base)));
  }
  .btn-lg {
    --btn-height: var(--btn-lg-height, var(--size-48));
    --btn-padding: var(--btn-lg-padding, var(--size-0) var(--size-16));
    --btn-font-size: var(--btn-lg-font-size, var(--btn-font-size, var(--font-base)));
  }
  .btn-xl {
    --btn-height: var(--btn-xl-height, var(--size-56));
    --btn-padding: var(--btn-xl-padding, var(--size-0) var(--size-18));
    --btn-font-size: var(--btn-xl-font-size, var(--btn-font-size, var(--font-base)));
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}btn-xs {
        --btn-height: var(--btn-xs-height, var(--size-24));
        --btn-padding: var(--btn-xs-padding, var(--size-0) var(--size-8));
        --btn-font-size: var(--btn-xs-font-size, var(--btn-font-size, var(--font-xs)));
      }
      .#{$screen}#{$screen-delimiter}btn-sm {
        --btn-height: var(--btn-sm-height, var(--size-36));
        --btn-padding: var(--btn-sm-padding, var(--size-0) var(--size12));
        --btn-font-size: var(--btn-sm-font-size, var(--btn-font-size, var(--font-sm)));
      }
      .#{$screen}#{$screen-delimiter}btn-md {
        --btn-height: var(--btn-md-height, var(--size-40));
        --btn-padding: var(--btn-md-padding, var(--size-0) var(--size-16));
        --btn-font-size: var(--btn-md-font-size, var(--btn-font-size, var(--font-base)));
      }
      .#{$screen}#{$screen-delimiter}btn-lg {
        --btn-height: var(--btn-lg-height, var(--size-48));
        --btn-padding: var(--btn-lg-padding, var(--size-0) var(--size-18));
        --btn-font-size: var(--btn-lg-font-size, var(--btn-font-size, var(--font-base)));
      }
      .#{$screen}#{$screen-delimiter}btn-xl {
        --btn-height: var(--btn-xl-height, var(--size-56));
        --btn-padding: var(--btn-xl-padding, var(--size-0) var(--size-20));
        --btn-font-size: var(--btn-xl-font-size, var(--btn-font-size, var(--font-base)));
      }
    }
  }

  /******************************
  BUTTONS
  ******************************/

  .btns {
    display: inline-flex;

    .btn {
      position: relative;
      display: flex;
      flex: 1;
      margin: 0;
      border-radius: 0;
      &:not(:last-child) {
        border-right-width: 0;
      }
      &:first-child {
        border-top-left-radius: var(--btn-radius, var(--radius-xs));
        border-bottom-left-radius: var(--btn-radius, var(--radius-xs));
      }
      &:last-child {
        margin-right: 0;
        border-top-right-radius: var(--btn-radius, var(--radius-xs));
        border-bottom-right-radius: var(--btn-radius, var(--radius-xs));
      }
    }
  }


  /******************************
  VARIANTS
  ******************************/

  .btn-light {
    --btn-bg: var(--btn-light-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
    --btn-color: var(--btn-light-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-800) ));
    --btn-border: var(--btn-light-border, initial);
    --btn-shadow: var(--btn-light-shadow, none);

    --btn-hover-bg: var(--btn-light-hover-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-700) ));
    --btn-hover-color: var(--btn-light-hover-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-800) ));
    --btn-hover-border: var(--btn-light-hover-border, initial);
    --btn-hover-shadow: var(--btn-light-hover-shadow, none);

    --btn-focus-shadow: var(--btn-light-focus-shadow, var(--shadow-focus));
  }

  .btn-dark {
    --btn-bg: var(--btn-dark-bg, hsl( var(--gray-hue), var(--gray-sat), var(--shade-800) ));
    --btn-color: var(--btn-dark-color, white );
    --btn-border: var(--btn-dark-border, initial);
    --btn-shadow: var(--btn-dark-shadow, none);

    --btn-hover-bg: var(--btn-dark-hover-bg, hsl( var(--gray-hue), var(--gray-sat), var(--shade-600) ));
    --btn-hover-color: var(--btn-dark-hover-color, white );
    --btn-hover-border: var(--btn-dark-hover-border, initial);
    --btn-hover-shadow: var(--btn-dark-hover-shadow, none);

    --btn-focus-shadow: var(--btn-dark-focus-shadow, var(--shadow-focus));
  }

  .btn-outline {
    --btn-bg: var(--btn-outline-bg, transparent );
    --btn-color: var(--btn-outline-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-800) ));
    --btn-border: var(--btn-outline-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-600) ));
    --btn-shadow: var(--btn-outline-shadow, none);

    --btn-hover-bg: var(--btn-outline-hover-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-900) ));
    --btn-hover-color: var(--btn-outline-hover-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-800) ));
    --btn-hover-border: var(--btn-outline-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
    --btn-hover-shadow: var(--btn-outline-hover-shadow, none);

    --btn-focus-shadow: var(--btn-outline-focus-shadow, var(--shadow-focus));
  }

  .btn-success {
    --btn-bg: var(--btn-success-bg, hsl( var(--system-green-hue), var(--system-green-sat), var(--shade-100) ));
    --btn-color: var(--btn-success-color, white );
    --btn-border: var(--btn-success-border, 1px solid hsl( var(--system-green-hue), var(--system-green-sat), var(--shade-200) ));
    --btn-shadow: var(--btn-success-shadow, none);

    --btn-hover-bg: var(--btn-success-hover-bg, hsl( var(--system-green-hue), var(--system-green-sat), var(--shade-50) ));
    --btn-hover-color: var(--btn-success-hover-color, white );
    --btn-hover-border: var(--btn-success-hover-border, 1px solid hsl( var(--system-green-hue), var(--system-green-sat), var(--shade-200) ));
    --btn-hover-shadow: var(--btn-success-hover-shadow, none);

    --btn-focus-shadow: var(--btn-success-focus-shadow, var(--shadow-focus-success));
  }

  .btn-warning {
    --btn-bg: var(--btn-warning-bg, hsl( var(--system-yellow-hue), var(--system-yellow-sat), 50% ));
    --btn-color: var(--btn-warning-color, white );
    --btn-border: var(--btn-warning-border, 1px solid hsl( var(--system-yellow-hue), var(--system-yellow-sat), var(--shade-50) ));
    --btn-shadow: var(--btn-warning-shadow, none);

    --btn-hover-bg: var(--btn-warning-hover-bg, hsl( var(--system-yellow-hue), var(--system-yellow-sat), var(--tint-100) ));
    --btn-hover-color: var(--btn-warning-hover-color, white );
    --btn-hover-border: var(--btn-warning-hover-border, 1px solid hsl( var(--system-yellow-hue), var(--system-yellow-sat), var(--shade-50) ));
    --btn-hover-shadow: var(--btn-warning-hover-shadow, none);

    --btn-focus-shadow: var(--btn-warning-focus-shadow, var(--shadow-focus-warning));
  }
  
  .btn-danger {
    --btn-bg: var(--btn-danger-bg, hsl( var(--system-red-hue), var(--system-red-sat), 50% ));
    --btn-color: var(--btn-danger-color, white );
    --btn-border: var(--btn-danger-border, 1px solid hsl( var(--system-red-hue), var(--system-red-sat), var(--shade-100) ));
    --btn-shadow: var(--btn-danger-shadow, none);

    --btn-hover-bg: var(--btn-danger-hover-bg, hsl( var(--system-red-hue), var(--system-red-sat), var(--tint-100) ));
    --btn-hover-color: var(--btn-danger-hover-color, white );
    --btn-hover-border: var(--btn-danger-hover-border, 1px solid hsl( var(--system-red-hue), var(--system-red-sat), var(--shade-100) ));
    --btn-hover-shadow: var(--btn-danger-hover-shadow, none);

    --btn-focus-shadow: var(--btn-danger-focus-shadow, var(--shadow-focus-danger));
  }

  .btn-primary {
    --btn-bg: var(--btn-primary-bg, hsl( var(--primary-hue), var(--primary-sat), 50% ));
    --btn-color: var(--btn-primary-color, white );
    --btn-border: var(--btn-primary-border, 1px solid hsl( var(--primary-hue), var(--primary-sat), var(--shade-200) ));
    --btn-shadow: var(--btn-primary-shadow, none);

    --btn-hover-bg: var(--btn-primary-hover-bg, hsl( var(--primary-hue), var(--primary-sat), var(--tint-50) ));
    --btn-hover-color: var(--btn-primary-hover-color, white );
    --btn-hover-border: var(--btn-primary-hover-border, 1px solid hsl( var(--primary-hue), var(--primary-sat), var(--shade-200) ));
    --btn-hover-shadow: var(--btn-primary-hover-shadow, none);

    --btn-focus-shadow: var(--btn-primary-focus-shadow, var(--shadow-focus));
  }

  .btn-secondary {
    --btn-bg: var(--btn-primary-blue-bg, hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-300) ));
    --btn-color: var(--btn-primary-blue-color, white );
    --btn-border: var(--btn-primary-blue-border, 1px solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-500) ));
    --btn-shadow: var(--btn-primary-blue-shadow, none);

    --btn-hover-bg: var(--btn-primary-blue-hover-bg, hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-200) ));
    --btn-hover-color: var(--btn-primary-blue-hover-color, white );
    --btn-hover-border: var(--btn-primary-blue-hover-border, 1px solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-500) ));
    --btn-hover-shadow: var(--btn-primary-blue-hover-shadow, none);

    --btn-focus-shadow: var(--btn-primary-blue-focus-shadow, var(--shadow-focus));
  }

  .btn-tertiary {
    --btn-bg: var(--btn-primary-blue-bg, hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-500) ));
    --btn-color: var(--btn-primary-blue-color, white );
    --btn-border: var(--btn-primary-blue-border, 1px solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-700) ));
    --btn-shadow: var(--btn-primary-blue-shadow, none);

    --btn-hover-bg: var(--btn-primary-blue-hover-bg, hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-400) ));
    --btn-hover-color: var(--btn-primary-blue-hover-color, white );
    --btn-hover-border: var(--btn-primary-blue-hover-border, 1px solid hsl( var(--primary-blue-hue), var(--primary-blue-sat), var(--shade-700) ));
    --btn-hover-shadow: var(--btn-primary-blue-hover-shadow, none);

    --btn-focus-shadow: var(--btn-primary-blue-focus-shadow, var(--shadow-focus));
  }
}

