/* Error: Only 0 arguments allowed, but 1 was passed.
 *     ,--> uniform/utilities/background/core-background-color.scss
 * 16  |     core.primary-colors($keyword),
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *     ,--> uniform/core/_index.scss
 * 697 | @function primary-colors() {
 *     |           ================ declaration
 *     '
 *   uniform/utilities/background/core-background-color.scss 16:5  primary-colors()
 *   uniform/utilities/background/core-background-color.scss 16:5  @use
 *   uniform/_index.scss 42:1                                      @use
 *   styles.scss 1:1                                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 1 was passed.\a     \250c \2500 \2500 > uniform/utilities/background/core-background-color.scss\a 16  \2502      core.primary-colors($keyword),\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a     \250c \2500 \2500 > uniform/core/_index.scss\a 697 \2502  @function primary-colors() {\a     \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a     \2575 \a   uniform/utilities/background/core-background-color.scss 16:5  primary-colors()\a   uniform/utilities/background/core-background-color.scss 16:5  @use\a   uniform/_index.scss 42:1                                      @use\a   styles.scss 1:1                                               root stylesheet";
}
