/* Error: Expected identifier.
 *     ,
 * 764 | @debug treu.
 *     |             ^
 *     '
 *   uniform/_index.scss 764:13  @use
 *   styles.scss 1:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 764 \2502  @debug treu.\a     \2502              ^\a     \2575 \a   uniform/_index.scss 764:13  @use\a   styles.scss 1:1             root stylesheet";
}
