@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: grid-flow;
$responsive: true;
$responsive-pseudos: false;

$properties: (grid-auto-flow);

$variants: (
  row: row,
  col: column,
  row-dense: row dense,
  col-dense: column dense
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);