<div class="py-6 border-b-px sm:border-b-0 md:border-r-px border-silver-300">
  <div class="mb-3 font-5xl font-300 tracking-n1 color-cyan-700">25kb</div>
  <div class="font-xs font-500 tracking-1 uppercase">Gzipped Footprint</div>
</div>