<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg, #696969, #e0d8d4;">
        <div class="w-100p max-w-288 bg-white shadow-md radius-lg overflow-hidden">
          <img src="/assets/img/shoe.jpg" class="mb-20">
          <div class="flex align-items-center justify-content-between px-20 bold font-xs color-black color-opacity-40">
            Men's Shoe
            <div class="flex">

            </div>
          </div>
          <div class="flex align-items-center justify-content-between px-20 mb-10">
            <h4 class="font-xl extrabold">Nike Air Max</h4>
            <span class="font-xl semibold">$160</span>
          </div>
          <div class="flex align-items-center justify-content-between px-20 extrabold font-xs mb-10">
            Size
            <div class="flex">
              <a class="ml-16 color-black color-opacity-100">US</a>
              <a class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">UK</a>
              <a class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">EU</a>
            </div>
          </div>
          <div class="flex align-items-center justify-content-between px-20 pb-20">
            <div class="flex">
              <a class="radius-md flex align-items-center justify-content-center w-36 h-36 mr-8 bg-black color-white font-sm bold">5</a>
              <a class="radius-md flex align-items-center justify-content-center w-36 h-36 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 font-sm bold">5.5</a>
              <a class="radius-md flex align-items-center justify-content-center w-36 h-36 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 font-sm bold">6</a>
              <a class="radius-md flex align-items-center justify-content-center w-36 h-36 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 font-sm bold">6.5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg, #73c76f, #c8d293;">
        <div class="w-100p max-w-320 bg-white shadow-md radius-lg p-20">
          <h4 class="tracking-loose uppercase font-xs bold color-black color-opacity-40 mb-10">Purchased by 11 of your friends</h4>
          <div class="flex align-items-center mb-24 gutter-x-n14">
            <img src="/assets/img/profiles/profile-1.jpg" class="transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white">
            <img src="/assets/img/profiles/profile-2.jpg" class="transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white">
            <img src="/assets/img/profiles/profile-3.jpg" class="transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white">
            <img src="/assets/img/profiles/profile-4.jpg" class="transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white">
            <img src="/assets/img/profiles/profile-5.jpg" class="transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white">
            <div class="relative transform hover.scale-110 transition-200 cursor-pointer w-40 h-40 sm.w-48 sm.h-48 radius-round border-2 sm.border-3 border-white overflow-hidden">
              <div class="absolute t-0 l-0 w-100p h-100p flex align-items-center justify-content-center bg-black bg-opacity-40 color-white bold font-sm">+5</div>
              <img src="/assets/img/profiles/profile-6.jpg">
            </div>
          </div>
          <button class="inline-flex align-items-center justify-content-center w-100p h-40 px-4 radius-xs font-sm color-white bg-blue hover.bg-shade-100 transition-100 focus.shadow-focus">Buy this course <span class="opacity-70 ml-10">$4.99</span></button>
        </div>
      </div>
    </div>
    <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg, #f3cda2, #eaaba8;">
        <div class="grid grid-cols-1 gap-20">
          <div class="flex bg-white shadow-md radius-sm px-20">
            <a class="block font-sm semibold color-black leading-none mr-24 last.mr-0 py-20 border-b-2 border-blue">Teacher's Notes</a>
            <a class="block font-sm semibold color-black color-opacity-30 hover.color-opacity-60 transition-200 leading-none mr-24 last.mr-0 py-20">Questions</a>
            <a class="block font-sm semibold color-black color-opacity-30 hover.color-opacity-60 transition-200 leading-none mr-24 last.mr-0 py-20">Video Transcript</a>
          </div>

          <div class="flex bg-black shadow-md radius-sm px-20">
            <a class="block font-sm semibold color-white leading-none mr-24 last.mr-0 py-20 border-b-2 border-yellow">Teacher's Notes</a>
            <a class="block font-sm semibold color-white color-opacity-30 hover.color-opacity-60 transition-200 leading-none mr-24 last.mr-0 py-20">Questions</a>
            <a class="block font-sm semibold color-white color-opacity-30 hover.color-opacity-60 transition-200 leading-none mr-24 last.mr-0 py-20">Video Transcript</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg, #f3a2ed, #a8b9ea;">
        <form class="w-100p max-w-320 p-20 py-28 bg-white radius-md shadow-md">
          <div class="mb-24 last.mb-0">
            <label class="block font-xs leading-none bold color-black mb-8">Label</label>
            <input type="text" class="h-40 px-14 radius-sm border-gray border-tint-600 hover.border-tint-400 transition-200 border-1 block shadow-2xs focus.shadow-input-focus focus.border-transparent" placeholder="Text field">
          </div>
          <div class="mb-24 last.mb-0">
            <label class="inline-flex align-items-center">
              <input class="font-lg radius-xs bg-white color-blue checked.color-pink border-gray border-tint-600 hover.border-tint-400 transition-200 border-1 mr-8 " type="checkbox" checked required />
              Checkbox
            </label>
          </div>
          <div class="mb-24 last.mb-0">
            <label class="inline-flex align-items-center mr-20">
              <input class="font-lg bg-white color-blue checked.color-pink border-gray border-tint-600 hover.border-tint-400 transition-200 border-1 mr-8 " type="radio" name="radio" checked />
              Radio
            </label>
            <label class="inline-flex align-items-center mr-20">
              <input class="font-lg bg-white color-blue checked.color-pink border-gray border-tint-600 hover.border-tint-400 transition-200 border-1 mr-8 " type="radio" name="radio" checked />
              Radio
            </label>
          </div>
          <div class="mb-24 last.mb-0">
            <div class="2">
              <select class="radius-sm border-gray border-tint-600 hover.border-tint-400 transition-200 border-1 block shadow-2xs focus.shadow-input-focus">
                <option selected>Selected</option>
                <option>Option</option>
                <option>Option</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg,  #ffca93, #b5f3fd;">
        <div class="grid grid-cols-1 gap-16 w-100p max-w-256">
          <button class="inline-flex align-items-center justify-content-center h-40 px-4 radius-md shadow-sm font-md bold color-white bg-blue hover.bg-shade-100 transition-100 focus.shadow-focus">Primary Button</button>
          <button class="inline-flex align-items-center justify-content-center h-40 px-4 radius-md shadow-sm font-md bold color-white bg-blue bg-shade-300 hover.bg-shade-400 transition-100 focus.shadow-focus">Secondary Button</button>
          <button class="inline-flex align-items-center justify-content-center h-40 px-4 radius-md shadow-sm font-md bold color-white bg-blue bg-shade-600 hover.bg-shade-700 transition-100 focus.shadow-focus">Tertiary Button</button>
        </div>
      </div>
    </div>
        <div class="swiper-slide" style="width: 512px;">
      <div class="flex align-items-center justify-content-center w-512 h-448 radius-lg bg-gradient" style="--gradient: 45deg, #a2aaf3, #a8e7ea;">
        <div class="bg-black color-white shadow-md radius-xl w-100p max-w-320 p-20">
          <div class="mb-20">
            <div class="semibold mb-4 font-md bold leading-none">
              My Progress <span class="color-gray font-sm semibold">1 out of 2</span>
            </div>
            <div class="font-sm">
              An outline of your course progress.
            </div>
          </div>
          <div class="bg-cool-gray bg-shade-700 radius-sm p-14 mb-8 last.mb-0">
            <div class="flex align-items-end justify-content-between mb-18 color-white font-sm bold leading-none">
              Level 3 Algebra
              <span class="semibold font-xs leading-none color-cool-gray color-opacity-80">33% Complete</span>
            </div>
            <div class="w-100p bg-white radius-round overflow-hidden">
              <div class="w-3-12 h-5 bg-yellow">
              </div>
            </div>
          </div>
          <div class="bg-cool-gray bg-shade-700 radius-sm p-14 mb-8 last.mb-0">
            <div class="flex align-items-end justify-content-between mb-18 color-white font-sm bold leading-none">
              Level 3 Calculus
              <span class="semibold font-xs leading-none color-cool-gray color-opacity-80">50% Complete</span>
            </div>
            <div class="w-100p bg-white radius-round overflow-hidden">
              <div class="w-6-12 h-5 bg-blue">
              </div>
            </div>
          </div>
          <div class="bg-cool-gray bg-shade-700 radius-sm p-14 mb-8 last.mb-0">
            <div class="flex align-items-end justify-content-between mb-18 color-white font-sm bold leading-none">
              Level 3 Physics
              <span class="semibold font-xs leading-none color-cool-gray color-opacity-80">58% Complete</span>
            </div>
            <div class="w-100p bg-white radius-round overflow-hidden">
              <div class="w-7-12 h-5 bg-teal">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <button class="swiper-button-prev">
    <svg class="color-white w-24 h-24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
  </button>
  <button class="swiper-button-next">
    <svg class="color-white w-24 h-24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
  </button>
</div>





{# 

<div class="bg-white shadow-md radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="bg-black py-6">
    <img src="/assets/img/logo-dark.svg" class="h-7 mx-auto">
  </div>
  <div class="p-5 py-8 align-center">
    <p class="mb-7">Your 6-digit verification code</p>
    <div class="grid grid-cols-6 gap-2 max-w-22 mx-auto mb-7">
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        6
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        3
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        0
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        7
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        2
      </div>
      <div class="flex align-items-center justify-content-center h-11 bg-gray bg-tint-800 radius-xs bold font-lg color-black">
        0
      </div>
    </div>
    <p class="font-sm max-w-23 mx-auto">To better protect your account, this email was sent to you to verify your new device.
    </p>
    <p class="font-sm">If this wasn’t your, please <a class="semibold">review activity</a></p>
  </div>
  <div class="flex justify-content-end p-3 border-t-px border-silver-300 mt-5">
    <button class="btn btn-light mr-3">Resend</button>
    <button class="btn btn-dark">Cancel</button>
  </div>
</div>

<div class="bg-white shadow-md radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="p-5">
    <div class="flex align-items-end justify-content-between">
      <div>
        <div class="font-sm semibold mb-4 font-md">
          Total Subscribers
        </div>
        <div class="font-2xl semibold color-violet-500">
          6,102 <span class="font-500 font-sm color-gray-100">from 3,105</span>
        </div>
      </div>
      <div class="radius-round p-1 px-3 bold font-sm color-white bg-green-500">
        +17%
      </div>
    </div>
  </div>
  <a class="flex align-items-center justify-content-between bg-gray bg-tint-800 hover.bg-silver-200 p-5 py-4 font-sm">
    View All
    <i class="fas fa-angle-right"></i>
  </a>
</div>

<div class="bg-white shadow-md radius-md w-24 m-auto overflow-hidden ml-19 p-6 sm.px-7 pt-8">
  <img src="/assets/img/social-profile-round.png" class="radius-round w-11 h-11 mb-4 font-md mx-auto">
  <h2 class="font-xl semibold align-center mt-2 mb-4">Sign in to Uniform</h2>
  <p class="font-sm align-center">Your creation is just 1 step away</p>
  <div>
    <div class="mb-2 last.mb-0">
      <input class="input input-lg" placeholder="Username">
    </div>
    <div class="mb-4 last.mb-0">
      <input class="input input-lg" type="password" placeholder="Password">
    </div>
    <div class="mb-6 last.mb-0 flex">
      <label class="checkbox">
        <input type="checkbox">
        <div class="checkbox__checkmark"></div>
        Remember me
      </label>
    </div>
    <div class="mb-4 last.mb-0 flex justify-content-end">
      <button class="btn w-100p">Open Sesame</button>
    </div>
  </div>
  <div class="align-center pt-6">
    <a class="semibold font-sm">Forgot password?</a>
  </div>
</div>

<div class="bg-white shadow-md radius-md w-19 w-25 m-auto overflow-hidden ml-19 p-5">
  <div class="flex align-items-center mb-5">
    <img src="/assets/img/jin.jpg" class="w-10 h-10 radius-round">
    <input class="input ml-4 radius-round" placeholder="What's on your mind?">
  </div>
  <div class="grid grid-cols-3 gap-3">
    <a class="flex align-items-center justify-content-center radius-round bg-cyan-100 hover.bg-cyan-200 color-cyan-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-camera mr-2"></i> Add Photo</span>
    </a>
    <a class="flex align-items-center justify-content-center radius-round bg-orange-100 hover.bg-orange-200 color-orange-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-tags mr-2"></i> <span class="hidden lg.inline">Tag Friends
    </a>
    <a class="flex align-items-center justify-content-center radius-round bg-pink-100 hover.bg-pink-200 color-pink-600 h-8 font-sm font-500 col-span-1">
      <i class="fas fa-smile mr-2"></i> Share Feeling</span>
    </a>
  </div>
</div>

<div class="bg-white shadow-md radius-md w-24 m-auto overflow-hidden ml-19">
  <div class="p-6 py-8 align-center">
    <div class="semibold font-sm color-teal-600 tracking-1 uppercase mb-4">Professional</div>
    <h2 class="font-6xl bold tracking-tight align-center mb-4">$99</h2>
    <p class="font-sm max-w-23 mx-auto mb-6">Access a complete payments platform with simple, pay-as-you-go pricing</p>
    <div class="flex align-items-center justify-content-center font-500 font-sm">
      Monthly
      <label class="toggle mx-4">
        <input type="checkbox" checked>
        <div class="toggle__switch"></div>
      </label>
      Annual
    </div>
  </div>
  <div class="align-center border-t-px py-7 font-sm">
    <div class="semibold color-black mb-4 font-md">
      Everything in Basic Plus
    </div>
    Access to entire library
  </div>
  <button class="btn btn-sm sm.btn-md radius-0 w-100p">
    Start Free Trial
  </button>
</div>

<div class="bg-white shadow-md radius-md w-21 w-25 m-auto overflow-hidden ml-19 p-5 flex">
  <img src="/assets/img/social-profile-round.png" class="radius-round w-8 sm.w-11 h-8 sm.h-11 mr-4 sm.mr-4 flex-none">
  <div>
    <div class="semibold color-black mb-4 font-md flex align-items-center">
      Uniform <span class="ml-2 color-blue-500"><svg class="inline-block w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M512 256c0-37.7-23.7-69.9-57.1-82.4 14.7-32.4 8.8-71.9-17.9-98.6-26.7-26.7-66.2-32.6-98.6-17.9C325.9 23.7 293.7 0 256 0s-69.9 23.7-82.4 57.1c-32.4-14.7-72-8.8-98.6 17.9-26.7 26.7-32.6 66.2-17.9 98.6C23.7 186.1 0 218.3 0 256s23.7 69.9 57.1 82.4c-14.7 32.4-8.8 72 17.9 98.6 26.6 26.6 66.1 32.7 98.6 17.9 12.5 33.3 44.7 57.1 82.4 57.1s69.9-23.7 82.4-57.1c32.6 14.8 72 8.7 98.6-17.9 26.7-26.7 32.6-66.2 17.9-98.6 33.4-12.5 57.1-44.7 57.1-82.4zm-144.8-44.25L236.16 341.74c-4.31 4.28-11.28 4.25-15.55-.06l-75.72-76.33c-4.28-4.31-4.25-11.28.06-15.56l26.03-25.82c4.31-4.28 11.28-4.25 15.56.06l42.15 42.49 97.2-96.42c4.31-4.28 11.28-4.25 15.55.06l25.82 26.03c4.28 4.32 4.26 11.29-.06 15.56z"></path>
        </svg></span><span class="ml-2 font-sm color-silver-800"><a class="color-gray-400">@UniformCSS</a> - 2 minutes ago</span>
    </div>
    <p class="font-sm">
      Wohoo, finally launched my first Utility-first framework! Fully customizable, infinitely extendible, and built entirely in Sass.. Check it out! 😎
    </p>
  </div>
</div> #}