<footer class="bg-primary-900 bg-darken-1">
	<div class="wrapper">
    <ul class="grid grid-cols-1 sm.grid-cols-2 md.grid-cols-4 gap-64 py-96">
      <li>
        <h5 class="font-extrabold text-white mb-36">Getting Started</h5>
        <ul>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Getting Started</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Installation</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Release Notes</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Upgrade Guide</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Using with Preprocessors</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Optimizing for Production</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Browser Support</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">IntelliSense</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-extrabold text-white mb-36">Getting Started</h5>
        <ul>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Getting Started</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Installation</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Release Notes</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Upgrade Guide</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Using with Preprocessors</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Optimizing for Production</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Browser Support</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">IntelliSense</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-extrabold text-white mb-36">Getting Started</h5>
        <ul>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Getting Started</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Installation</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Release Notes</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Upgrade Guide</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Using with Preprocessors</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Optimizing for Production</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Browser Support</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">IntelliSense</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-extrabold text-white mb-36">Getting Started</h5>
        <ul>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Getting Started</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Installation</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Release Notes</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Upgrade Guide</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Using with Preprocessors</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Optimizing for Production</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">Browser Support</a>
          </li>
          <li class="mb-16">
            <a href="" class="font-sm text-primary-300 hover.text-primary-300 hover.text-deepen-2 text-opacity-50 transition-200">IntelliSense</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="h-3 bg-silver-200 bg-opacity-10 bg-brighten-5"></div>

    <div class="flex align-items-center justify-content-between py-48 font-sm font-semibold text-white">
       <div class="flex align-items-center font-xl font-bold tracking-n2">
        <svg class="fill-current text-white w-28 h-28 mr-18" width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M140 20V60C140 82.0914 157.909 100 180 100C202.091 100 220 82.0914 220 60V20H140ZM220 104.722C209.385 114.223 195.367 120 180 120C146.863 120 120 93.1371 120 60V20H20V120C20 175.228 64.7715 220 120 220C175.228 220 220 175.228 220 120V104.722ZM120 0H240V60V120C240 186.274 186.274 240 120 240C53.7258 240 0 186.274 0 120V0H120Z"/>
        </svg>
        <span class="hidden md.block text-white">UniformCSS</span>
      </div>
      Source code licensed MIT.
    </div>
  </div>
</footer>
