<footer>
	<div class="wrapper px-20">
    <ul class="grid grid-cols-1 sm.grid-cols-2 md.grid-cols-4 gap-64 py-96">
      <li>
        <h5 class="font-md extrabold color-white mb-28">Getting Started</h5>
        <ul>
          <li>
            <a href="/docs/overview/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Overview</a>
          </li>
          <li>
            <a href="/docs/installation/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Installation</a>
          </li>
          <li>
            <a href="/docs/managing-file-size/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Managing File Size</a>
          </li>
          <li>
            <a href="/docs/browser-support/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Browser Support</a>
          </li>
          <li>
            <a href="/docs/cheatsheet/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Cheatsheet</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-md extrabold color-white mb-28">Fundamentals</h5>
        <ul>
          <li>
            <a href="/docs/configuration/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Configuration</a>
          </li>
          <li>
            <a href="/docs/build-scripts/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Build Scripts</a>
          </li>
          <li>
            <a href="/docs/color-system/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Color System</a>
          </li>
          <li>
            <a href="/docs/media-queries/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Media Queries</a>
          </li>
          <li>
            <a href="/docs/pseudo-variants/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Pseudo Variants</a>
          </li>
          <li>
            <a href="/docs/default-styles/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Default Styles</a>
          </li>
          <li>
            <a href="/docs/grid-system/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Grid System</a>
          </li>
          <li>
            <a href="/docs/modules/" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">modules</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-md extrabold color-white mb-28">Getting Started</h5>
        <ul>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Getting Started</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Installation</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Release Notes</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Upgrade Guide</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Using with Preprocessors</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Optimizing for Production</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Browser Support</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">IntelliSense</a>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="font-md extrabold color-white mb-28">Getting Started</h5>
        <ul>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Getting Started</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Installation</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Release Notes</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Upgrade Guide</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Using with Preprocessors</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Optimizing for Production</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">Browser Support</a>
          </li>
          <li>
            <a href="" class="font-sm semibold color-cool-gray color-tint-800 color-opacity-40 hover.color-opacity-100 transition-200 py-5 inline-block">IntelliSense</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="h-2 bg-linear radius-round" style="--gradient: to right, #ff5a00, #4333c7, #87ff87;"></div>

    <div class="flex align-items-center justify-content-between py-36 font-sm semibold color-white">
      <div class="flex align-items-center font-xl bold tracking-tight">
        <svg class="fill-current color-white w-32 h-32 mr-18" width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M140 20V60C140 82.0914 157.909 100 180 100C202.091 100 220 82.0914 220 60V20H140ZM220 104.722C209.385 114.223 195.367 120 180 120C146.863 120 120 93.1371 120 60V20H20V120C20 175.228 64.7715 220 120 220C175.228 220 220 175.228 220 120V104.722ZM120 0H240V60V120C240 186.274 186.274 240 120 240C53.7258 240 0 186.274 0 120V0H120Z"/>
        </svg>
        <span class="hidden md.block color-white">Uniform CSS</span>
      </div>
      Source code licensed MIT.
    </div>
  </div>
</footer>
