<header id="nav" class="z-2">
  <div class="wrapper">
    <nav class="py-10">
      <div class="flex align-items-start justify-content-between mb-6">
        <div class="flex align-items-center w-17">
          <a href="/" class="flex align-items-center xl:font-xl font-700 tracking-n1">
            <img src="/assets/img/brandmark-black.svg" class="w-7 md:w-8 xl:w-8 mr-4" />
            <span class="hidden md:block">UniformCSS</span>
          </a>
        </div>
        <a href="" class="hidden xs.block font-sm font-600">Support project</a>
        <div class="block xs.hidden">
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl:w-9 xl:h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-github-alt xl:font-lg"></i>
          </a>
          <a
            href="https://twitter.com/UniformCSS"
            class="flex align-items-center justify-content-center w-8 h-8 xl:w-9 xl:h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-twitter font-md"></i>
          </a>
        </div>
      </div>

      <div class="flex align-items-end justify-content-between">
        <div class="flex">
          <a href="/get-started/overview" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Get Started
          </a>
          <a href="/glossary" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Glossary
          </a>
          <a href="/glossary-2/align-content/" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Glossary 2
          </a>
          <a href="/blog" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Blog
          </a>
          <a href="/cheatsheet" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Cheatsheet
          </a>
          <a href="" class="font-sm font-500 text-gray-100 hover.text-black transition-100 mr-7">
            Gallery
          </a>
        </div>

        <div class="flex">
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl:w-9 xl:h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-github-alt xl:font-lg"></i>
          </a>
          <a
            href="https://twitter.com/UniformCSS"
            class="flex align-items-center justify-content-center w-8 h-8 xl:w-9 xl:h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-twitter font-md"></i>
          </a>
        </div>
      </div>


    </nav>
  </div>
</header>
