<header id="nav" class="z-2">
  <div class="wrapper">
    <nav class="py-36">
      <div class="flex align-items-start justify-content-between mb-40">
        <div class="flex align-items-center w-17">
          <a href="/" class="flex align-items-center font-2xl font-bold tracking-tight">
            <img src="/assets/img/brandmark-black.svg" class="w-32 md.w-32 mr-18" />
            <span class="hidden md.block text-black">UniformCSS</span>
          </a>
        </div>
        <a href="" class="hidden sm.block font-sm font-semibold text-black">Support project</a>
        <div class="block sm.hidden">
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-github-alt xl.font-lg"></i>
          </a>
          <a
            href="https://twitter.com/UniformCSS"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-twitter font-md"></i>
          </a>
        </div>
      </div>

      <div class="flex align-items-end justify-content-between">
        <div>
        </div>
        {# <div class="flex">
          <a
            href="https://github.com/UniformCSS/uniformcss"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-github-alt xl.font-lg"></i>
          </a>
          <a
            href="https://twitter.com/UniformCSS"
            class="flex align-items-center justify-content-center w-8 h-8 xl.w-9 xl.h-9 ml-3 bg-white radius-round shadow-xs hover.shadow-sm transition-100"
          >
            <i class="fab fa-twitter font-md"></i>
          </a>
        </div> #}
        <div class="flex">
          <a href="/get-started/overview" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Get Started
          </a>
          <a href="/glossary" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Glossary
          </a>
          <a href="/glossary-2/align-content/" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Glossary 2
          </a>
          <a href="/blog" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Blog
          </a>
          <a href="/cheatsheet" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Cheatsheet
          </a>
          <a href="" class="font-md font-semibold text-gray-500 hover.text-black transition-100 ml-28" data-barba-prevent>
            Gallery
          </a>
        </div>

        
      </div>


    </nav>
    <div class="h-3 bg-silver-200"></div>
  </div>
</header>
