<div class="relative z-5 sticky top-0 bg-primary bg-shade-900 bg-opacity-80 backdrop backdrop-blur-10 backdrop-saturate-8">
  <div class="wrapper px-20">
    <div class="w-100p pt-12 sm.pt-0">

      <div class="relative color-white text-sm leading-none">
        <div class="absolute top-0 left-0 w-16 h-48 sm.h-64 flex align-items-center justify-content-center">
          <svg class="w-16 h-16 fill-current color-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"/></svg>
        </div>
        <div class="absolute top-0 right-0 w-36 h-48 sm.h-64 flex align-items-center z-4">
          <button class="relative text-sm semibold color-white hover.color-white color-opacity-80 hover.color-opacity-100 transition-100 overflow-visible" x-data="{ open: !open }" @click="open = !open">
            <img src="/assets/img/logo-square-400w.png" class="radius-sm w-36 h-36">

            <div class="absolute right-0 mt-8 transform transform-top-right w-144 py-4 radius-sm overflow-hidden bg-white shadow-sm" 
              x-show="open" 
              @click.away="open = false" 
              x-transition:enter="transition ease-out transition-100" 
              x-transition:enter-start="transform opacity-0 scale-90" 
              x-transition:enter-end="transform opacity-100 scale-100" 
              x-transition:leave="transition ease-in transition-100" 
              x-transition:leave-start="transform opacity-100 scale-100" 
              x-transition:leave-end="transform opacity-0 scale-90"
              x-cloak
            > 
              <a href="" class="flex align-items-center px-14 py-6 transition-200 hover.bg-cool-gray hover.bg-tint-900 color-black">
                Tutorials
              </a>
              <a href="" class="flex align-items-center px-14 py-6 transition-200 hover.bg-cool-gray hover.bg-tint-900 color-black">
                Twitter
              </a>
              <a href="" class="flex align-items-center px-14 py-6 transition-200 hover.bg-cool-gray hover.bg-tint-900 color-black">
                Github
              </a>
              <div class="h-1 my-4 bg-cool-gray bg-tint-800"></div>
              <a href="" class="flex align-items-center px-14 py-6 transition-200 hover.bg-cool-gray hover.bg-tint-900 color-black">
                Releases
              </a>
              {% if page.url != '/' %}
                <a href="/" class="flex align-items-center px-14 py-6 transition-200 hover.bg-cool-gray hover.bg-tint-900 color-black">
                  Back to home
                </a>
              {% endif %}                
            </div>
          </button>
        </div>
        <input type="text" placeholder="Search anything" class="w-100p h-48 sm.h-64 pl-32 bg-transparent placeholder-white focus.placeholder-white color-white text-md js-docsearch">
        <div class="sm.absolute top-0 right-0 h-64 sm.mr-64 flex align-items-center overflow-auto">
          <nav class="flex align-items-center leading-tight">
            <a href="/docs/overview" class="flex-none text-sm semibold color-white hover.color-white color-opacity-80 hover.color-opacity-100 transition-100 mr-28 sm.mr-0 sm.ml-28">
              Docs
            </a>
            <a href="/api-reference" class="flex-none text-sm semibold color-white hover.color-white color-opacity-80 hover.color-opacity-100 transition-100 mr-28 sm.mr-0 sm.ml-28">
              API Reference
            </a>
            <a href="/cheatsheet/font-sizes" class="flex-none text-sm semibold color-white hover.color-white color-opacity-80 hover.color-opacity-100 transition-100 mr-28 sm.mr-0 sm.ml-28">
              Cheatsheet
            </a>
            <a href="https://codepen.io/ThinkUniform/pen/poNNqaE" class="flex-none text-sm semibold color-white hover.color-white color-opacity-80 hover.color-opacity-100 transition-100 mr-28 sm.mr-0 sm.ml-28">
              Playground
            </a>
          </nav>
        </div>
      </div>

      
    </div>
  </div>

  <div class="wrapper px-20">
    <div class="bg-white bg-opacity-20 h-1"></div>
  </div>
</div>

