@use "uniform/core";
@use "sass:map";

$name: gutter-reverse;
$shorthand: gutter-reverse #{"> * + *"};
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (margin);
$custom-properties: (
  --gutter-right: 1,
  --gutter-left: 0,
  --gutter-top: 1,
  --gutter-bottom: 0,
);

$variants: (
  null: null
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);