@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-clip);

$core-variants: (
	border: border-box,
	padding: padding-box,
	content: content-box,
	text: text,
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
