@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: bg;
$responsive: true;
$responsive-pseudos: false;

$properties: (background-position);

$core-variants: (
  lt: left top,
  l: left,
  lb: left bottom,
  rt: right top,
  r: right,
  rb: right bottom,
  t: top,
  b: bottom,
  c: center
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
