@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: background-size;
$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-size);

$variants: (
  auto: auto,
  cover: cover,
  contain: contain
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);