@use "uniform/config" as *;
@use "sass:map";

$name: background-repeat;
$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-repeat);

$variants: (
  repeat: repeat,
  repeat-x: repeat-x,
  repeat-y: repeat-y,
  no-repeat: no-repeat,
  space: space,
  round: round
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);