@use "uniform/core";
@use "sass:map";

$name: background-attachment;
$keyword: bg;
$responsive: true;
$responsive-pseudos: false;

$properties: (background-attachment);

$variants: (
  scroll: scroll,
  fixed: fixed,
  local: local
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);