@use "uniform/config";
@use "uniform/core";
@use "sass:map";

$name: background-color;
$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-color);

$variants: (
	core.merge(
		core.colors()
	)
);

$pseudos: (hover, group-hover, active, focus);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

config.$default-config: map.deep-merge(config.$default-config, $config);