@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: background-clip;
$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-clip);

$variants: (
	border: border-box,
	padding: padding-box,
	content: content-box,
	text: text,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);