@use "uniform/config" as *;
@use "sass:map";

$name: background-position;
$keyword: bg-position;
$responsive: true;
$responsive-pseudos: false;

$properties: (background-position);

$variants: (
  lt: left top,
  l: left,
  lb: left bottom,
  rt: right top,
  r: right,
  rb: right bottom,
  t: top,
  b: bottom,
  c: center
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);