@use "uniform/config" as *;
@use "sass:map";

$keyword: bg;
$responsive: false;
$responsive-pseudos: false;

$properties: (background-clip);

$variants: (
	border: border-box,
	padding: padding-box,
	content: content-box,
	text: text,
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);