@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: border;
$responsive: false;
$responsive-pseudos: false;

$properties: (border-collapse);

$variants: (
  separate: separate,
  collapse: collapse
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);