@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: border-bottom-width;
$keyword: border-b;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-bottom-width);

$variants: (
	0: 0,
	px: 1px,
	2px: 2px,
	3px: 3px,
	4px: 4px,

	6px: 6px,
	8px: 8px,
	
	12px: 12px
);

$pseudos: (last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);