@use "uniform/config" as *;
@use "sass:map";

$keyword: border-r;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-right-width);

$variants: (
	0: 0,
	px: 1px,
	2px: 2px,
	3px: 3px,
	4px: 4px,

	6px: 6px,
	8px: 8px,
	
	12px: 12px
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (last);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
