@use "uniform/core";
@use "sass:map";

$name: border-color;
$keyword: border;
$responsive: false;
$responsive-pseudos: false;

$properties: (border-color);

$variants: (
	core.merge(
    core.border-colors(),
    core.colors()
	)
);

$pseudos: (hover);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);