@use "uniform/core";
@use "sass:map";

$name: border-top-width;
$keyword: border-t;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-top-width);
$custom-properties: ();

$variants: (
	0: 0,
	px: 1px,
	2px: 2px,
	3px: 3px,
	4px: 4px,

	6px: 6px,
	8px: 8px,
	
	12px: 12px
);

$pseudos: (first);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);
