@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: radius-tl;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-top-left-radius);

$variants: (
	merge(
		radiuses(),
		(
			0: 0,
		)
	)
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (first);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
