@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: border-bottom-radius;
$keyword: radius-b;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-bottom-left-radius, border-bottom-right-radius);

$variants: (
	staging.merge(
    staging.radiuses(),
    (
      0: 0
    )
  )
);

$pseudos: (last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);