@use "uniform/core";
@use "sass:map";

$name: border-bottom-radius;
$keyword: radius-b;
$responsive: true;
$responsive-pseudos: false;

$properties: (border-bottom-left-radius, border-bottom-right-radius);

$variants: (
	core.merge(
    core.radiuses(),
    (
      0: 0
    )
  )
);

$pseudos: (last);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);