@use "uniform/core" as *;

@if $include-reset-styles == true and $headless == false {

  /* Reset everything */
  *,*::before,*::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0 solid var(--default-border-color, var(--silver-400));
  }

  /* Prevent iOS font size change */
  html {
    -webkit-text-size-adjust: 100%;
  }

  /* Reset body line-height */
  body {
    min-height: 100vh;
    line-height: 1;
  }

  /* All media elements set to block */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    width: 100%;
    vertical-align: middle;
  }

  /* Collapse table */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove list style */
  ol,ul {
    list-style: none;
  }
}
