@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: transform;
$responsive: false;
$responsive-pseudos: false;

$properties: (transform);

$core-variants: (
  exempt: (
    translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) rotate(var(--rotate, 0))
      skewX(var(--skew-x, 0)) skewY(var(--skew-y, 0)) scaleX(var(--scale-x, 1))
      scaleY(var(--scale-y, 1))
  ),
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: (hover, group-hover);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
