@use "uniform/core";
@use "sass:map";

$name: skew-y;
$shorthand: skew-y;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (--skew-y);
$custom-properties: ();

$variants: (
  n12: -12deg,
	n8: -8deg,
	n4: -4deg,
	0: 0,
	4: 4deg,
  8: 8deg,
	12: 12deg,
);

$pseudos: (hover, group-hover);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);