@use "uniform/core";
@use "sass:map";

$name: translate-x;
$keyword: translate-x;
$responsive: false;
$responsive-pseudos: false;

$properties: (--translate-x);

$variants: (
	n100p: -100%,
	100p: 100%,
	n50p: -50%,
	50p: 50%,

	0: 0,
	1: core.size(1),
	2: core.size(2),
	4: core.size(4),
	8: core.size(8),
	16: core.size(16),
	n1: core.size(n1),
	n2: core.size(n2),
	n4: core.size(n4),
	n8: core.size(n8),
	n16: core.size(n16),
);

$pseudos: (hover, group-hover);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);