@use "uniform/config" as *;
@use "sass:map";

$keyword: translate-x;
$responsive: false;
$responsive-pseudos: false;

$properties: (--translate-x);

$variants: (
	n100p: -100%,
	100p: 100%,
	n50p: -50%,
	50p: 50%,

	0: 0,
	1: size(1),
	2: size(2),
	4: size(4),
	8: size(8),
	16: size(16),
	n1: size(n1),
	n2: size(n2),
	n4: size(n4),
	n8: size(n8),
	n16: size(n16),
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (hover, group-hover);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
