@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: translate-y;
$keyword: translate-y;
$responsive: false;
$responsive-pseudos: false;

$properties: (--translate-y);

$variants: (
	n100p: -100%,
	100p: 100%,
	n50p: -50%,
	50p: 50%,

	0: 0,
	1: staging.size(1),
	2: staging.size(2),
	4: staging.size(4),
	8: staging.size(8),
	16: staging.size(16),
	n1: staging.size(n1),
	n2: staging.size(n2),
	n4: staging.size(n4),
	n8: staging.size(n8),
	n16: staging.size(n16),
);

$pseudos: (hover, group-hover);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);
