@use "uniform/core";
@use "sass:map";

$name: rotate;
$shorthand: rotate;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (--rotate);
$custom-properties: ();

$variants: (
	0: 0,
	45: 45deg,
	90: 90deg,
	180: 180deg,
	n45: -45deg,
	n90: -90deg,
	n180: -180deg,
);

$pseudos: (hover, group-hover);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);