@use "uniform/config" as *;
@use "sass:map";

$keyword: scale-y;
$responsive: false;
$responsive-pseudos: false;

$properties: (--scale-y);

$variants: (
	xs: 0.8,
	sm: 0.9,
	md: 1,
	lg: 1.1,
	xl: 1.2,
);

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (hover, group-hover);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
