@use "uniform/core";
@use "sass:map";

$name: scale-y;
$shorthand: scale-y;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (--scale-y);
$custom-properties: ();

$variants: (
	xs: 0.8,
	sm: 0.9,
	md: 1,
	lg: 1.1,
	xl: 1.2,
);

$pseudos: (hover, group-hover);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);
