@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: transition-delay;
$keyword: delay;
$responsive: false;
$responsive-pseudos: false;

$properties: (transition-delay);

$variants: (
	100: 100ms,
	200: 200ms,
	300: 300ms,
	400: 400ms,
	500: 500ms,
	600: 600ms,
	700: 700ms,
	800: 800ms,
	900: 900ms,
	1000: 1000ms,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);