@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: exempt;
$responsive: false;
$responsive-pseudos: false;

$properties: (transition-timing-function);

$variants: (
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-in-out: ease-in-out
);

$pseudos();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);