@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: transition;
$responsive: false;
$responsive-pseudos: false;

$properties: (transition-property);

$variants: (
	none: none,
	all: all,
	exempt: (
		background-color,
		border-color,
		color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
	),
	colors: (
		background-color,
		border-color,
		color,
		fill,
		stroke,
	),
	opacity: opacity,
	shadow: box-shadow,
	transform: transform,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);