@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: color;
$responsive: false;
$responsive-pseudos: false;

$properties: (color);

$variants: (colors());

$variants: ();

$final-variants: map.merge($variants, $variants);

$core-pseudos: (hover, group-hover);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
