@use "uniform/core";
@use "sass:map";

$name: font-weight;
$shorthand: font;
$responsive: false;
$responsive-pseudos: false;

$properties: (font-weight);
$custom-properties: ();

$variants: (
	core.merge(
    core.font-weights(),
    (
      100: 100,
      200: 200,
      300: 300,
      400: 400,
      500: 500,
      600: 600,
      700: 700,
      800: 800,
      900: 900,
    )
  )
);

$pseudos: (
  hover
);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);