@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: leading;
$responsive: true;
$responsive-pseudos: false;

$properties: (line-height);

$core-variants: (leadings());

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
