@use "uniform/config" as *;
@use "sass:map";

$keyword: whitespace;
$responsive: false;
$responsive-pseudos: false;

$properties: (white-space);

$variants: (
  nowrap: nowrap,
  pre: pre,
  pre-line: pre-line,
  pre-wrap: pre-wrap
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);