@use "uniform/core";
@use "sass:map";

$name: line-height;
$shorthand: leading;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (line-height);
$custom-properties: ();

$variants: (
  core.merge(
    core.leadings(),
    (
      0: 1,
      1: 1.1,
      2: 1.2,
      3: 1.3,
      4: 1.4,
      5: 1.5,
      6: 1.6,
      7: 1.7,
      8: 1.8,
      9: 1.9
    )
  )
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);