@use "uniform/config" as *;
@use "sass:map";

$name: 
$keyword: leading;
$responsive: true;
$responsive-pseudos: false;

$properties: (line-height);

$variants: (leadings());

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);