@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: list-style-positions;
$keyword: list;
$responsive: false;
$responsive-pseudos: false;

$properties: (list-style-position);

$variants: (
  inside: inside,
  outside: outside
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);