@use "uniform/config" as *;
@use "sass:map";

$keyword: list;
$responsive: false;
$responsive-pseudos: false;

$properties: (list-style-type);

$variants: (
  none: none,
  disc: disc,
  square: square,
  decimal: decimal
);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-config: map.deep-merge($default-config, $config);