@use "uniform/core";
@use "sass:map";

$name: font-family;
$keyword: font;
$responsive: false;
$responsive-pseudos: false;

$properties: (font-family);

$variants: (
  core.font-families()
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);