@use "uniform/core";
@use "sass:map";

$name: mix-blend-mode;
$keyword: blend;
$responsive: false;
$responsive-pseudos: false;

$properties: (mix-blend-mode);

$variants: (
	normal: normal,
	multiply: multiply,
	screen: screen,
	overlay: overlay,
	darken: darken,
	lighten: lighten,
	color-dodge: color-dodge,
	color-burn: color-burn,
	hard-light: hard-light,
	soft-light: soft-light,
	difference: difference,
	exclusion: exclusion,
	hue: hue,
	saturation: saturation,
	color: color,
	luminosity: luminosity,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);