@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: shadow;
$responsive: false;
$responsive-pseudos: false;

$properties: (box-shadow);

$core-variants: (
	merge(
		shadows(),
		(
			none: none,
		)
	)
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: (hover, active, focus);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
