@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: filter;
$responsive: false;
$responsive-pseudos: false;

$properties: (filter);

$core-variants: (
  none: none,
  graysize: graysize(100%)
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: (hover, group-hover, active);
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
