@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: box-shadow;
$keyword: shadow;
$responsive: false;
$responsive-pseudos: false;

$properties: (box-shadow);

$variants: (
	staging.merge(
		staging.shadows(),
		(
			none: none,
		)
	)
);

$pseudos: (hover, active, focus);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);