@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: filter; 
$keyword: filter;
$responsive: false;
$responsive-pseudos: false;

$properties: (filter);

$variants: (
  none: none,
  grayscale: grayscale(100%)
);

$pseudos: (hover, group-hover, active);

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);