@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: blend;
$responsive: false;
$responsive-pseudos: false;

$properties: (mix-blend-mode);

$core-variants: (
	normal: normal,
	multiply: multiply,
	screen: screen,
	overlay: overlay,
	darken: darken,
	lighten: lighten,
	color-dodge: color-dodge,
	color-burn: color-burn,
	hard-light: hard-light,
	soft-light: soft-light,
	difference: difference,
	exclusion: exclusion,
	hue: hue,
	saturation: saturation,
	color: color,
	luminosity: luminosity,
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
