<div class="flex flex-col sm.flex-row bg-white shadow-md radius-lg overflow-hidden p-10">
  <img src="/assets/img/shoe.jpg" class="flex-none w-100p h-192 sm.w-160 sm.h-auto object-cover radius-md">
  <div class="p-20">
    <div class="flex align-items-center justify-content-between bold text-xs color-black color-opacity-40">
      Unisex
    </div>

    <div class="flex align-items-center justify-content-between mb-14">
      <h4 class="text-xl semibold">Foster Autumn</h4>
      <span class="text-xl semibold opacity-50">$160</span>
    </div>

    <div class="flex align-items-center justify-content-between bold text-xs mb-10">
      Size
      <div class="flex">
        <button class="ml-16 color-black color-opacity-100">US</button>
        <button class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">UK</button>
        <button class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">EU</button>
      </div>
    </div>

    <div class="flex align-items-center justify-content-between pb-20">
      <div class="flex">
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-8 bg-black color-white text-xs bold">5</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 text-xs bold">5.5</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 text-xs bold">6</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-8 bg-gray bg-tint-800 hover.bg-tint-600 transition-200 text-xs bold">6.5</button>
        <a href="#" class="ml-10 text-sm underline color-cool-gray">Size guide</a>
      </div>
    </div>
    <p class="text-sm">Free shipping on U.S. orders over $75.</p>

  </div>
</div>