<div class="flex flex-col sm.flex-row bg-white shadow-md radius-lg overflow-hidden p-10 sm.pr-0">
  <img src="/assets/img/uniform-hoodie.jpg" class="flex-none w-100p h-192 sm.w-160 sm.h-auto object-cover radius-md">
  <div class="p-20 sm.p-28 sm.py-10">
    <div class="flex align-items-center bold text-xs color-cool-gray color-tint-400">
      Unisex
    </div>

    <div class="flex align-items-center justify-content-between mb-18">
      <h4 class="text-xl semibold color-black">Uniform Hoodie</h4>
      <span class="text-xl semibold color-cool-gray">$50</span>
    </div>

    <div class="flex align-items-center justify-content-between semibold text-xs mb-6 color-black">
      Size
      <div class="flex">
        <button class="ml-16 color-black color-opacity-100">US</button>
        <button class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">UK</button>
        <button class="ml-16 color-black transition-200 color-opacity-30 hover.color-opacity-100">EU</button>
      </div>
    </div>

    <div class="flex align-items-end justify-content-between mb-24">
      <div class="flex">
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-7 bg-black color-white text-xs bold">XS</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-7 bg-cool-gray bg-tint-700 hover.bg-tint-500 color-black transition-200 text-xs bold">S</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-7 bg-cool-gray bg-tint-700 hover.bg-tint-500 color-black transition-200 text-xs bold">M</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-7 bg-cool-gray bg-tint-700 hover.bg-tint-500 color-black transition-200 text-xs bold">L</button>
      </div>
      <a href="#" class="ml-10 text-sm underline color-cool-gray hover.color-shade-200">Size guide</a>
    </div>
    <p class="text-sm color-black">Free shipping on orders over $25.</p>

  </div>
</div>