<div class="w-100p sm.w-320 bg-white shadow-md radius-lg p-20">
  <div class="text-xs medium color-cool-gray text-center">Uniform Academy</div>
  <h4 class="text-xl bold color-black text-center tracking-tight mb-20">Animation in UI Design</h4>

  <div class="flex align-items-center mb-20">
    <div class="flex-none text-xs medium color-cool-gray color-tint-400 pr-10">
      06.57
    </div>
    <div class="w-100p h-4 radius-full overflow-hidden bg-cool-gray bg-tint-800">
      <div class="w-3-5 h-5 bg-primary">
      </div>
    </div>
    <div class="flex-none text-xs medium color-cool-gray color-tint-400 pl-10">
      32.56
    </div>
  </div>

  <div class="flex align-items-center justify-content-between">
    <button class="flex align-items-center justify-content-center w-24 h-24 radius-full color-black text-2xl">
      <ion-icon name="heart-outline"></ion-icon>
    </button>
    <button class="flex align-items-center justify-content-center w-48 h-48 radius-full bg-cool-gray bg-tint-900 hover.bg-tint-800 color-black text-2xl transition-200">
      <ion-icon name="play-skip-back-outline"></ion-icon>
    </button>
    <button class="flex align-items-center justify-content-center w-48 h-48 radius-full border-2 border-primary hover.bg-primary color-primary hover.color-white text-2xl transition-200">
      <ion-icon name="pause-outline"></ion-icon>
    </button>
    <button class="flex align-items-center justify-content-center w-48 h-48 radius-full bg-cool-gray bg-tint-900 hover.bg-tint-800 color-black text-2xl transition-200">
      <ion-icon name="play-skip-forward-outline"></ion-icon>
    </button>
    <button class="flex align-items-center justify-content-center w-24 h-24 radius-full  color-black text-2xl">
      <ion-icon name="bookmark-outline"></ion-icon>
    </button>
  </div>
</div>