@use "sass:map";
@use "sass:list";
@use "uniform/core" as *;

$exclude: map.get($all-config, exclude);
$include: map.get($all-config, include);

@if ( list.index($include, module-form) != null or list.index($exclude, all) == null and list.index($exclude, module-form) == null ) {

  /******************************
  LABEL

  --label-font-size
  --label-font-weight
  --label-color
  --label-tracking
  --label-text-transform
  --label-required-color
  ******************************/

  .label {
    display: inline-block;
    font-size: var(--label-font-size, var(--font-xs));
    font-weight: var(--label-font-weight, var(--bold));
    color: var(--label-color, black);
    letter-spacing: var(--label-tracking, 0);
    text-transform: var(--label-text-transform, none);
    &.is-required {
      &:after {
        content: '*';
        position: relative;
        display: inline-block;
        top: -2px;
        left: 2px;
        color: var(--label-required-color, hsl( var(--red-hue), var(--red-sat), 50% ));
      }
    }
  }


  /******************************
  INPUT

  --input-height
  --input-padding
  --input-bg
  --input-border
  --input-radius
  --input-shadow
  --input-font-size
  --input-transition

  --input-hover-border
  --input-hover-shadow
  --input-focus-border
  --input-focus-shadow

  --input-disabled-border
  --input-disabled-bg
  --input-disabled-color
  --input-success-border
  --input-focus-success-shadow
  --input-warning-border
  --input-focus-warning-shadow
  --input-danger-border
  --input-focus-danger-shadow

  --input-xs-height
  --input-xs-padding
  --input-xs-font-size

  --input-sm-height
  --input-sm-padding
  --input-sm-font-size

  --input-md-height
  --input-md-padding
  --input-md-font-size

  --input-lg-height
  --input-lg-padding
  --input-lg-font-size

  --input-xl-height
  --input-xl-padding
  --input-xl-font-size
  ******************************/

  .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    position: relative;
    width: 100%;
    height: var(--input-height, var(--size-40));
    padding: var(--input-padding, var(--size-0) var(--size-14));
    background: var(--input-bg, white);
    border: var(--input-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
    border-radius: var(--input-radius, var(--radius-xs));
    box-shadow: var(--input-shadow, none);
    font-size: var(--input-font-size, var(--font-base));
    line-height: normal;
    transition: var(--input-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--input-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      box-shadow: var(--input-hover-shadow, none);
    }
    &:focus {
      border: var(--input-focus-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      box-shadow: var(--input-focus-shadow, shadow(focus));
    }
    &:disabled {
      border: var(--input-disabled-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      background: var(--input-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
      color: var(--input-disabled-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-400) ));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--input-success-border, 1px solid hsl( var(--green-hue), var(--green-sat), var(--shade-100) ));
      &:focus {
        box-shadow: var(--input-focus-success-shadow, var(--shadow-focus-success));
      }
    }
    &.is-warning {
      border: var(--input-warning-border, 1px solid hsl( var(--yellow-hue), var(--yellow-sat), 50% ));
      &:focus {
        box-shadow: var(--input-focus-warning-shadow, var(--shadow-focus-warning));
      }
    }
    &.is-danger {
      border: var(--input-danger-border, 1px solid hsl( var(--red-hue), var(--red-sat), 50% ));
      &:focus {
        box-shadow: var(--input-focus-danger-shadow, var(--shadow-focus-danger));
      }
    }
  }

  // SIZES	
  .input-xs {
    --input-height: var(--input-xs-height, var(--size-24));
    --input-padding: var(--input-xs-padding, var(--size-0) var(--size-8));
    --input-font-size: var(--input-xs-font-size, var(--input-font-size, var(--font-xs)));
  }
  .input-sm {
    --input-height: var(--input-sm-height, var(--size-36));
    --input-padding: var(--input-sm-padding, var(--size-0) var(--size-12));
    --input-font-size: var(--input-sm-font-size, var(--input-font-size, var(--font-sm)));
  }
  .input-md {
    --input-height: var(--input-md-height, var(--size-40));
    --input-padding: var(--input-md-padding, var(--size-0) var(--size-14));
    --input-font-size: var(--input-md-font-size, var(--input-font-size, var(--font-base)));
  }
  .input-lg {
    --input-height: var(--input-lg-height, var(--size-48));
    --input-padding: var(--input-lg-padding, var(--size-0) var(--size-16));
    --input-font-size: var(--input-lg-font-size, var(--input-font-size, var(--font-base)));
  }
  .input-xl {
    --input-height: var(--input-xl-height, var(--size-56));
    --input-padding: var(--input-xl-padding, var(--size-0) var(--size-18));
    --input-font-size: var(--input-xl-font-size, var(--input-font-size, var(--font-base)));
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}input-xs {
        --input-height: var(--input-xs-height, var(--size-24));
        --input-padding: var(--input-xs-padding, var(--size-0) var(--size-8));
        --input-font-size: var(--input-xs-font-size, var(--input-font-size, var(--font-xs)));
      }
      .#{$screen}#{$screen-delimiter}input-sm {
        --input-height: var(--input-sm-height, var(--size-36));
        --input-padding: var(--input-sm-padding, var(--size-0) var(--size-12));
        --input-font-size: var(--input-sm-font-size, var(--input-font-size, var(--font-sm)));
      }
      .#{$screen}#{$screen-delimiter}input-md {
        --input-height: var(--input-md-height, var(--size-40));
        --input-padding: var(--input-md-padding, var(--size-0) var(--size-14));
        --input-font-size: var(--input-md-font-size, var(--input-font-size, var(--font-base)));
      }
      .#{$screen}#{$screen-delimiter}input-lg {
        --input-height: var(--input-lg-height, var(--size-48));
        --input-padding: var(--input-lg-padding, var(--size-0) var(--size-16));
        --input-font-size: var(--input-lg-font-size, var(--input-font-size, var(--font-base)));
      }
      .#{$screen}#{$screen-delimiter}input-xl {
        --input-height: var(--input-xl-height, var(--size-56));
        --input-padding: var(--input-xl-padding, var(--size-0) var(--size-18));
        --input-font-size: var(--input-xl-font-size, var(--input-font-size, var(--font-base)));
      }
    }
  }

  /******************************
  CHECKBOX

  --checkbox-size
  --checkbox-radius
  --checkbox-bg
  --checkbox-border
  --checkbox-radius
  --checkbox-transition
  --checkbox-hover-border

  --checkbox-checked-border
  --checkbox-checked-bg

  --checkbox-disabled-border
  --checkbox-disabled-bg
  ******************************/

  .checkbox {
    display: inline-flex;
    flex: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-size, var(--size-16));
    height: var(--checkbox-size, var(--size-16));
    background: var(--checkbox-bg, white);
    border: var(--checkbox-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
    border-radius: var(--checkbox-radius, var(--radius-xs));
    transition: var(--checkbox-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: var(--shadow-focus);
    }
    &:hover {
      border: var(--checkbox-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
    }
    &:checked {
      border: var(--checkbox-checked-border, 1px solid hsla( var(--blue-hue), var(--blue-sat), 50% ));
      background-color: var(--checkbox-checked-bg, hsla( var(--blue-hue), var(--blue-sat), 50% ));
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      &:disabled {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }
      &:hover {
        border: var(--checkbox-checked-border, 1px solid hsl( var(--blue-hue), var(--blue-sat), 50% ));
      }
    }
    &:disabled {
      border-color: var(--checkbox-disabled-border, hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      background-color: var(--checkbox-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
      &:hover {
        border: var(--checkbox-disabled-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      }
    }
  }


  /******************************
  RADIO

  --radio-size
  --radio-radius
  --radio-bg
  --radio-border
  --radio-radius
  --radio-transition
  --radio-hover-border

  --radio-checked-border
  --radio-checked-bg

  --radio-disabled-border
  --radio-disabled-bg
  ******************************/

  .radio {
    display: inline-flex;
    flex: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--radio-size, var(--size-16));
    height: var(--radio-size, var(--size-16));
    background: var(--radio-bg, white);
    border: var(--radio-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
    border-radius: var(--radio-radius, 9999px);
    transition: var(--radio-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: var(--shadow-focus);
    }
    &:hover {
      border: var(--radio-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
    }
    &:checked {
      border: var(--radio-checked-border, 1px solid hsla( var(--blue-hue), var(--blue-sat), 50% ));
      background-color: var(--radio-checked-bg, hsla( var(--blue-hue), var(--blue-sat), 50% ));
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
      &:disabled {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23666'/%3e%3c/svg%3e");
      }
      &:hover {
        border: var(--radio-checked-border, 1px solid hsl( var(--blue-hue), var(--blue-sat), 50% ));
      }
    }
    &:disabled {
      border-color: var(--radio-disabled-border, hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      background-color: var(--radio-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
      &:hover {
        border: var(--radio-disabled-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      }
    }
  }


  /******************************
  TOGGLE

  --toggle-width
  --toggle-height
  --toggle-bg
  --toggle-transition
  --toggle-radius
  --toggle-hover-bg
  --toggle-checked-bg
  --toggle-checked-translate
  --toggle-disabled-bg
  ******************************/

  .toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .toggle__switch {
        background: var(--toggle-hover-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-600) ));
      }
    }

    input {
      display: none;
      &:checked + .toggle__switch {
        background: var(--toggle-checked-bg, hsl( var(--green-hue), var(--green-sat), var(--shade-100) ));
      }
      &:checked + .toggle__switch:before {
        transform: translateX(var(--toggle-checked-translate, var(--size-20)));
      }
      &:disabled + .toggle__switch {
        background: var(--toggle-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-600) ));
      }
    }
  }
  .toggle__switch {
    position: relative;
    width: var(--toggle-width, var(--size-40));
    height: var(--toggle-height, var(--size-20));
    background: var(--toggle-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
    transition: var(--toggle-transition, background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms);
    border-radius: var(--toggle-radius, 9999px);

    &:before {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 3px;
      width: 14px;
      height: 14px;
      background: white;
      border-radius: 9999px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      transition: background-color 200ms, border-color 200ms, color 200ms, fill 200ms, stroke 200ms, opacity 200ms, box-shadow 200ms, transform  200ms;
    }
  }


  /******************************
  SELECT

  --select-height
  --select-padding
  --select-bg
  --select-border
  --select-radius
  --select-shadow
  --select-font-size
  --select-transition

  --select-hover-border
  --select-hover-shadow
  --select-focus-border
  --select-focus-shadow

  --select-disabled-border
  --select-disabled-bg
  --select-disabled-color
  
  --select-angle-color
  --select-hover-angle-color
  --select-hover-focus-color

  --select-success-border
  --select-focus-success-shadow
  --select-warning-border
  --select-focus-warning-shadow
  --select-danger-border
  --select-focus-danger-shadow

  --select-xs-height
  --select-xs-padding
  --select-xs-font-size

  --select-sm-height
  --select-sm-padding
  --select-sm-font-size

  --select-md-height
  --select-md-padding
  --select-md-font-size

  --select-lg-height
  --select-lg-padding
  --select-lg-font-size

  --select-xl-height
  --select-xl-padding
  --select-xl-font-size
  ******************************/
  
  .select {
    position: relative;
    width: 100%;

    select {
      width: 100%;
      height: var(--select-height, var(--size-40));
      padding: var(--select-padding, var(--size-0) var(--size-14));
      background: var(--select-bg, white);
      border: var(--select-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
      border-radius: var(--select-radius, var(--radius-xs));
      box-shadow: var(--select-shadow, none);
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: var(--select-font-size, var(--font-base));
      line-height: 1.5;
      transition: var(--select-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);
      cursor: pointer;

      // PSEUDOS
      &:hover {
        border: var(--select-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
        box-shadow: var(--select-hover-shadow, none);
      }
      &:focus {
        border: var(--select-focus-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
        box-shadow: var(--select-focus-shadow, shadow(focus));
      }
      &:disabled {
        border: var(--select-disabled-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
        background: var(--select-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
        color: var(--select-disabled-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-400) ));
        pointer-events: none;
      }
    }

    &:hover {
      &:after {
        border-color: var(--select-hover-angle-color, hsl( var(--gray-hue), var(--gray-sat), var(--tint-200) ));
      }
    }
    &:focus {
      &:after {
        border-color: var(--select-hover-focus-color, hsl( var(--gray-hue), var(--gray-sat), var(--tint-200) ));
      }
    }

    // ANGLE
    &:after {
      position: absolute;
      top: calc(50% - 6px);
      right: var(--size-14);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: solid var(--select-angle-color, hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: 100ms;
    }

    // STATES
    &.is-success {
      border: var(--select-success-border, 1px solid hsl( var(--green-hue), var(--green-sat), var(--shade-100) ));
      &:focus {
        box-shadow: var(--select-focus-success-shadow, var(--shadow-focus-success));
      }
    }
    &.is-warning {
      border: var(--select-warning-border, 1px solid hsl( var(--yellow-hue), var(--yellow-sat), 50% ));
      &:focus {
        box-shadow: var(--select-focus-warning-shadow, var(--shadow-focus-warning));
      }
    }
    &.is-danger {
      border: var(--select-danger-border, 1px solid hsl( var(--red-hue), var(--red-sat), 50% ));
      &:focus {
        box-shadow: var(--select-focus-danger-shadow, var(--shadow-focus-danger));
      }
    }
  }

  

  // SIZES
  .select-xs {
    select {
      --select-height: var(--select-xs-height, var(--size-24));
      --select-padding: var(--select-xs-padding, var(--size-0) var(--size-8));
      --select-font-size: var(--select-xs-font-size, var(--select-font-size, var(--font-xs)));
    }
    &:after {
      right: var(--size-14);
    }
  }
  .select-sm {
    select {
      --select-height: var(--select-sm-height, var(--size-36));
      --select-padding: var(--select-sm-padding, var(--size-0) var(--size-12));
      --select-font-size: var(--select-sm-font-size, var(--select-font-size, var(--font-sm)));
    }
    &:after {
      right: var(--size-14);
    }
  }
  .select-md {
    select {
      --select-height: var(--select-md-height, var(--size-40));
      --select-padding: var(--select-md-padding, var(--size-0) var(--size-14));
      --select-font-size: var(--select-md-font-size, var(--select-font-size, var(--font-base)));
    }
    &:after {
      right: var(--size-14);
    }
  }
  .select-lg {
    select {
      --select-height: var(--select-lg-height, var(--size-48));
      --select-padding: var(--select-lg-padding, var(--size-0) var(--size-16));
      --select-font-size: var(--select-lg-font-size, var(--select-font-size, var(--font-base)));
    }
    &:after {
      right: var(--size-16);
    }
  }
  .select-xl {
    select {
      --select-height: var(--select-xl-height, var(--size-56));
      --select-padding: var(--select-xl-padding, var(--size-0) var(--size-18));
      --select-font-size: var(--select-xl-font-size, var(--select-font-size, var(--font-base)));
    }
    &:after {
      right: var(--size-18);
    }
  }

  @each $screen, $screen-value in screens() {
    @media (min-width: $screen-value) {
      .#{$screen}#{$screen-delimiter}select-xs {
        select {
          --select-height: var(--select-xs-height, var(--size-24));
          --select-padding: var(--select-xs-padding, var(--size-0) var(--size-8));
          --select-font-size: var(--select-xs-font-size, var(--select-font-size, var(--font-xs)));
        }
        &:after {
          right: var(--size-14);
        }
      }
      .#{$screen}#{$screen-delimiter}select-sm {
        select {
          --select-height: var(--select-sm-height, var(--size-36));
          --select-padding: var(--select-sm-padding, var(--size-0) var(--size-12));
          --select-font-size: var(--select-sm-font-size, var(--select-font-size, var(--font-sm)));
        }
        &:after {
          right: var(--size-14);
        }
      }
      .#{$screen}#{$screen-delimiter}select-md {
        select {
          --select-height: var(--select-md-height, var(--size-40));
          --select-padding: var(--select-md-padding, var(--size-0) var(--size-14));
          --select-font-size: var(--select-md-font-size, var(--select-font-size, var(--font-base)));
        }
        &:after {
          right: var(--size-14);
        }
      }
      .#{$screen}#{$screen-delimiter}select-lg {
        select {
          --select-height: var(--select-lg-height, var(--size-48));
          --select-padding: var(--select-lg-padding, var(--size-0) var(--size-16));
          --select-font-size: var(--select-lg-font-size, var(--select-font-size, var(--font-base)));
        }
        &:after {
          right: var(--size-16);
        }
      }
      .#{$screen}#{$screen-delimiter}select-xl {
        select {
          --select-height: var(--select-xl-height, var(--size-56));
          --select-padding: var(--select-xl-padding, var(--size-0) var(--size-18));
          --select-font-size: var(--select-xl-font-size, var(--select-font-size, var(--font-base)));
        }
        &:after {
          right: var(--size-18);
        }
      }
    }
  }


  /******************************
  TEXTAREA

  --textarea-padding
  --textarea-bg
  --textarea-border
  --textarea-radius
  --textarea-shadow
  --textarea-transition

  --textarea-hover-border
  --textarea-hover-shadow
  --textarea-focus-border
  --textarea-focus-shadow
  --textarea-disabled-bg
  --textarea-disabled-color

  --textarea-success-border
  --textarea-focus-success-shadow
  --textarea-warning-border
  --textarea-focus-warning-shadow
  --textarea-danger-border
  --textarea-focus-danger-shadow
  ******************************/

  .textarea {
    position: relative;
    width: 100%;
    padding: var(--textarea-padding, var(--size-16));
    background: var(--textarea-bg, white);
    border: var(--textarea-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-500) ));
    border-radius: var(--textarea-radius, var(--radius-xs));
    box-shadow: var(--textarea-shadow, none);
    outline: 0;
    appearance: none;
    transition: var(--textarea-transition, background-color 100ms, border-color 100ms, color 100ms, fill 100ms, stroke 100ms, opacity 100ms, box-shadow 100ms, transform  100ms);

    // PSEUDOS
    &:hover {
      border: var(--textarea-hover-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      box-shadow: var(--textarea-hover-shadow, none);
    }
    &:focus {
      border: var(--textarea-focus-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      box-shadow: var(--textarea-focus-shadow, shadow(focus));
    }
    &:disabled {
      border: var(--textarea-disabled-border, 1px solid hsl( var(--gray-hue), var(--gray-sat), var(--tint-400) ));
      background: var(--textarea-disabled-bg, hsl( var(--gray-hue), var(--gray-sat), var(--tint-800) ));
      color: var(--textarea-disabled-color, hsl( var(--gray-hue), var(--gray-sat), var(--shade-400) ));
      pointer-events: none;
    }

    // STATES
    &.is-success {
      border: var(--textarea-success-border, 1px solid hsl( var(--green-hue), var(--green-sat), var(--shade-100) ));
      &:focus {
        box-shadow: var(--textarea-focus-success-shadow, var(--shadow-focus-success));
      }
    }
    &.is-warning {
      border: var(--textarea-warning-border, 1px solid hsl( var(--yellow-hue), var(--yellow-sat), 50% ));
      &:focus {
        box-shadow: var(--textarea-focus-warning-shadow, var(--shadow-focus-warning));
      }
    }
    &.is-danger {
      border: var(--textarea-danger-border, 1px solid hsl( var(--red-hue), var(--red-sat), 50% ));
      &:focus {
        box-shadow: var(--textarea-focus-danger-shadow, var(--shadow-focus-danger));
      }
    }
  }


  /******************************
  SLIDER

  --slider-track-height
  --slider-track-color

  --slider-size
  --slider-color
  --slider-radius
  --slider-hover-color
  ******************************/

  .slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: var(--slider-track-height, 2px);
    outline: 0;
    background: var(--slider-track-color, #ccc);
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: var(--slider-size, 14px);
      height: var(--slider-size, 14px);
      background: var(--slider-color, #000);
      cursor: pointer;
      border-radius: var(--slider-radius, 9999px);
      &:hover {
        background: var(--slider-hover-color, #000);
      }
    }
    &::-moz-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: var(--slider-size, 14px);
      height: var(--slider-size, 14px);
      background: var(--slider-color, #000);
      cursor: pointer;
      border-radius: var(--slider-radius, 9999px);
      &:hover {
        background: var(--slider-hover-color, #000);
      }
    }
  }
}
