---
layout: layouts/base.njk
---

{% include "partials/nav.njk" %}

<section>
  <div class="wrapper">
    <div class="grid grid-cols-1 sm.grid-cols-12 gap-72" data-barba="container" data-barba-namespace="get-started">
      <div class="sm.col-12 lg.col-9 py-64 pt-48 sm.pt-72">
        <div class="color-white" style="--markdown-heading-color: white; --markdown-paragraph-color: white;">
          {{ content | safe }}
        </div>
      </div>
      <div class="relative hidden lg.block lg.col-3">
        <div class="sticky flex justify-content-end py-64 pt-72 top-56 h-100vh overflow-auto">
          <div class="w-100p">
            
            <div class="pb-64">
              <h6 class="font-sm bold mb-18 color-white">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div>
      {# <div class="relative hidden lg.block lg.col-2">
        <div class="sticky flex justify-content-end py-64 pt-72 top-56 h-100vh overflow-auto">
          <div class="w-100p">
            
            <div class="pb-64">
              <h6 class="font-sm bold mb-18 color-white">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div> #}
    </div>
  </div>
</section>