---
layout: layouts/base.njk
---

{% include "partials/nav.njk" %}

<section>
  <div class="wrapper">
    <div class="flex">
      <aside class="hidden sm.block w-192 flex-none">
        <div class="t-56 sticky h-100vh overflow-auto overscroll-contain py-64 pt-72">
          
          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-gray border-opacity-20">
            <h6 class="font-md font-bold mb-16">
              Introduction
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.introduction -%}
                <a href="{{ post.url }}" class="font-md font-semibold transition-100 transform translate-x-0 {% if post.url == page.url %}color-black hover.color-black{% else %} color-blue-gray color-shade-400 color-opacity-60 hover.color-opacity-80 hover.translate-x-6{% endif %} leading-looser">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-gray border-opacity-20">
            <h6 class="font-md font-bold mb-16">
             Fundamentals
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.fundamentals -%}
                <a href="{{ post.url }}" class="font-md font-semibold transition-100 transform translate-x-0 {% if post.url == page.url %}color-black hover.color-black{% else %} color-blue-gray color-shade-400 color-opacity-60 hover.color-opacity-80 hover.translate-x-6{% endif %} leading-looser">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-gray border-opacity-20">
            <h6 class="font-md font-bold mb-16">
              Customization
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.customization -%}
                <a href="{{ post.url }}" class="font-md font-semibold transition-100 transform translate-x-0 {% if post.url == page.url %}color-black hover.color-black{% else %} color-blue-gray color-shade-400 color-opacity-60 hover.color-opacity-80 hover.translate-x-6{% endif %} leading-looser">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-gray border-opacity-20">
            <h6 class="font-md font-bold mb-16">
              Theming
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.theming -%}
                <a href="{{ post.url }}" class="font-md font-semibold transition-100 transform translate-x-0 {% if post.url == page.url %}color-black hover.color-black{% else %} color-blue-gray color-shade-400 color-opacity-60 hover.color-opacity-80 hover.translate-x-6{% endif %} leading-looser">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-gray border-opacity-20">
            <h6 class="font-md font-bold mb-16">
              Module
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.modules -%}
                <a href="{{ post.url }}" class="font-md font-semibold transition-100 transform translate-x-0 {% if post.url == page.url %}color-black hover.color-black{% else %} color-blue-gray color-shade-400 color-opacity-60 hover.color-opacity-80 hover.translate-x-6{% endif %} leading-looser">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

        </div>
      </aside>

      <div class="flex-auto">
        <div class="block sm.hidden py-20">
          <div class="select">
            <select class="js-select-url">
              <optgroup label="Introduction">
                {%- for post in collections.introduction -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
              <optgroup label="Fundamentals">
                {%- for post in collections.fundamentals -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
              <optgroup label="Customization">
                {%- for post in collections.customization -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
              <optgroup label="Theming">
                {%- for post in collections.theming -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
              <optgroup label="Modules">
                {%- for post in collections.modules -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
            </select>
            <div class="select__angle">

            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 sm.grid-cols-12 lg.gap-0" data-barba="container" data-barba-namespace="get-started">
          <div class="col-10 sm.px-56 lg.px-80 py-64 pt-48 sm.pt-72">
            <h1 class="flex align-items-start relative font-6xl font-extrabold mb-12 tracking-tight">
              {{ title | safe }}
            </h1>
            <p class="font-xl font-semibold color-black pb-56 border-b-4 border-gray border-opacity-20">
              {{ description | safe }}
            </p>
            <div class="markdown">
              {{ content | safe }}
            </div>
          </div>
          <div class="relative hidden lg.block lg.col-2">
            <div class="sticky flex justify-content-end py-64 pt-72 t-56 h-100vh overflow-auto">
              <div class="w-100p">
                
                <div class="pb-64">
                  <h6 class="font-md font-bold mb-16">
                    On this page
                  </h6>
                  {{ content | toc | safe }}
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>