---
layout: layouts/base.njk
---

{% include "partials/nav.njk" %}

<section>
  <div class="wrapper">
    <div class="flex">
      <aside class="hidden sm.block w-224 flex-none">
        <div class="t-0 sticky h-100vh overflow-auto py-64">

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Alignment
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.alignment -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Appearance
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.appearance -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Background
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.background -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Border
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.border -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Composition
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.composition -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Effect
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.effect -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Flexbox
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.flexbox -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Gap
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.gap -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Grid
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.grid -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Interactive
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.interactive -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Margin
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.margin -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Padding
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.padding -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Overflow
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.overflow -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              SVG
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.svg -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Typography
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.typography -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Transform
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.transform -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

          <div class="mb-40 last.mb-0 pb-40 border-b-1 last.border-b-0 border-silver-300">
            <h6 class="font-sm font-bold mb-16">
              Transition
            </h6>
            <nav class="flex flex-col align-items-start">
              {%- for post in collections.transition -%}
                <a href="{{ post.url }}" class="font-sm transition-100 transform translate-x-0 {% if post.url == page.url %}text-black{% else %}text-gray-100 hover.translate-x-1{% endif %} leading-looser hover.text-black">{{ post.data.title }}</a>
              {%- endfor -%}
            </nav>
          </div>

        </div>
      </aside>

      <div class="flex-auto">
        <div class="block sm.hidden p-24">
          <div class="select">
            <select class="js-select-url">
              <optgroup label="Introduction">
                {%- for post in collections.introduction -%}
                  <option value="{{ post.data.title | slug }}"
                    {% if post.url == page.url %}selected{% endif %}
                  >{{ post.data.title }}</option>
                {%- endfor -%}
              </optgroup>
            </select>
            <div class="select__angle">

            </div>
          </div>
        </div>
        
        <div class="grid grid-cols-1 sm.grid-cols-12 lg.gap-0">
          <div class="col-9 sm.px-64 py-64">
            <h1 class="flex align-items-start relative font-6xl font-bold mb-20 tracking-tight">
              {{ title | safe }}
            </h1>
            <p class="font-xl text-black pb-64 border-b-1 border-silver-300 mb-64">
              {{ description | safe }}
            </p>
            <div class="markdown markdown-glossary">
              {{ content | safe }}
            </div>
          </div>
          <div class="relative hidden lg.block lg.col-3">
            <div class="sticky flex justify-content-end pt-64 t-0">
              <div class="radius-md w-100p p-24 bg-silver-100">
                <h6 class="font-sm font-bold mb-16">
                  On this page
                </h6>
                {{ content | toc | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>