---
layout: layouts/base.njk
---

{% include "partials/nav.njk" %}

<section>
  <div class="wrapper">
    <div class="grid grid-cols-1 sm.grid-cols-12 gap-72" data-barba="container" data-barba-namespace="get-started">
      <div class="sm.col-12 lg.col-9 py-64 pt-48 sm.pt-72">
        {%- for property in properties.alignment -%}
          <article class="mb-72">
            <h2 id="{{ property.title | slug }}" class="font-3xl sm.font-7xl extrabold color-white tracking-tight mt-96 first.mt-0 mb-14">
              {{ property.title }}
            </h2>
            {# <div class="markdown font-sm mb-20" style="--markdown-paragraph-color: white;">
              {{ property.description | markdownify | safe }}
            </div> #}
            <div class="relative flex flex-wrap align-items-center gutter-x-10 mb-20">
              {%- if property.responsive -%}
                <span class="radius-round my-10 px-12 py-3 bg-green bg-opacity-20 font-xs semibold color-green">
                  responsive
                </span>
                <div>
                  <div class="w-1 h-32 mx-6 bg-cool-gray bg-shade-600"></div>
                </div>
              {%- endif -%}
              {%- for pseudo in property.pseudos -%}      
                <span class="radius-round my-10 px-12 py-3 bg-cool-gray bg-opacity-30 font-xs semibold color-cool-gray color-tint-400">
                  {{ pseudo }}
                </span>
              {%- endfor -%}
            </div>
            <div class="markdown" style="--markdown-table-border: 1px solid hsl(var(--cool-gray-hue), var(--cool-gray-sat), var(--shade-700));">
              <table class="table-auto w-100p text-left mb-56 font-xs color-white">
                <thead>
                  <tr>
                    <th class="px-12 py-12 bold">Class Name</th>
                    <th class="px-12 py-12 bold">Property</th>
                  </tr>
                </thead>
                <tbody>
                  {%- for utility in property.utilities -%}
                    <tr>
                      <td class="border-b-1 border-cool-gray border-shade-800 py-8 color-teal align-top">
                        <code class="whitespace-nowrap"><span class="select-all">{{utility.class}}</span> <span class="opacity-30">{{ property.extraSelector }}</span></code>
                      </td>
                      <td class="border-b-1 border-cool-gray border-shade-800 py-8 color-cool-gray color-tint-300">
                        {%- for item in property.customProperties -%}
                          <code class="opacity-70">{{ item }}</code><br>
                        {%- endfor -%}
                        {%- for item in utility.properties -%}
                          <code>{{ item }}</code>
                        {%- endfor -%}
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            </div>

          </article>
        {%- endfor -%}

        

        <div class="color-white" style="--markdown-heading-color: white; --markdown-paragraph-color: white;">
          {{ content | safe }}
        </div>
      </div>
      <div class="relative hidden lg.block lg.col-3">
        <div class="sticky flex justify-content-end py-64 pt-72 top-56 h-100vh overflow-auto">
          <div class="w-100p">
            
            <div class="pb-64">
              <h6 class="font-sm bold mb-18 color-white">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>