@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: align-self;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-self);

$core-variants: (
  auto: auto,
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
