@use "uniform/config/staging";
@use "uniform/config/user";
@use "sass:map";

$name: align-content;
$keyword: align-content;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-content);

$variants: (
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

staging.$config: map.deep-merge(staging.$config, $config);
staging.$config: map.deep-merge(staging.$config, user.$config);