@use "uniform/config" as *;
@use "sass:map";

$keyword: align-items;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-items);

$variants: (
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end,
  baseline: baseline
);

$pseudos: ();

$map: (
  utilities: (
    align-items: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

$default-settings: map.deep-merge($default-settings, $map);