@use "uniform/core";
@use "sass:map";

$name: text-align;
$keyword: align;
$responsive: true;
$responsive-pseudos: false;

$properties: (text-align);

$variants: (
  left: left,
  center: center,
  right: right,
  justify: justify
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);