@use "uniform/core" as *;
@use "sass:map";
@use "sass:list";

$keyword: justify-content;
$responsive: true;
$responsive-pseudos: false;

$properties: (justify-content);

$core-variants: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
);

$variants: ();

$final-variants: map.merge($core-variants, $variants);

$core-pseudos: ();
$pseudos: ();
$final-pseudos: list.join($core-pseudos, $pseudos);

@include constructor(
  $keyword,
  $responsive,
  $responsive-pseudos,
  $properties,
  $final-variants,
  $final-pseudos
);
