@use "uniform/core";
@use "sass:map";

$name: align-content;
$keyword: align-content;
$responsive: true;
$responsive-pseudos: false;

$properties: (align-content);
$custom-properties: ();

$variants: (
  stretch: stretch,
  center: center,
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      keyword: $keyword,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);