@use "uniform/core";
@use "sass:map";

$name: split-opacity;
$shorthand: split;
$responsive: false;
$responsive-pseudos: false;
$special-suffix: '> * + *';

$properties: (#{--split-opacity});
$custom-properties: ();

$split-map: ();
@each $size-key, $size-value in core.opacity-levels() {
  $map: (
    $size-key: $size-value,
  );
  $split-map: map.merge($split-map, $map);
}

$variants: (
	core.merge(
    $split-map
	)
);

$pseudos: (hover, group-hover, dark);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      special-suffix: $special-suffix,
      properties: $properties,
      custom-properties: $custom-properties,
      default-variants: (
        $variants
      ),
      default-pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
core.$all-config: map.deep-merge(core.$all-config, core.$config);